.vuuConnectionStatusIndicator {
  align-items: center;
  display: flex;
  gap: var(--salt-spacing-400);
  height: 24px;
  padding: 0 var(--salt-spacing-200);
}

.vuuConnectionStatusIndicator-text {
  text-transform: capitalize;
}

/* .vuuDisconnectedStatus::after {
  --vuu-icon-svg: var(--svg-disconnected-status);
  background-color: red;
  transform: scale(1);
  animation: infinite pulse 0.5s;
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
} */
