.vuuConnectionStateDisplay {
  --ballbox-height: 24px;
  --message-height: 14px;
  --row-gap: 3px;
  --top-row: calc(var(--ballbox-height) + var(--message-height));
  --bottom-row: 0px;

  align-items: center;
  background: var(--salt-container-secondary-background);
  column-gap: var(--salt-spacing-200);
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: var(--top-row) var(--bottom-row);
  justify-items: end;
  height: calc(var(--ballbox-height) + var(--message-height) + var(--row-gap));
  padding: 0 var(--salt-spacing-200);
  transition: grid-template-rows 0.4s linear;
  row-gap: var(--row-gap);
  width: max-content;

  .vuuTrafficLightControl {
    grid-area: 1/2/2/3;
    padding-left: 20px;
  }

  &.vuuConnectionStateDisplay-disconnected {
    --top-row: var(--ballbox-height);
    --bottom-row: var(--message-height);
  }

  .vuuConnectionRetryCountdown {
    color: var(--salt-content-secondary-foreground);
    grid-area: 2/2/3/3;
    font-size: 11px;
    text-align: end;
    width: 100%;
  }
}

.vuuConnectionStateDisplay-text {
  grid-area: 1/1/2/2;
  text-transform: capitalize;
}
