/*
There is work to do to sort out styling across Portal/Popup/Draggable
*/
.vuuPortal {
    position: absolute;
    z-index: 100;
}

.vuuPortal:not(.vuuPopup) {
    background-color: var(--salt-container-primary-background);
    border-radius:4px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    border-color: var(--vuuMenuList-borderColor, var(--salt-container-primary-borderColor));
    border-style: solid;
    border-width: 1px;
    padding: 4px 0;
}

.vuuPortal:has(.vuuDropdown-popup-component.vuuList-empty){
    display: none;
}

#vuu-portal-root {
    z-index: 1000;
}