.vuuColumnResizer {
    cursor: col-resize;
    margin-left: auto;
    width: 4px;
}

.vuuColumnResizer:after {
    content: '';
    position: absolute;
    width: var(--columnResizer-width, 1px);
    top:0;
    bottom:0;
    right: 0;
    background-color: var(--columnResizer-color, var(--salt-separable-tertiary-borderColor));
    height: var(--columnResizer-height, 100%);
}