
.vuuDataTable {
  background-color: var(--salt-container-primary-background, inherit);
  height: var(--table-height);
  position: relative;
  width: var(--table-width);
}
.vuuDataTable-content {
  
  --table-background: var(--salt-container-primary-background, inherit);

  --vuuTable-contentHeight: var(--content-height, 'auto');
  --vuuTable-contentWidth: var(--content-width, 'auto');
  --vuuTableHeaderHeight: var(--header-height, 30px);
  --vuuTable-width: calc(var(--table-height) - var(--scrollbar-size));
  --vuuTable-pinnedWidthLeft: var(--pinned-width-left, 0pxs);
  --vuuTable-scrollbarSize: var(--scrollbar-size, 15px);
  --vuuTable-width: calc(var(--table-width) - var(--scrollbar-size));

  background-color: var(--salt-container-primary-background);

  height: var(--vuuTable-height);
  position: relative;
  overflow: auto;
  overscroll-behavior: none;
  width: var(--vuuTable-width);
}

.vuuDataTable-content::-webkit-scrollbar {
  display: none;
}

.vuuDataTable-scrollContainer {
  border-left: solid 1px var(--salt-container-primary-borderColor);
  border-top: solid 1px var(--salt-container-primary-borderColor);
  overflow: auto;
  position: absolute;
  height: calc(var(--table-pixel-height) - var(--header-height) + 1px);
  width: calc(var(--table-pixel-width) - var(--pinned-width-left) + 1px);
}

.vuuDataTable-scrollContainerHeader {
  background: #777;
  height: var(--header-height);
  position: fixed;
  top:0;
  right:0;
  width: var(--vuuTable-scrollbarSize);
}
.vuuDataTable-scrollContainerFooter {
  background-color: green;
  height: var(--vuuTable-scrollbarSize);
  position: fixed;
  bottom:0;
  left:0;
  width: var(--pinned-width-left);

}

.vuuDataTable-scrollContent {
  position: absolute;
  height: var(--content-height);
  width: var(--content-width);
}

.vuuDataTable-tableContainer {
  background-color: var(--table-background);
  border-bottom: solid 1px var(--salt-container-primary-borderColor);
  height: calc(var(--table-pixel-height) - var(--scrollbar-size));
  left: 0px;
  overflow: hidden;
  position: sticky;
  top: 0px;
  width: calc(var(--table-pixel-width) - var(--scrollbar-size));
  white-space: nowrap;

}


.vuuDataTable-table {
  --vuuTable-rowHeight: var(--row-height);
  --vuuTableCell-border-bottomColor: transparent;
  --vuuTableCell-border-rightColor: var(--salt-separable-tertiary-borderColor);

  position: absolute;
  top: 0;
  left: 0;

  background-color: #fff;
  border-collapse: separate;
  border-spacing: 0;
  border-left: 1px solid #ccc;
  border: none;
  font-size: var(--vuuDataTable-font-size, 10px);
  margin: 0;
  table-layout: fixed;
  width: var(--vuuTable-contentWidth);
}

.vuuDataTable-columnBased {
  display: inline-table;
  height: var(--vuuTable-height);
  position: static;
}

/* .vuuDataTable-columnBased .vuuDataTable-headerCell{
  background-color: darkmagenta;
} */

.vuuDataTable-filler {
  height: var(--filler-height);
}


.vuuDataTable-table td {
  border-right: 1px solid var(--vuuTableCell-border-rightColor);
  border-bottom: 1px solid var(--vuuTableCell-border-bottomColor);
  line-height: calc(var(--vuuTable-rowHeight) - 1px);
  padding: 0 5px;
}

.vuuDataTable-table td {
  color: var(--salt-text-primary-foreground);
  cursor: default;
  height: var(--vuuTable-rowHeight);
}

.vuuPinLeft {
  position: sticky;
  left: 0;
}

th.vuuPinLeft {
  top:0;
  z-index: 2;
}

table.vuuPinLeft {
  z-index: 10;
}

/* .vuuDataTable-row {
  transform: translate3d(0px, 25px, 0px);
} */

