
.vuuDataTable {
  --dataTable-background: var(--salt-container-primary-background, inherit);
  --row-background-even: var(--dataTable-background);
  --row-background-odd: var(--dataTable-background);
  --table-background: var(--dataTable-background);
  background-color: var(--dataTable-background);
  position: relative;
}

.vuuDataTable-zebra {
  --row-background-even: var(--salt-container-secondary-background);
  --table-background: 0 var(--header-height) repeating-linear-gradient(
    to bottom, 
    var(--salt-container-secondary-background), 
    var(--salt-container-secondary-background) var(--row-height), 
    var(--dataTable-background) var(--row-height), 
    var(--dataTable-background) calc(var(--row-height) *2));
}

.vuuDataTable-contentContainer {
  
  --vuuTable-contentHeight: var(--content-height, 'auto');
  --vuuTable-contentWidth: var(--content-width, 'auto');
  --vuuTableHeaderHeight: var(--header-height, 30px);
  --vuuTable-height: calc(var(--table-height) - var(--scrollbar-size));
  --vuuTable-pinnedWidthLeft: var(--pinned-width-left, 0pxs);
  --vuuTable-scrollbarSize: var(--scrollbar-size, 15px);
  --vuuTable-width: calc(var(--table-width) - var(--scrollbar-size));

  background-color: var(--salt-container-primary-background);

  height: var(--vuuTable-height);
  position: relative;
  overflow: auto;
  overscroll-behavior: none;
  width: var(--vuuTable-width);
}

.vuuDataTable-contentContainer::-webkit-scrollbar {
  display: none;
}

.vuuDataTable-scrollbarContainer {
  --scroll-content-width: calc(var(--content-width) - var(--pinned-width-left));
  border-left: solid 1px var(--salt-container-primary-borderColor);
  border-top: solid 1px var(--salt-container-primary-borderColor);
  overflow: auto;
  position: absolute;
  height: calc(var(--table-height) - var(--total-header-height) + 1px);
  width: calc(var(--table-width) - var(--pinned-width-left) + 1px);
}

.vuuDataTable-scrollContainerHeader {
  background: #777;
  height: var(--header-height);
  position: fixed;
  top:0;
  right:0;
  width: var(--vuuTable-scrollbarSize);
}
.vuuDataTable-scrollContainerFooter {
  background-color: green;
  height: var(--vuuTable-scrollbarSize);
  position: fixed;
  bottom:0;
  left:0;
  width: var(--pinned-width-left);

}

.vuuDataTable-scrollContent {
  position: absolute;
  height: var(--content-height);
  width: var(--scroll-content-width, var(--content-width));
}

.vuuDataTable-tableContainer {
  background-color: var(--dataTable-background);
  border-bottom: solid 1px var(--salt-container-primary-borderColor);
  height: calc(var(--table-height) - var(--scrollbar-size));
  left: 0px;
  overflow: hidden;
  position: sticky;
  top: 0px;
  width: calc(var(--table-width) - var(--scrollbar-size));
  white-space: nowrap;

}


.vuuDataTable-table {
  --vuuTable-rowHeight: var(--row-height);
  --vuuTableCell-border-bottomColor: transparent;
  --vuuTableCell-border-rightColor: var(--salt-separable-tertiary-borderColor);

  position: absolute;
  top: 0;
  left: 0;

  background: var(--table-background);
  /* background-position: 0 25px; */

  border-collapse: separate;
  border-spacing: 0;
  border-left: 1px solid #ccc;
  border: none;
  font-size: var(--vuuDataTable-font-size, 10px);
  margin: 0;
  min-height: 100%;
  table-layout: fixed;
  width: var(--vuuTable-contentWidth);
}

.vuuDataTable-columnBased {
  display: inline-table;
  height: var(--vuuTable-height);
  position: static;
}

/* .vuuDataTable-columnBased .vuuDataTable-headerCell{
  background-color: darkmagenta;
} */

.vuuDataTable-filler {
  height: var(--filler-height);
}

:is(.vuuPinLeft, .vuuPinRight, .vuuPinFloating) {
  position: sticky;
}

.vuuAlignRight {
  text-align: right;
}

th:is(.vuuPinLeft, .vuuPinRight, .vuuPinFloating) {
  top:0;
  z-index: 20;
}

table:is(.vuuPinLeft, .vuuPinRight, .vuuPinFloating) {
  z-index: 10;
}

/* .vuuDataTable-row {
  transform: translate3d(0px, 25px, 0px);
} */

.vuuDataTable-settings {
  height: var(--header-height);
  position: absolute;
  right: 0;
  top:0;
  width: 15px;
}

.vuuDataTable:has(.vuuTable-headerCell-resizing) * {
  cursor: col-resize;
}

.saltDraggable-table-column {
  background-color: var(--salt-container-primary-background);
  overflow: hidden;
}

.vuuDataTable-loading .vuuDataTable-table {
  --skeleton-height: 20px;
  --skeleton-width: calc(var(--content-width) - 8px);
  --skeleton-left: 4px;
  --skeleton-row-height: 16px;
  --skeleton-size: var(--skeleton-width) var(--skeleton-height);
  --skeleton-row: linear-gradient(
    var(--salt-color-gray-20-fade-background) var(--skeleton-row-height),
    transparent 0
  );
  --skeleton-background-image: var(--skeleton-row);

  background-image: var(--skeleton-background-image);
  background-repeat: repeat-y;
  background-size: var(--skeleton-size);
  background-position-x: var(--skeleton-left);
  background-position-y: 27px;

  /* animation:linearAnim 2s infinite linear */
}

.vuuDataTable-loading .vuuDataTable-table:after {
  animation: shimmer 2s infinite;
  background: linear-gradient(
    90deg, 
    rgba(255,255,255, 0) 0, 
    rgba(255,255,255, .2) 20%, 
    rgba(255,255,255, .6) 60%, 
    rgba(255,255,255, 0)
    );
  content: '';
  height: var(--table-height);
  left: 0px;
  position: absolute;
  transform: translateX(-100%);
  top: var(--header-height);
  width: var(--content-width);
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}