
.vuuDataTable {
  background-color: var(--salt-container-primary-background, inherit);
  position: relative;
}
.vuuDataTable-contentContainer {
  
  --table-background: var(--salt-container-primary-background, inherit);

  --vuuTable-contentHeight: var(--content-height, 'auto');
  --vuuTable-contentWidth: var(--content-width, 'auto');
  --vuuTableHeaderHeight: var(--header-height, 30px);
  --vuuTable-height: calc(var(--table-height) - var(--scrollbar-size));
  --vuuTable-pinnedWidthLeft: var(--pinned-width-left, 0pxs);
  --vuuTable-scrollbarSize: var(--scrollbar-size, 15px);
  --vuuTable-width: calc(var(--table-width) - var(--scrollbar-size));

  background-color: var(--salt-container-primary-background);

  height: var(--vuuTable-height);
  position: relative;
  overflow: auto;
  overscroll-behavior: none;
  width: var(--vuuTable-width);
}

.vuuDataTable-contentContainer::-webkit-scrollbar {
  display: none;
}

.vuuDataTable-scrollbarContainer {
  --scroll-content-width: calc(var(--content-width) - var(--pinned-width-left));
  border-left: solid 1px var(--salt-container-primary-borderColor);
  border-top: solid 1px var(--salt-container-primary-borderColor);
  overflow: auto;
  position: absolute;
  height: calc(var(--table-height) - var(--total-header-height) + 1px);
  width: calc(var(--table-width) - var(--pinned-width-left) + 1px);
}

.vuuDataTable-scrollContainerHeader {
  background: #777;
  height: var(--header-height);
  position: fixed;
  top:0;
  right:0;
  width: var(--vuuTable-scrollbarSize);
}
.vuuDataTable-scrollContainerFooter {
  background-color: green;
  height: var(--vuuTable-scrollbarSize);
  position: fixed;
  bottom:0;
  left:0;
  width: var(--pinned-width-left);

}

.vuuDataTable-scrollContent {
  position: absolute;
  height: var(--content-height);
  width: var(--scroll-content-width, var(--content-width));
}

.vuuDataTable-tableContainer {
  background-color: var(--table-background);
  border-bottom: solid 1px var(--salt-container-primary-borderColor);
  height: calc(var(--table-height) - var(--scrollbar-size));
  left: 0px;
  overflow: hidden;
  position: sticky;
  top: 0px;
  width: calc(var(--table-width) - var(--scrollbar-size));
  white-space: nowrap;

}


.vuuDataTable-table {
  --vuuTable-rowHeight: var(--row-height);
  --vuuTableCell-border-bottomColor: transparent;
  --vuuTableCell-border-rightColor: var(--salt-separable-tertiary-borderColor);

  position: absolute;
  top: 0;
  left: 0;

  background: repeating-linear-gradient(
    to bottom, 
    var(--salt-container-secondary-background), 
    var(--salt-container-secondary-background) 20px, 
    var(--table-background) 20px, 
    var(--table-background) 40px);
  border-collapse: separate;
  border-spacing: 0;
  border-left: 1px solid #ccc;
  border: none;
  font-size: var(--vuuDataTable-font-size, 10px);
  margin: 0;
  min-height: 100%;
  table-layout: fixed;
  width: var(--vuuTable-contentWidth);
}

.vuuDataTable-columnBased {
  display: inline-table;
  height: var(--vuuTable-height);
  position: static;
}

/* .vuuDataTable-columnBased .vuuDataTable-headerCell{
  background-color: darkmagenta;
} */

.vuuDataTable-filler {
  height: var(--filler-height);
}

:is(.vuuPinLeft, .vuuPinRight, .vuuPinFloating) {
  position: sticky;
}

.vuuAlignRight {
  text-align: right;
}

th:is(.vuuPinLeft, .vuuPinRight, .vuuPinFloating) {
  top:0;
  z-index: 20;
}

table:is(.vuuPinLeft, .vuuPinRight, .vuuPinFloating) {
  z-index: 10;
}

/* .vuuDataTable-row {
  transform: translate3d(0px, 25px, 0px);
} */

.vuuDataTable-settings {
  height: var(--header-height);
  position: absolute;
  right: 0;
  top:0;
}

.vuuDataTable:has(.vuuTable-headerCell-resizing) * {
  cursor: col-resize;
}

.saltDraggable-table-column {
  background-color: var(--salt-container-primary-background);
  overflow: hidden;
}

