.DragVizItem:nth-child(odd) {
background-color: rgba(255,255,0,.5);
}

.DragVizItem:nth-child(even) {
background-color: rgba(255,192,203, .5);
}

.DragVizItem-dropTarget {
    background-color: navy !important;
    color: white;
    position: relative;
}

.DragVizItem-dropTarget-start:after {
    background-color: red;
    content: '';
    position: absolute;
    height: 5px;
    width: 100%;
    left: 0;
    top: 0;
}

.DragVizItem-dropTarget-end:after {
    background-color: red;
    content: '';
    position: absolute;
    height: 5px;
    width: 100%;
    left: 0;
    bottom: 0;
}