.vuuDataTableRow-even {
    --row-background: var(--salt-container-secondary-background);
  }
  
  .vuuDataTableRow:not(.vuuDataTableRow-even) {
    --row-background: var(--vuuTableRow-backgroundColor-odd, var(--table-background));
  }

  .vuuDataTableRow {
    background: var(--row-background);
  }

  .vuuDataTableRow :is(.vuuPinFloating, .vuuPinLeft, .vuuPinRight) {
    background-color: var(--row-background);
  }
  
  .vuuDataTableRow-expanded {
    --row-toggle-icon-transform: rotate(90deg);
  }
  
  .vuuDataTableRow[aria-selected] {
    background-color: var(--vuuTableRow-selected-background, var(--salt-selectable-background-selected));
    --vuuTableCell-border-bottomColor: var(--salt-selectable-borderColor-selected);
  }

  .vuuDataTableRow:not([aria-selected]):has(+ [aria-selected]) {
    --vuuTableCell-border-bottomColor: var(--salt-selectable-borderColor-selected);
  }