.vuuDataTableRow-even {
    --row-background: var(--salt-container-secondary-background);
  }
  
  .vuuDataTableRow:not(.vuuDataTableRow-even) {
    --row-background: var(--vuuTableRow-backgroundColor-odd, var(--table-background));
  }

  .vuuDataTableRow {
    background: var(--row-background);
  }

  .vuuDataTableRow :is(.vuuPinFloating, .vuuPinLeft, .vuuPinRight) {
    background-color: var(--row-background);
  }
  
  .vuuDataTableRow-expanded {
    --row-toggle-icon-transform: rotate(90deg);
  }
  