/* We support multi level headings up to a  maximum of 4 heading levels */
.vuuTable-heading:nth-child(2) {
  --heading-top: calc(var(--header-height));
}
.vuuTable-heading:nth-child(3) {
  --heading-top: calc(var(--header-height) * 2);
}
.vuuTable-heading:nth-child(3) {
  --heading-top: calc(var(--header-height) * 3);
}

.vuuTable-headingCell {
  background: var(--dataTable-background);
  border-color: var(--salt-separable-tertiary-borderColor);
  border-style: solid solid solid none;
  border-width: 1px;
  color: var(--salt-text-secondary-foreground);
  height: var(--vuuTableHeaderHeight);
  padding: 0 !important;
  position: sticky;
  top: var(--heading-top, 0);
  z-index: 1;
}

.vuuTable-heading:has(+ .vuuTable-heading) > .vuuTable-headingCell {
  border-bottom-color: transparent;
}

.vuuTable-headerCell {
  --cell-align: 'flex-start';
  text-align: left;
    background: var(--dataTable-background);
    /* border-right: var(--header-border-rightWidth, 1px) solid var(--header-border-rightColor, var(--salt-separable-tertiary-borderColor)); */
    border-bottom: 2px solid var(--salt-separable-tertiary-borderColor);
    color: var(--salt-text-secondary-foreground);
    cursor: default;
    padding: 0 !important;
    position: sticky;
    top: calc(var(--total-header-height) - var(--header-height));
    height: var(--vuuTableHeaderHeight);
    /* ensure header row sits atop everything else when scrolling down */
    z-index: 1;
  }

  .vuuTable-headerCell-right {
    --cell-align: flex-end;
  }
 
  .vuuTable-headerCell-inner {
    align-items: stretch;
    display: flex;
    height: 100%;
    padding: 0 0 0 3px;
  }

  .vuuTable-headerCell-inner:has(.vuuFilterIndicator){
    padding-left: 0;
  }

  .vuuTable-headerCell-label {
    align-items: center;
    justify-content: var(--cell-align);
    display: flex;
    flex: 1 1 auto;
  }

  .vuuTable-headerCell-resizing {
    --columnResizer-color: var(--salt-color-blue-500);
    --columnResizer-height: var(--table-height);
    --columnResizer-width: 2px;
  }

  .vuuTable-headerCell.vuuPinLeft.vuuEndPin:after {
    box-shadow: 2px 0px 5px rgba(0,0,0,0.4);
    content: "";
    position: absolute;
    width: 1px;
    background-color: transparent;
    height: var(--table-height);
    top:0;
    right: 0px;
  }

  .vuuTable-headerCell.vuuPinRight.vuuEndPin:after {
    box-shadow: -2px 0px 5px rgba(0,0,0,0.3);
    content: "";
    position: absolute;
    width: 1px;
    background-color: transparent;
    height: var(--table-height);
    top:0;
    left: 0px;
  }