
.salt-theme {
 --svg-spinner: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><path fill="rgb(38, 112, 169)" d="M73,50c0-12.7-10.3-23-23-23S27,37.3,27,50 M30.9,50c0-10.5,8.5-19.1,19.1-19.1S69.1,39.5,69.1,50"><animateTransform attributeName="transform" attributeType="XML" type="rotate" dur="1s" from="0 50 50" to="360 50 50" repeatCount="indefinite" /></path></svg>');
}

.vuuTable-groupHeaderCell {
  --cell-align: 'flex-start';
  text-align: left;
    background: var(--dataTable-background);
    border-right: 1px solid var(--salt-separable-tertiary-borderColor);
    border-bottom: 2px solid var(--salt-separable-tertiary-borderColor);
    color: var(--salt-text-secondary-foreground);
    cursor: default;
    padding: 0 !important;
    position: sticky;
    top: 0;
    height: var(--vuuTableHeaderHeight);
    /* ensure header row sits atop everything else when scrolling down */
    z-index: 1;
  }


  .vuuTable-groupHeaderCell-inner {
    display: flex;
    height: 100%;
  }

  .vuuTable-groupHeaderCell-label {
    align-items: center;
    display: flex;
    flex: 0 0 auto;
  }

  .vuuTable-groupHeaderCell-col {
    align-items: center;
    background-color: inherit;
    display: inline-flex;
    flex: 0 1 auto;
    height: calc(var(--vuuTableHeaderHeight) - 4px);
    justify-content: space-between;
    padding-right: 8px;
    position: relative;
  }

  .vuuTable-groupHeaderCell-close {
    --vuu-icon-height: 18px;
    --vuu-icon-width: 18px;
    cursor: pointer;
    left: 3px;
  }

  .vuuTable-groupHeaderCell-col:nth-child(odd) {
    background-color: var(--salt-color-gray-50);
  }
  .vuuTable-groupHeaderCell-col:nth-child(even) {
    background-color: var(--salt-color-gray-40);
  }

  .vuuTable-groupHeaderCell-col:first-child {
    clip-path: polygon(0 0, calc(100% - 8px) 0, 100% 50%, calc(100% - 8px) 100%, 0 100%);
    padding-left: 3px;
    z-index: 1;
  }
  
  .vuuTable-groupHeaderCell-col:not(:first-child) {
    margin-left: -6px;
    padding-left: 12px;
    clip-path: polygon(0 0, calc(100% - 8px) 0, 100% 50%, calc(100% - 8px) 100%, 0 100%, 8px 50%);
  }
  
  .vuuTable-groupHeaderCell-resizing {
    --columnResizer-color: var(--salt-color-blue-500);
    --columnResizer-height: var(--table-height);
    --columnResizer-width: 2px;
  }
  .vuuTable-groupHeaderCell-pending {
    --pending-content: '';
  }

  .vuuTable-groupHeaderCell-col:after {
    content: var(--pending-content);
    width: 24px;
    height:24px;
    background-image: var(--svg-spinner);
    background-repeat: no-repeat;
    background-size: cover;
  }
