.vuuTable-headerCell {
  --cell-align: 'flex-start';
  text-align: left;
    background: var(--table-background);
    /* border-right: var(--header-border-rightWidth, 1px) solid var(--header-border-rightColor, var(--salt-separable-tertiary-borderColor)); */
    border-bottom: 2px solid var(--salt-separable-tertiary-borderColor);
    color: var(--salt-text-secondary-foreground);
    cursor: default;
    padding: 0 !important;
    position: sticky;
    top: 0;
    height: var(--vuuTableHeaderHeight);
    /* ensure header row sits atop everything else when scrolling down */
    z-index: 1;
  }

  .vuuTable-headerCell-right {
    --cell-align: flex-end;
  }
 
  .vuuTable-headerCell-inner {
    align-items: stretch;
    display: flex;
    height: 100%;
    padding: 0 0 0 3px;
  }

  .vuuTable-headerCell-inner:has(.vuuFilterIndicator){
    padding-left: 0;
  }

  .vuuTable-headerCell-label {
    align-items: center;
    justify-content: var(--cell-align);
    display: flex;
    flex: 1 1 auto;
  }

  .vuuTable-headerCell-resizing {
    --columnResizer-color: var(--salt-color-blue-500);
    --columnResizer-height: var(--table-height);
    --columnResizer-width: 2px;
  }