.vuuTable-headerCell {
  text-align: left;
    background: var(--table-background);
    border-right: 1px solid var(--salt-separable-tertiary-borderColor);
    border-bottom: 2px solid var(--salt-separable-tertiary-borderColor);
    color: var(--salt-text-secondary-foreground);
    cursor: default;
    padding-left: 3px;
    position: sticky;
    top: 0;
    height: var(--vuuTableHeaderHeight);
    /* ensure header row sits atop everything else when scrolling down */
    z-index: 1;
  }
 