.vuuShell {
  background-color: var(--salt-container-primary-background, ivory);
  height: var(--vuuShell-height, 100vh);
  width: var(--vuuShell-width, 100vw);
}

.vuuShell-palette {
  --vuuView-border: none;
  --vuuView-margin: 0;
}

.vuuShell-warningPlaceholder {
  background-color: var(--salt-container-background-high);
  height: 100%;
}
