.vuuShell {
  background-color: var(
    --vuuShell-background,
    var(--salt-container-primary-background)
  );
  height: var(--vuuShell-height, 100vh);
  width: var(--vuuShell-width, 100vw);

  .left-main-tabs {
    --vuuOverflowContainer-width: 48px;
  }
}

.vuu-workspace-tabs {
  background: var(
    --vuuWorkspace-background,
    var(--salt-container-primary-background)
  );
}

.vuuShell-palette {
  --vuuView-border: none;
  --vuuView-margin: 0;
}

.vuuShell-warningPlaceholder {
  background-color: var(--salt-container-background-high);
  height: 100%;
}

/* until we reinstat5e the toolbar */
.vuuToolbarProxy {
  background: var(--salt-container-primary-background);
}

.vuu-workspace-tabs > .vuuTabstrip > .vuuOverflowContainer-wrapContainer {
  background: var(--vuuShell-background, var(--salt-container-primary-background));
}

.vuu-workspace-tabs {
  --vuuTab-height: 28px;
  border: solid 1px var(--salt-separable-primary-borderColor);
  border-top: none !important;
  border-radius: 6px;
  height: 100%;
  padding: 36px 8px 8px 8px;
  position: relative;
  width: 100%;
}

.vuu-workspace-tabs > .vuuTabstrip {
  left: 0px;
  padding-bottom: 7px;
  position: absolute !important;
  right: 0px;
  top: 0;
}

.vuuShell-content {
  padding: var(--vuuShell-content-padding, 8px);
}
