.vuuShell {
  background-color: var(--vuu-color-gray-25);
  height: var(--vuuShell-height, 100vh);
  width: var(--vuuShell-width, 100vw);
}

.vuuShell-mainTabs {
  background: var(--salt-container-primary-background);
}

.vuuShell-palette {
  --vuuView-border: none;
  --vuuView-margin: 0;
}

.vuuShell-warningPlaceholder {
  background-color: var(--salt-container-background-high);
  height: 100%;
}

/* until we reinstat5e the toolbar */
.vuuToolbarProxy {
  background: var(--salt-container-primary-background);
}

.vuuShell-mainTabs > .vuuTabstrip > .vuuOverflowContainer-wrapContainer {
  background: var(--vuu-color-gray-25);
}

.vuuShell-mainTabs {
  --vuuTab-height: 28px;
  border: solid 1px #D6D7DA;
  border-top: none !important;
  border-radius: 6px;
  height: 100%;
  padding: 36px 8px 8px 8px;
  position: relative;
  width: 100%;
}

.vuuShell-mainTabs > .vuuTabstrip {
  left:-1px;
  padding-bottom: 7px;
  position: absolute !important;
  right: 1px;
  top: 0;
  width: calc(100% + 2px) !important;
}  

