.vuuDropdown {
  --saltIcon-margin: 2px 0 0 8px;

  display: inline-block;
  line-height: 0;
  position: relative;
  width: var(--vuuDropdown-width, auto);
}

.vuuDropdownButton.saltButton-secondary {
  --saltButton-borderStyle: solid;
  --saltButton-borderColor: var(--salt-editable-borderColor);
  --saltButton-borderWidth: 1px;
  --saltButton-borderRadius: 6px;
  --saltButton-height: var(--vuuDropdown-height, auto);
}

.vuuDropdown-fullWidth {
  width: 100%;
}

.vuuDropdown-popup {
  background: var(--salt-container-primary-background);
  z-index: calc(var(--salt-zIndex-flyover) - 1);
}

.vuuDropdown-popup-component {
  --vuuList-borderStyle: none;
}

.vuuDropdownButton {
  width: 100%;
}