.vuuDropdown {
  --saltIcon-margin: 2px 0 0 8px;
  --saltButton-height: var(--vuuDropdown-height);
  --saltButton-width : var(--vuuDropdown-width);

  line-height: 0;
}

.vuuDropdownButton.saltButton-secondary {
  --saltButton-borderStyle: solid;
  --saltButton-borderColor: var(--salt-editable-borderColor);
  --saltButton-borderWidth: 1px;
}

.vuuDropdown-fullWidth {
  width: 100%;
}

.vuuDropdown-popup {
  background: var(--salt-container-primary-background);
  z-index: calc(var(--salt-zIndex-flyover) - 1);
}

.vuuDropdown-popup-component {
  --vuuList-borderStyle: none;
}
