.vuuAppHeader {
  --saltButton-borderRadius: 6px;
  --saltButton-text-color: var(--vuu-color-gray-50);
  --saltButton-padding: 12px;
  --vuuToolbarItem-height: 26px;
  --vuuOverflowContainer-gap: 8px;
  --vuu-icon-color: var(--vuu-color-gray-45);
  --vuu-icon-size: 16px;
  --vuuToolbar-background: var(
    --vuuAppHeader-background,
    var(--vuu-color-gray-28)
  );

  align-items: center;
  border-bottom: solid 1px var(--salt-container-primary-borderColor);
  display: flex;
  gap: var(--salt-spacing-100);
  height: 39px;
  justify-content: flex-end;
}

.vuu-theme .vuuAppHeader {
  border-radius: 8px;

  margin-bottom: 8px;
}
