
#vuu-data-animation {
    --vuu-animation-override: unset;
    height: 400px;
    opacity: 1;
    shape-rendering: geometricPrecision;
    transition: opacity 1.5s linear;
    white-space: pre;
    width: 400px;
}

#vuu-data-animation.vuu-hidden {
    opacity: 0;
}
  
#vuu-data-animation g {
    animation-direction: alternate;
    animation-duration: var(--vuu-animation-duration, 6.4s);
    animation-fill-mode: both;
    animation-name: var(--vuu-animation-override, var(--vuu-animation));
    animation-iteration-count: 1;
    offset-rotate: 0deg;
    transform: translate(-1.5px, -1.5px);
}
  
#vuu-data-animation path {
    animation-direction: alternate;
    animation-duration: var(--vuu-animation-duration, 6.4s);
    animation-fill-mode: both;
    animation-iteration-count: 1;
    animation-name: var(--vuu-animation-override, var(--vuu-animation));
    fill: rgb(231, 255, 195);
    fill-opacity: 1;
    fill-rule: nonzero;
    opacity: 1;
  }
  