.salt-theme.vuu-theme-deprecated[data-mode="light"] {
  --salt-palette-info-background: var(--vuu-color-blue-60);
  --salt-palette-info-border: var(--salt-color-blue-500);
  --salt-palette-info-foreground: var(--vuu-color-white);
}

.salt-theme.vuu-theme-deprecated[data-mode="dark"] {
  --salt-palette-info-background: var(--salt-color-blue-900);
  --salt-palette-info-border: var(--salt-color-blue-500);
  --salt-palette-info-foreground: var(--salt-color-blue-500);
}
