.salt-theme.vuu-theme-deprecated[data-mode="light"] {
  --salt-palette-navigate-primary-background-active: transparent;
  --salt-palette-navigate-foreground-hover: var(--salt-color-blue-600);
  --salt-palette-navigate-foreground-active: var(--salt-color-blue-700);
  --salt-palette-navigate-foreground-visited: var(--salt-color-purple-800);
  --salt-palette-navigate-indicator-hover: var(--salt-color-gray-90);
  --salt-palette-navigate-indicator-active: var(--vuu-color-purple-10);
}

.salt-theme.vuu-theme-deprecated[data-mode="dark"] {
  --salt-palette-navigate-primary-background-active: transparent;
  --salt-palette-navigate-foreground-hover: var(--salt-color-blue-200);
  --salt-palette-navigate-foreground-active: var(--salt-color-blue-300);
  --salt-palette-navigate-foreground-visited: var(--salt-color-purple-100);
  --salt-palette-navigate-indicator-hover: var(--salt-color-gray-90);
  --salt-palette-navigate-indicator-active: var(--vuu-color-pink-10);
}
