.salt-theme.vuu-theme-deprecated[data-mode="light"] {
  --salt-palette-positive-foreground: var(--salt-color-green-700);
}

.salt-theme.vuu-theme-deprecated[data-mode="dark"] {
  --salt-palette-positive-foreground: var(--salt-color-green-300);
}
