.salt-theme.vuu-theme-deprecated[data-mode="light"] {
  --salt-palette-warning-background: var(--vuu-color-orange-50);
  --salt-palette-warning-background-selected: var(--salt-color-orange-20);
  --salt-palette-warning-border: var(--salt-color-orange-700);
  --salt-palette-warning-foreground: var(--salt-content-primary-foreground);
}

.salt-theme.vuu-theme-deprecated[data-mode="dark"] {
  --salt-palette-warning-background: var(--salt-color-orange-900);
  --salt-palette-warning-background-selected: var(--salt-color-orange-900);
  --salt-palette-warning-border: var(--salt-color-orange-500);
  --salt-palette-warning-foreground: var(--salt-color-orange-500);
}
