.hwEditableLabel {
  --input-border-width: 1px;
  color: inherit;
  font-size: inherit;
  z-index: 1;
}

.hwEditableLabel-editing::after {
  content: attr(data-text) ' ';
  visibility: hidden;
  white-space: pre-wrap;
}

.hwEditableLabel-input {
  bottom: 0;
  border: solid grey var(--input-border-width);
  /* font-weight: var(--hw-font-weight-regular); */
  left: var(--tab-spacing, 0);
  outline: none;
  padding: 0;
  position: absolute;
  outline-style: none;
  right: var(--tab-spacing, 0);
  top: 0;
  height: calc(100% - 2 * var(--input-border-width));
  width: calc(100% - 2 * var(--input-border-width));
  white-space: nowrap;
}
