.DivElementWithSizers {
  position: absolute;
  left: 95px;
  top: 45px;
  width: 715px;
  height: 645px;
  background-color: red;
  overflow: auto;
}

.DivElementWithSizers-table [role="cell"] {
  display: inline-block;
}

  .DivElementWithSizers-wrapper {
    position: sticky;
    left: 0px;
    top: 0px;
    width: 700px;
    height: 630px;
    overflow: hidden;
  }
  
  .DivElementWithSizers-table {
    position: absolute;
    top: 0;
    left: 0;
    table-layout: fixed;
    width: 1600px;
    margin: 0;
    border: none;
    background-color: #fff;
    border-collapse: separate;
    border-spacing: 0;
    border-left: 1px solid #ccc;

  }
  

  .DivElementWithSizers-col-headings {
    position: sticky;
    top: 0;
    /* ensure header row sits atop everything else when scrolling down */
    z-index: 1;
  }

  .DivElementWithSizers-col-header {
    border-bottom: 1px solid #ccc;
    box-sizing: border-box;
    line-height: 29px;
    background: #777;
    border-right: 1px solid #999;
    color: #fff;
    padding: 0 3px;
  }
  
  .DivElementWithSizersRow {
    background: #fff;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    box-sizing: border-box;
    height: 30px;
    line-height: 29px;
    white-space: nowrap;
  }

  /* make first column sticky when scrolling right */
  .DivElementWithSizers-table [role="cell"]:first-child {
    position: sticky;
    left: 0;
    border-right-color: #aaa;
  }

  /* ensure first header cell sits atop everything else when scrolling right */
  .DivElementWithSizers-col-header:first-child {
    position: sticky;
    left: 0;
    z-index: 2;
  }
  
  .sizer-cell {
    background-color: green !important;
    border: none !important;
    height: 0px;
  }
  