.vuuPortalLogo {
  align-items: center;
  border-radius: var(--salt-palette-corner-weak, 4px);
  display: flex;
  height: var(--vuuPortalLogo-height, 100%);
  justify-content: center;
  outline: none;
  width: var(--vuuPortalLogo-width, 100%);

  &:focus-visible {
    outline: var(--salt-focused-outline);
    outline-offset: -2px;
  }
}
