.vuuSplitStateButton {
  --split-state-background: var(--salt-actionable-secondary-background);
  --split-state-foreground: var(--salt-actionable-secondary-foreground);
  --vuuSplitButton-background: var(--split-state-background);
  --vuuSplitButton-foreground: var(--split-state-foreground);
  --vuuSplitButton-background-hover: var(--split-state-background);
  --vuuSplitButton-foreground-hover: var(--split-state-foreground);

  .saltButton-primary:active,
  .saltButton-primary.saltButton-active {
    --saltButton-background-active: var(--salt-actionable-bold-background);
    --saltButton-text-color-active: var(--salt-actionable-bold-foreground);
  }
}

.vuuSplitStateButton[aria-checked="true"] {
  --vuuButtonIcon-color: var(--salt-actionable-bold-foreground-active);
  --saltButton-text-color: var(--salt-actionable-bold-foreground-active);
  --saltButton-text-color-hover: var(--salt-actionable-bold-foreground-active);
  --split-state-background: var(--salt-actionable-bold-background-active);
  --split-state-foreground: var(--salt-actionable-bold-foreground-active);
  &.focusVisible {
    --split-state-background: var(--salt-actionable-bold-background-active);
  }
}

.vuuSplitStateButton[aria-checked="true"] {
  .vuuEditableLabel-input {
    color: var(--salt-actionable-bold-foreground-active);
  }
}

.vuuSplitButton-main.saltButton-active + .vuuSplitButton-trigger,
.vuuSplitButton-main:active + .vuuSplitButton-trigger {
  --saltButton-background: var(--salt-actionable-bold-background);
  .vuuIcon {
    --vuu-icon-color: var(--salt-actionable-bold-foreground);
  }
}

/** These two entries are to prevent the 'active' styling when space is pressed whilst editing a label */
.vuuSplitStateButton:has(.vuuEditableLabel-editing):has(
    .vuuSplitButton-main:active,
    .vuuSplitButton-main.saltButton-active
  ) {
  --split-background: var(--salt-actionable-secondary-background);
  .saltButton-primary:active {
    background: var(--salt-actionable-secondary-background);
  }
}
.vuuSplitStateButton[aria-checked="true"]:has(.vuuEditableLabel-editing):has(
    .vuuSplitButton-main:active,
    .vuuSplitButton-main.saltButton-active
  ) {
  --split-background: var(--salt-actionable-bold-background-active);
  .saltButton-primary:active {
    background: var(--salt-actionable-bold-background-active);
  }
}

.vuuSplitStateButton:hover:not(.vuuSplitStateButton-disabled) {
  .saltButton {
    border-color: var(--salt-actionable-bold-foreground);
  }
}
