.vuuSplitButton {
  --saltButton-background: var(--split-background);
  --saltButton-background-hover: var(--split-background);
  --vuuPopupMenu-background: var(--split-background);
  --vuuPopupMenu-iconSize: 20px;

  /** less verbose local refs */
  --background: var(--vuuSplitButton-background);
  --foreground: var(--vuuSplitButton-foreground);
  --background-hover: var(--vuuSplitButton-background-hover);
  --foreground-hover: var(--vuuSplitButton-foreground-hover);

  --border-radius: var(--vuuSplitButton-borderRadius, var(--salt-palette-corner-weaker));
  --main-border-radius: var(--border-radius) 0 0 var(--border-radius);
  --trigger-border-radius: 0 var(--border-radius) var(--border-radius) 0;
  --trigger-border-style: solid solid solid none;

  align-items: center;
  border: none;
  border-radius: var(--border-radius);
  display: flex;

  .vuuSplitButton-main {
    border-radius: var(--main-border-radius);
  }
  .vuuSplitButton-trigger {
    border-radius: var(--trigger-border-radius);
  }
}

.vuuSplitButton.vuuFocusVisible {
  .saltButton {
    outline-style: none;
  }
  &.vuuSplitButton-primary {
    --split-background: var(
      --background-hover,
      var(--salt-actionable-bold-background-hover)
    );
  }
  &.vuuSplitButton-secondary {
    --split-background: var(
      --background-hover,
      var(--salt-actionable-subtle-background-hover)
    );
  }
  &.vuuSplitButton-cta {
    --split-background: var(
      --background-hover,
      var(--salt-actionable-accented-bold-background-hover)
    );
    .vuuSplitButton-trigger {
      --vuu-icon-color: var(--salt-actionable-bold-foreground-hover);
    }
  }
}

/** TODO move into theme */
.vuuFocusVisible {
  outline-style: var(--salt-focused-outlineStyle);
  outline-width: var(--salt-focused-outlineWidth);
  outline-color: var(--salt-focused-outlineColor);
  outline-offset: var(--salt-focused-outlineOffset);
}

.vuuSplitButton-primary {
  --split-background: var(
    --background,
    var(--salt-actionable-bold-background)
  );
  --split-background-active: var(--salt-actionable-bold-background-active);
  --split-color-active: var(--salt-actionable-bold-foreground-active);
}

.vuuSplitButton-primary:hover:not(.vuuSplitButton-disabled) {
  --vuuButton-borderColor: var(--split-background);
  --saltButton-borderColor: var(--split-background);
  --split-background: var(
    --background-hover,
    var(--salt-actionable-bold-background-hover)
  );
  .saltButton {
    --saltButton-text-color: var(--salt-actionable-bold-foreground-hover);
  }
}

.vuuSplitButton-secondary {
  --saltButton-borderColor: var(--split-background);
  --split-background: var(
    --background,
    var(--salt-actionable-subtle-background)
  );
  --split-background-active: var(--salt-actionable-subtle-background-active);
  --split-color-active: var(--salt-actionable-subtle-foreground-active);
}

.vuuSplitButton-secondary:hover:not(.vuuSplitButton-disabled) {
  --vuuButton-borderColor: var(--split-background);
  --split-background: var(--salt-actionable-subtle-background-hover);
  .saltButton {
    --saltButton-text-color: var(--salt-actionable-subtle-foreground-hover);
  }
}

.vuuSplitButton-cta {
  --split-background: var(--background, var(--salt-actionable-accented-bold-background));
  --split-background-active: var(--salt-actionable-accented-bold-background-active);
  --split-color-active: var(--salt-actionable-bold-foreground-active);
}
.vuuSplitButton-cta:hover:not(.vuuSplitButton-disabled) {
  --vuuButton-borderColor: var(--split-background);
  --split-background: var(--salt-actionable-accented-bold-background-hover);
  --split-color: var(--salt-actionable-bold-foreground-hover);
  .saltButton {
    --saltButton-text-color: var(--salt-actionable-bold-foreground-hover);
    --vuu-icon-color: var(--salt-actionable-bold-foreground-hover);
  }
}

.vuuSplitButton:has(
    .vuuSplitButton-main:active,
    .vuuSplitButton-main.saltButton-active
  ) {
  --split-background: var(--split-background-active);
  .vuuSplitButton-trigger {
    --vuu-icon-color: var(--split-color-active);
  }
}
