.Tabs {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
}

.Tabs .Toolbar:before {
  left: 0;
  width: 100%;
  bottom: 0;
  height: 1px;
  content: '';
  position: absolute;
  background: var(--grey60);
}

.vuuTabHeader {
  --uitkTabs-activationIndicator-background: transparent;
  --uitkToolbarField-marginTop: calc(var(--uitk-size-unit) - 1px);
  border-bottom: solid 1px var(--uitk-container-borderColor-medium);
}

.vuuTabHeader + .hwFlexbox,
.vuuTabHeader + * {
  flex: 1;
}

.vuuTabHeader + .vuuView > .vuuHeader {
  height: 0;
  overflow: hidden;
}

/* .Splitter.column + .Flexbox > .Tabs:first-child {
  border-top: solid 1px lightgrey;
} */

.Layout-svg-button {
  --spacing-medium: 5px;
}
