.vuuDatasourceStats {
  --datasourceStats-background: var(--vuuDatasourceStats-background);
  align-items: center;
  background: var(--datasourceStats-background, var(--salt-container-secondary-background));
  display: grid;
  font-size: var(--vuuDatasourceStats-fontSize, 10px);
  gap: var(--vuuDatasourceStats-gap, var(--salt-spacing-100));
  grid-template-areas: "panel-start panel-center panel-end";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  height: var(--vuuDatasourceStats-height, 100%);
  padding: 0 var(--salt-spacing-200);

  &.vuuDatasourceStats-withSelection {
    --datasourceStats-background: var(--vuuDatasourceStats-withSelection-background, var(--vuuDatasourceStats-background));
  }

  .vuuDatasourceStats-statsPanel {
    align-items: center;
    display: flex;
    gap: var(--salt-spacing-100);
    width: fit-content;
  }

  .vuuDatasourceStats-rowStats {
    justify-self: flex-start;
    grid-area: panel-start;
  }
  .vuuDatasourceStats-selected {
    margin-left: var(--salt-spacing-100);
  }

  .vuuDatasourceStats-range {
    white-space: nowrap;
  }

  .vuuDatasourceStats-label {
    color: var(--salt-content-secondary-foreground);
    white-space: nowrap;
  }

  .vuuDatasourceStats-selectionActions {
    grid-area: panel-center;
    justify-self: center;
  }

  .vuuDatasourceStats-value {
    color: var(--salt-content-primary-foreground);
  }
  .vuuDatasourceStats-tooltray {
    justify-self: end;;
    margin: 0 var(--salt-spacing-200);
    grid-area: panel-end;
  }

}

