.vuuColumnFilterBar {
    align-items: center;
    background-color: antiquewhite;
    display: flex;
    height: 36px;
    padding: 0 4px;

}


.vuuFilterDropdown,
.vuuFilterSwitch {
    --saltToolbarField-marginTop: 0;
}