* {
  --vuuPurple-accent2: #6d18bd;
  --vuuPurple-text-primary-foreground: #15171b;
  --vuuPurple-text-secondary-foreground: #606477;
  --salt-selectable-background-hover: #e4e3e7;
  --editable-border-default: #777c94;
  --editable-border-hover: #f37880;
}

.vuuFilterClause {
  display: flex;
  flex-direction: row;
  width: fit-content;
  border-radius: 6px;
  border: 1px solid var(--editable-border-default);
  background: #ffffff;
  --salt-palelette-interact-outline: var(--vuuPurple-accent2);
  --salt-focused-outlineStyle: dotted;
}

.vuuFilterClause:focus-visible {
  outline: 2px dashed var(--vuuPurple-accent2);
}

.vuuFilterClause:hover :not(:focus-visible) {
  border-color: var(--editable-border-hover);
}

.vuuFilterClause:focus-visible,
.vuuFilterClause:focus-within {
  border-color: var(--vuuPurple-accent2);
}

.vuu-density-high .vuuFilterClause {
  height: 24px;
  padding: 3px 7px;
  gap: 4px;
  --salt-text-lineHeight: 12px;
  --saltInputLegacy-fontSize: 12px;
  --saltInputLegacy-minWidth: 12px;
}

.vuu-density-high .vuuFilterClause .saltInput {
  padding: 0;
  min-height: 16px;
  height: 16px;
}

.vuuFilterClause-column-wrapper {
  width: 60px;
}

.vuuFilterClause-columnSelector {
  --saltInput-minWidth: 10px;
  --saltInput-position: absolute;
  min-width: var(--saltInput-minWidth);
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* height: 20px; */
  position: relative;
}


.saltInput-input {
  background-color: red;
}

/* .vuu-density-high .saltDropdown {
  height: 16px;
  padding: 1px 0;
} */

.vuuFilterClause :not(.vuuFilterClause-valueInput) .saltInput {
  color: var(--vuuPurple-text-secondary-foreground);
}

.vuuFilterClause .saltInput-focused,
.vuuFilterClause .saltTokenizedInput-focused {
  outline: none;
  color: var(--salt-text-primary-foreground);
}

.vuuFilterClause .saltInput-input::selection {
  --saltInput-highlight-color: var(--vuuPurple-accent2);
  color: #ffffff;
}

.vuu-theme .saltList,
.saltListDeprecated {
  --list-borderWidth: 1px;
  --salt-container-primary-borderColor: var(--vuuPurple-accent2);
  --list-borderStyle: solid;
  border: 1px solid var(--vuuPurple-accent2);
  border-radius: 4px;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.4);
}

.saltListDeprecated-wrapper {
  border: none;
}

.saltListItem[aria-selected="true"]:not(.saltListItem-checkbox),
.saltListItemDeprecated[aria-selected="true"] {
  --list-item-background: var(--list-item-background-active);
  color: var(--list-item-text-color-active);
  border-left: 3px solid var(--vuuPurple-accent2);
}

.saltTokenizedInput {
  height: 16px;
  min-height: 16px;
}

.saltTokenizedInput .saltInputPill {
  --pill-fontSize: 12px;
  --saltButton-borderStyle: none;
  --pill-background: none;
  height: 16px;
  margin: 0;
}

.saltTokenizedInput-pillGroup {
  padding: 0;
  height: 16px;
}
