.vuuFilterClause {
  --vuuExpandoInput-top: 0;
  --content-height: calc(var(--salt-size-base) - var(--salt-spacing-150));
  --vuuExpandoInput-height: var(--content-height);
  --vuuExpandoCombobox-height: var(--content-height);
  --saltButton-height: 16px;
  --saltButton-width: 16px;
  --salt-focused-outlineStyle: dotted;

  align-items: center;
  background: var(--salt-container-primary-background);
  border-color: var(--salt-editable-borderColor);
  border-radius: var(--saltButton-borderRadius);
  border-width: 1px;
  border-style: solid;
  display: flex;
  flex-direction: row;
  gap: var(--salt-spacing-50);
  height: calc(var(--salt-size-base) + var(--salt-size-spacing-100));
  min-width: calc(var(--salt-size-base) * 4);
  padding: 0 var(--salt-spacing-100);
  width: fit-content;

  .vuuFilterClauseField {
    flex: 0 0 auto;
  }
  .vuuFilterClauseField:last-child {
    flex: 1 0 auto;
  }

  .vuuFilterClauseField.vuuExpandoInput {
    align-items: flex-end;
    display: inline-flex;
  }

  .vuuExpandoCombobox {
    flex-basis: auto;
    flex-shrink: 0;
    flex-grow: 0;
  }

  &:focus-within {
    border-color: var(--salt-editable-borderColor-active);
  }

  .saltComboBox-focused,.saltComboBox-focused:hover {
    outline: none;
  }

  .saltTokenizedInput {
    height: 16px;
    min-height: 16px;
  }

  .saltTokenizedInput .saltInputPill {
    --pill-fontSize: 12px;
    --saltButton-borderStyle: none;
    --pill-background: none;
    height: 16px;
    margin: 0;
  }

  .saltTokenizedInput-pillGroup {
    padding: 0;
    height: 16px;
  }

  .saltDateInput {
    width: auto;
  }
}

.salt-density-high .vuuFilterClause {
  padding: 4px 8px;
  gap: 4px;
  --salt-text-lineHeight: 12px;
  --saltInputLegacy-fontSize: 12px;
  --saltInputLegacy-minWidth: 12px;
}

.salt-density-high .vuuFilterClause .saltInput {
  padding: 0;
  min-height: 16px;
  height: 16px;
}

.vuuFilterClauseOperator-hidden {
  display: none;
}

.vuuFilterClause .saltInput-focused,
.vuuFilterClause .saltTokenizedInput-focused {
  outline: none;
  color: var(--salt-content-primary-foreground);
}

.vuuFilterClause-DatePicker {
  border: none;
}
