.salt-theme.vuu-theme-deprecated {

  --vuu-fade-light : 0.13;

  --vuu-color-transparent: transparent;
  --vuu-color-black: black;
  --vuu-color-white: white;
  --vuu-color-white-fade-70: rgba(255,255,255,.7);


  --vuu-color-red-50: rgb(226, 52, 52); /* #E23434 */
  /** text-selection */
  --vuu-color-blue-40: rgb(164, 213, 244); /*  #A4D5F4 */
  --vuu-color-blue-60: rgb(1, 124, 177); /*  #017CB1 */

  --vuu-color-orange-50: rgb(244, 202, 51); /* #F4CA33 */

  --vuu-color-purple-10: rgb(109,24,189); /*  #6D18BD */
  --vuu-color-purple-20-fade-40 :rgba(197, 163, 229, .4); /* #C5A3E566 */
  --vuu-color-purple-50: rgb(42, 1, 95); /*  #2A015F */
  --vuu-color-purple-10-fade-light: rgba(109,24,189, var(--vuu-fade-light)); 

  --vuu-color-pink-10: rgb(234, 120, 128); /*  #F37880 */
  --vuu-color-pink-10-fade-20: rgba(234, 120, 128, .2); /*  #F37880 */


  --vuu-color-gray-02: rgb(235, 235, 236);  /* #EBEBEC */
  --vuu-color-gray-03: rgb(237, 237, 237);  /* #EDEDED */
  --vuu-color-gray-05: rgb(222, 222, 222);  /* #DEDEDE */
  --vuu-color-gray-07: rgb(226, 226, 227);  /* #E2E2E3 */
  --vuu-color-gray-10: rgb(228, 227, 231);  /* #E4E3E7 */
  --vuu-color-gray-20: rgb(245, 242, 248);  /* #F5F2F8 */
  --vuu-color-gray-25: rgb(244, 244, 244) ;  /* #F4F4F4 */
  --vuu-color-gray-28: rgb(249, 249, 251);  /* #F9F9FB */
  --vuu-color-gray-30: rgb(214, 215, 218);  /* #D6D7Da */
  --vuu-color-gray-35: rgb(155, 158, 168);  /* #9B9EA8; */
  --vuu-color-gray-40: rgb(169, 170, 173);   /* #A9AAAD */ 
  --vuu-color-gray-42: rgb(135, 139, 158);   /* #878b9e */ 
  --vuu-color-gray-45: rgb(119, 124, 148);  /* #777C94 */ 
  --vuu-color-gray-50: rgb(96, 100, 119);   /* #606477 */
  --vuu-color-gray-80: rgb(21, 23, 27);     /* #15171B */ 


--vuu-color-green-50: rgb(102, 174, 90);  /* #66AE5A */
--vuu-color-green-60: rgb(36, 137, 19);  /* #248913 */
--vuu-color-green-60-fade-30: rgba(36, 137, 19, .3);  /* #248913 */

--vuu-color-red-50: rgb(226, 52, 52);  /* #E23434 */

  --vuu-color-yellow-20: rgb(244, 202, 51); /* #F4CA33 */



  /* Color palette will stay the same no matter of theming */
  --salt-color-white: rgb(255, 255, 255);
  --salt-color-black: rgb(0, 0, 0);

  --salt-color-red-10: rgb(255, 227, 224);
  --salt-color-red-20: rgb(255, 207, 201);
  --salt-color-red-30: rgb(255, 187, 178);
  --salt-color-red-40: rgb(255, 167, 156);
  --salt-color-red-50: rgb(255, 148, 133);
  --salt-color-red-100: rgb(255, 128, 111);
  --salt-color-red-200: rgb(255, 108, 88);
  --salt-color-red-300: rgb(255, 89, 66);
  --salt-color-red-400: rgb(237, 65, 42);
  --salt-color-red-500: rgb(227, 43, 22);
  --salt-color-red-600: rgb(196, 32, 16);
  --salt-color-red-700: rgb(166, 21, 11);
  --salt-color-red-800: rgb(136, 10, 5);
  --salt-color-red-900: rgb(65, 37, 34);

  --salt-color-orange-10: rgb(255, 232, 191);
  --salt-color-orange-20: rgb(254, 223, 166);
  --salt-color-orange-30: rgb(254, 214, 142);
  --salt-color-orange-40: rgb(254, 205, 118);
  --salt-color-orange-50: rgb(254, 197, 94);
  --salt-color-orange-100: rgb(250, 181, 81);
  --salt-color-orange-200: rgb(246, 165, 68);
  --salt-color-orange-300: rgb(242, 149, 56);
  --salt-color-orange-400: rgb(238, 133, 43);
  --salt-color-orange-500: rgb(234, 115, 25);
  --salt-color-orange-600: rgb(224, 101, 25);
  --salt-color-orange-700: rgb(214, 85, 19);
  --salt-color-orange-800: rgb(204, 68, 13);
  --salt-color-orange-900: rgb(54, 44, 36);

  --salt-color-green-10: rgb(209, 244, 201);
  --salt-color-green-20: rgb(184, 232, 182);
  --salt-color-green-30: rgb(160, 221, 164);
  --salt-color-green-40: rgb(136, 210, 145);
  --salt-color-green-50: rgb(112, 199, 127);
  --salt-color-green-100: rgb(93, 189, 116);
  --salt-color-green-200: rgb(77, 180, 105);
  --salt-color-green-300: rgb(60, 171, 96);
  --salt-color-green-400: rgb(48, 156, 90);
  --salt-color-green-500: rgb(36, 135, 75);
  --salt-color-green-600: rgb(24, 114, 61);
  --salt-color-green-700: rgb(12, 93, 46);
  --salt-color-green-800: rgb(1, 73, 32);
  --salt-color-green-900: rgb(35, 52, 43);

  --salt-color-teal-10: rgb(218, 240, 240);
  --salt-color-teal-20: rgb(199, 232, 232);
  --salt-color-teal-30: rgb(180, 224, 225);
  --salt-color-teal-40: rgb(162, 217, 218);
  --salt-color-teal-50: rgb(141, 205, 209);
  --salt-color-teal-100: rgb(123, 193, 200);
  --salt-color-teal-200: rgb(99, 181, 192);
  --salt-color-teal-300: rgb(73, 160, 172);
  --salt-color-teal-400: rgb(48, 149, 166);
  --salt-color-teal-500: rgb(0, 130, 151);
  --salt-color-teal-600: rgb(27, 107, 133);
  --salt-color-teal-700: rgb(0, 85, 113);
  --salt-color-teal-800: rgb(1, 65, 86);
  --salt-color-teal-900: rgb(0, 49, 76);

  --salt-color-blue-10: rgb(203, 231, 249);
  --salt-color-blue-20: rgb(183, 222, 246);
  --salt-color-blue-30: rgb(164, 213, 244);
  --salt-color-blue-40: rgb(144, 204, 242);
  --salt-color-blue-50: rgb(125, 195, 240);
  --salt-color-blue-100: rgb(100, 177, 228);
  --salt-color-blue-200: rgb(75, 159, 216);
  --salt-color-blue-300: rgb(51, 141, 205);
  --salt-color-blue-400: rgb(46, 132, 198);
  --salt-color-blue-500: rgb(38, 112, 169);
  --salt-color-blue-600: rgb(21, 92, 147);
  --salt-color-blue-700: rgb(0, 71, 123);
  --salt-color-blue-800: rgb(39, 60, 77);
  --salt-color-blue-900: rgb(35, 47, 56);

  --salt-color-purple-10: rgb(249, 224, 247);
  --salt-color-purple-20: rgb(247, 212, 244);
  --salt-color-purple-30: rgb(245, 201, 241);
  --salt-color-purple-40: rgb(243, 189, 238);
  --salt-color-purple-50: rgb(241, 178, 235);
  --salt-color-purple-100: rgb(223, 156, 225);
  --salt-color-purple-200: rgb(205, 135, 215);
  --salt-color-purple-300: rgb(192, 116, 203);
  --salt-color-purple-400: rgb(169, 97, 181);
  --salt-color-purple-500: rgb(150, 78, 162);
  --salt-color-purple-600: rgb(129, 60, 141);
  --salt-color-purple-700: rgb(103, 46, 122);
  --salt-color-purple-800: rgb(83, 37, 109);
  --salt-color-purple-900: rgb(59, 16, 84);

  --salt-color-gray-10: rgb(242, 244, 246);
  --salt-color-gray-20: rgb(234, 237, 239);
  --salt-color-gray-30: rgb(224, 228, 233);
  --salt-color-gray-40: rgb(217, 221, 227);
  --salt-color-gray-50: rgb(206, 210, 217);
  --salt-color-gray-60: rgb(197, 201, 208);
  --salt-color-gray-70: rgb(180, 183, 190);
  --salt-color-gray-80: rgb(159, 163, 170);
  --salt-color-gray-90: rgb(132, 135, 142);
  --salt-color-gray-100: rgb(116, 119, 127);
  --salt-color-gray-200: rgb(97, 101, 110);
  --salt-color-gray-300: rgb(76, 80, 91);
  --salt-color-gray-400: rgb(68, 72, 79);
  --salt-color-gray-500: rgb(59, 63, 70);
  --salt-color-gray-600: rgb(47, 49, 54);
  --salt-color-gray-700: rgb(42, 44, 47);
  --salt-color-gray-800: rgb(36, 37, 38);
  --salt-color-gray-900: rgb(22, 22, 22);
}
