.viewRebecca .vuuView-main {
  background-color: rgba(102, 51, 153, 0.7);
}

.viewCornflower .vuuView-main {
  background-color: rgba(100, 149, 237, 0.7);
}

.vuuView-resizing {
  background-color: yellow;
}
