.Item {
    background-color: var(--item-bg, blue);
    color: white;
    height: 32px;
}

.vuuOverflowContainer-vertical .Item {
    width: 100%;
}

[data-overflow-priority="1"].Item {
    background-color: pink;
}

.vuuOverflowContainer-wrapContainer {
    /* overflow: visible; */
}