.Item {
    background-color: var(--item-bg, blue);
    color: white;
    height: 32px;
}

[data-overflow-priority="2"].Item {
    background-color: pink;
}

.vuuOverflowContainer-wrapContainer {
    /* overflow: visible; */
}