.vuuToolbar {
    padding: 0 6px;
}

.Item {
    background-color: var(--item-bg, ivory);
    color: white;
    height: 32px;
}

.Item[aria-selected="true"] {
    background-color: purple;;
}

.vuuToolbarItem {
    box-sizing: border-box;
}

/* .vuuToolbarItem:focus-visible {
    outline: none;
} */


/* [data-overflow-priority="1"].Item {
    background-color: pink;
} */

.vuuOverflowContainer-wrapContainer {
    /* overflow: visible; */
}

.vuuToolbarItem[data-selectable="false"] .Item{
    opacity: 0.8;
}