.vuuColumnList {
  --vuuMeasuredContainer-flex: 1 1 1px;
  --vuu-svg-function: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14"><path d="M5.8625 10.5V9.625H6.72291L8.4875 7.59792L6.72291 5.54167H5.64375L4.60833 10.8792C4.53055 11.3167 4.36527 11.6545 4.1125 11.8927C3.85972 12.1309 3.53402 12.25 3.13541 12.25C2.7368 12.25 2.40382 12.1333 2.13645 11.9C1.86909 11.6667 1.73541 11.375 1.73541 11.025C1.73541 10.7625 1.80833 10.551 1.95416 10.3906C2.1 10.2302 2.28958 10.15 2.52291 10.15C2.72708 10.15 2.89479 10.2083 3.02604 10.325C3.15729 10.4417 3.22291 10.5972 3.22291 10.7917C3.22291 10.8986 3.20104 10.9983 3.15729 11.0906C3.11354 11.183 3.05277 11.2583 2.975 11.3167C3.01388 11.3361 3.0552 11.3507 3.09895 11.3604C3.1427 11.3701 3.18888 11.375 3.2375 11.375C3.36388 11.375 3.47083 11.3142 3.55833 11.1927C3.64583 11.0712 3.70902 10.9132 3.74791 10.7188L4.75416 5.54167H2.91666V4.66667H4.91458L5.22083 3.12083C5.30833 2.68333 5.48333 2.34549 5.74583 2.10729C6.00833 1.8691 6.33402 1.75 6.72291 1.75C7.12152 1.75 7.44965 1.86667 7.70729 2.1C7.96493 2.33333 8.09375 2.625 8.09375 2.975C8.09375 3.2375 8.02083 3.44896 7.875 3.60938C7.72916 3.76979 7.53958 3.85 7.30625 3.85C7.1118 3.85 6.94652 3.7941 6.81041 3.68229C6.6743 3.57049 6.60625 3.42222 6.60625 3.2375C6.60625 3.14028 6.62569 3.04549 6.66458 2.95312C6.70347 2.86076 6.75208 2.78542 6.81041 2.72708C6.79097 2.70764 6.7618 2.69063 6.72291 2.67604C6.68402 2.66146 6.64513 2.65417 6.60625 2.65417C6.47986 2.65417 6.37048 2.7125 6.27812 2.82917C6.18576 2.94583 6.12013 3.09653 6.08125 3.28125L5.81875 4.66667H8.575V5.54167H7.88958L9.1 6.94167L10.2375 5.54167H9.5375V4.66667H12.25V5.54167H11.4042L9.65416 7.59792L11.4042 9.625H12.25V10.5H9.5375V9.625H10.2375L9.07083 8.26875L7.875 9.625H8.575V10.5H5.8625Z"/></svg>');
  --vuuList-borderStyle: none;
  --vuuListItem-padding: 0;
  display: flex;
  flex-direction: column;


  .saltOption {
    align-items: center;
    background-color: var(--salt-container-primary-background);
    border-bottom: var(--vuuColumnListItem-border, solid) 1px
      var(--salt-separable-tertiary-borderColor);
    gap: var(--salt-spacing-200);
    padding: var(--salt-spacing-100) 0;

    .vuuIcon {
      --vuu-icon-color: var(--salt-content-secondary-foreground);
    }
  }

  .vuuColumnList-text {
    flex: 1 1 auto;
  }

}

[data-icon="function"] {
  --vuu-icon-svg: var(--vuu-svg-function);
}

.vuuColumnList-withColumnNavgation {
  .vuuColumnList-text:hover {
    font-weight: 600;
    text-decoration: underline;
  }
}

.vuuColumnList-search {
  padding: var(--salt-spacing-300);
}

.vuuColumnList-header {
  border-top: solid 2px var(--vuu-color-gray-30);
  flex: 0 0 40px;
  font-size: 14px;
  font-weight: 600;
  padding-left: var(--salt-spacing-400);
  padding-top: 24px;
}

.vuuColumnList-colHeadings {
  border-bottom: solid 2px var(--vuu-color-gray-30);
  color: var(--vuu-color-gray-50);
  display: flex;
  flex: 0 0 24px;
  font-size: 10px;
  justify-content: space-between;
  margin-top: 16px;
  padding-bottom: 8px;
}
