.vuuDataGridCell {
  align-items: center;
  background-color: var(--grid-cell-bg, inherit);
  box-sizing: border-box;
  border-color: var(--vuuDataGridCell-borderColor, var(--cell-border-top-color) var(--cell-border-right-color) var(--cell-border-bottom-color) transparent);
  border-style: var(--cell-border-style, solid);
  border-width: 1px;
  color: var(--text-color);
  cursor: default;
  display: inline-flex;
  height: 100%;
  outline: 0;
  overflow: hidden;
  padding: var(--cell-padding);
  position: relative;
  text-overflow: ellipsis;
  user-select: none;
  vertical-align: top;
  white-space: nowrap;
  z-index: 0;
}

.vuuDataGridCell.noBottomBorder {
  border-bottom: solid 1px transparent;
}
.vuuDataGridCell.resizing {
  background-color: var(--header-cell-highlight-bg);
}

.vuuDataGridCell .num {
  display: inline-block;
  text-align: right;
  width: 100%;
}

.vuuLineNumber {
  background-color: var(--line-number-bg);
  border-bottom-color: var(--line-number-border-color);
  border-top-color: transparent;
}

.vuuDataGridCell:focus:before,
.vuuDataGridCell:focus-visible:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0px;
  border: dotted var(--focus-visible-border-color) 2px;
}
