target/
.idea/atlassian-ide-plugin.xml
.idea/compiler.xml
.idea/copyright/
.idea/encodings.xml
.idea/libraries/
.idea/misc.xml
.idea/modules.xml
.idea/scala_compiler.xml
.idea/vcs.xml
.idea/workspace.xml
src/main/scala/org/whitebox/core/viewserver/client/swing/gui/components/dragndrop/
src/run-config/
src/test/java/
target
target/**
target/generated-test-sources/
target/maven-status/
target/surefire-reports/TEST-org.scalatest.tools.DiscoverySuite-1490ed05-1385-4e03-b06b-c4b55f38d01f.xml
target/surefire-reports/TEST-org.scalatest.tools.DiscoverySuite-90718ed2-3fdb-4872-b7db-a4c93bd488d7.xml
target/surefire-reports/TEST-org.scalatest.tools.DiscoverySuite-a43db756-7ffe-4edb-9b94-681e994ae9e0.xml
target/surefire-reports/TEST-org.scalatest.tools.DiscoverySuite-a99bc751-9434-46d9-beb1-07baf29e13ba.xml
target/surefire-reports/TEST-org.scalatest.tools.DiscoverySuite-b4430c87-7291-4e24-a6a5-d2f6d5c589e7.xml
target/surefire-reports/TEST-org.scalatest.tools.DiscoverySuite-bbe7f517-012c-4e48-9993-a9fec17ef017.xml
target/surefire-reports/TEST-org.scalatest.tools.DiscoverySuite-c7b28731-497e-4d2d-9154-8ef53c734565.xml
target/surefire-reports/TEST-org.scalatest.tools.DiscoverySuite-e2b2c737-a278-413f-a52e-a66fb2052a1f.xml
target/surefire-reports/TEST-org.whitebox.core.viewserver.core.module.core.CoreModuleTest.xml
target/surefire-reports/TEST-org.whitebox.core.viewserver.core.table.RowDeleteTest.xml
target/surefire-reports/TEST-org.whitebox.core.viewserver.core.table.column.CalculatedColumnParseTest.xml
