target/
.idea/atlassian-ide-plugin.xml
.idea/compiler.xml
.idea/copyright/
.idea/encodings.xml
.idea/libraries/
.idea/misc.xml
.idea/modules.xml
.idea/scala_compiler.xml
.idea/vcs.xml
.idea/workspace.xml
src/run-config/
target
target/**
target/generated-test-sources/
target/maven-status/
target/surefire-reports/*
