.idea/**
.idea/workspace.xml
/.idea/compiler.xml
/.idea/workspace.xml
/.idea/
target/
/gc.log
/toolbox/toolbox.iml
/vuu/vuu.iml
/vuu-parent.iml
/vuu-book/src/.DS_Store

.vscode/**
node_modules
yarn-debug.log*
yarn-error.log*
/vuu-ui/stories/public/worker.js
/vuu-ui/stories/public/worker.js.map
/vuu-ui/packages/*/types
/vuu-ui/packages/*/public/stories/*.*
/vuu-ui/packages/showcase/public/packages

/vuu-ui/storybook-static
deployed_apps
dist
/vuu-ui-legacy/target/
/vuu-ui-legacy/vuu-ui-legacy.iml
