.idea/**
.idea/workspace.xml
/.idea/compiler.xml
/.idea/workspace.xml
/.idea/
target/
/gc.log
/toolbox/toolbox.iml
/vuu/vuu.iml
/vuu-parent.iml
/vuu-book/src/.DS_Store
.DS_Store

.bloop/**
.metals/**

.vscode/**
node_modules
yarn-debug.log*
yarn-error.log*

deployed_apps
dist
/vuu-ui-legacy/target/
/vuu-ui-legacy/vuu-ui-legacy.iml

# Docusaurus generated folders
website/translated_docs/
website/build/
website/i18n/
website/.docusaurus/
website/package-lock.json

# Generated docs
docs/contributing.md
