.idea/**
.idea/workspace.xml
/.idea/compiler.xml
/.idea/workspace.xml
/.idea/
target/
/gc.log
/toolbox/toolbox.iml
/vuu/vuu.iml
/vuu-parent.iml
/vuu-book/src/.DS_Store
.DS_Store

.bloop/**
.metals/**

.vscode/**
node_modules
yarn-debug.log*
yarn-error.log*

/vuu-ui/showcase/src/examples/**/*.js
/vuu-ui/cypress/screenshots

deployed_apps
dist

# Docusaurus generated folders
website/translated_docs/
website/build/
website/i18n/
website/.docusaurus/
website/package-lock.json

# Generated docs
docs/contributing.md
vuu-ui/packages/vuu-data/src/inlined-worker.js
