.vuuEditableLabel {
  --editableLabel-padding: var(--vuuEditableLabel-padding, 6px);
  --editableLabel-height: var(--vuuEditableLabel-height, 26px);
  --saltInput-background: transparent;
  --saltInput-height: calc(var(--editableLabel-height) - 4px);
  --saltInput-minWidth: 14px;

  color: inherit;
  cursor: default;
  display: flex;
  flex-direction: column;
  font-size: var(--salt-text-fontSize);
  height: var(--editableLabel-height);
  justify-content: center;
  /* max-width: 170px; */
  outline: none;
  overflow: hidden;
  padding: 0 var(--editableLabel-padding);
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
  z-index: var(--salt-zIndex-default);
}

.vuuEditableLabel:before {
  content: attr(data-text);
  display: block;
  height: 0px;
  visibility: hidden;
  white-space: pre-wrap;
}

.vuuEditableLabel .saltInput {
  font-weight: var(--salt-text-fontWeight);
  left: var(--editableLabel-padding, 0);
  padding: 0;
  outline-style: none;
  position: absolute;
  right: var(--editableLabel-padding, 0);
  top: var(--saltEditableLabel-top, 2px);
  width: auto;
}

.vuuEditableLabel .saltInput-activationIndicator {
  display: none;
}

.vuuEditableLabel-input {
  background-color: transparent;
  border: none;
  box-sizing: content-box;
  color: inherit;
  display: block;
  flex: 1;
  font: inherit;
  height: 20px;
  margin:0;
  min-width:0;
  outline: none;
  padding: 0;
}

.vuuEditableLabel-label {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
