.vuuColumnNameLabel-calculated {
    cursor: pointer;
    display: flex;
    gap: 2px;
}

.vuuColumnNameLabel-edit {
    margin-left: auto;
}

.vuuColumnNameLabel-placeholder {
    color: var(--vuu-color-gray-35);
}