.vuuTableCell {
  .vuuCheckboxRowSelector {
    align-items: center;
    height: 100%;

    .saltCheckboxIcon {
      margin-top: 0;
    }
  }
  .vuuCheckboxRowSelectorIcon {
    margin-top: calc(var(--row-height) / 2 - 6px);
  }
}
