.vuuTableCell {
  .vuuCheckboxRowSelector {
    align-items: center;
    height: 100%;

    .saltCheckboxIcon {
      margin-top: 0;
    }
  }
  .vuuCheckboxRowSelectorIcon {
    margin-top: calc(var(--row-height) / 2 - 6px);
  }
}

.vuuTableRow-noSelect {
  .vuuTableCell .vuuCheckboxRowSelector {
    cursor: default;
    opacity: 0.4;
    pointer-events: none;
  }
}
