.vuuGridSplitter {
    --splitter-background: var(--salt-separable-secondary-borderColor);
    --splitter-size: 5px;


    background-color: var(--splitter-background);
    position: relative;

    .vuu-grab-zone {
        position: absolute;
        background-color: rgba(255, 0, 0, 0.01);
        cursor: inherit;
    }
}

.vuuGridSplitter:hover {
    --splitter-background: var(--salt-separable-primary-borderColor);
  }
  
.vuuGridSplitter-active {
    --splitter-background: var(--salt-separable-primary-borderColor);
  }
  
.vuuGridSplitter[aria-orientation="vertical"] {
    cursor: ew-resize;
    transform: translate(-2px,0);
    width: var(--splitter-size);

    .vuu-grab-zone {
        left: 0;
        right: 0;
        top: -5px;
        bottom: -5px;
    }

}

.vuuGridSplitter[aria-orientation="horizontal"] {
    cursor: ns-resize;
    height: var(--splitter-size);

    transform: translate(0, -2px);

    .vuu-grab-zone {
        left: -5px;
        right: -5px;
        top: 0;
        bottom: 0;
    }
}
