.vuuGridLayout {
  --vuu-layout-tabs-height: 32px;

  --vuu-grid-gap: 6px;
  --vuu-grid-header-height: 25px;
  display: grid;
  padding: var(--vuu-grid-gap);

  &.vuuDragging {
    /* 
      While we are dragging, do not let drag events fire on anything 
      more granular than GridLayoutItem. Exception for vuuDraggableItem
      is for Tabs 
    */
    [data-drop-target] > :not(.vuuDraggableItem) {
      pointer-events: none;
    }
  }

  &.vuuResizing {
    transition: .3s;
  }

  &.vuuFullPage {
    height: 100vh;
    width: 100vw;
  }
  
}

.vuu-detached {
  visibility: hidden;
}

.vuu-stacked {
  &.has-h-splitter {
    margin-top: calc(var(--vuu-layout-tabs-height) + 7px);
  }
  &:not(.has-h-splitter){
    margin-top: var(--vuu-layout-tabs-height);
  }
}

.vuuGridLayoutItemHeader-close {
  margin-left: auto;
}

.vuuGridLayoutStackedItemContent,
.vuuGridLayoutItemContent {
  flex: 1 1 auto;
  position: relative;
}

.vuuGridLayoutStackedItemContent > *,
.vuuGridLayoutItemContent > * {
  position: absolute;
  inset: 0;
}


.vuuDropTarget-east {
  --grid-dropzone-top: 0px;
  --grid-dropzone-left: 50%;
  --grid-dropzone-bottom: 0px;
  --grid-dropzone-right: 0px;
}
.vuuDropTarget-west {
  --grid-dropzone-top: 0px;
  --grid-dropzone-left: 0px;
  --grid-dropzone-bottom: 0px;
  --grid-dropzone-right: 50%;
}
.vuuDropTarget-north {
  --grid-dropzone-top: 0px;
  --grid-dropzone-left: 0px;
  --grid-dropzone-bottom: 50%;
  --grid-dropzone-right: 0px;
}
.vuuDropTarget-south {
  --grid-dropzone-top: 50%;
  --grid-dropzone-left: 0px;
  --grid-dropzone-bottom: 0px;
  --grid-dropzone-right: 0px;
}

.vuuDropTarget-centre {
  --grid-dropzone-top: 0px;
  --grid-dropzone-left: 0px;
  --grid-dropzone-bottom: 0px;
  --grid-dropzone-right: 0px;
}

/* we could simplify this by assigning a className to the content */
.vuu-stacked {
  & > .vuuDropTarget-north {
    --grid-dropzone-top: -32px;
  }
  & > .vuuDropTarget-east {
    --grid-dropzone-top: -32px;
  }
  & > .vuuDropTarget-west {
    --grid-dropzone-top: -32px;
  }
}

.vuuDropTarget-centre:after,
.vuuDropTarget-north:after, 
.vuuDropTarget-east:after, 
.vuuDropTarget-south:after,
.vuuDropTarget-west:after {
  background-color: cornflowerblue;
  content: "";
  opacity: 0.3;
  pointer-events: none;
  position: absolute;
  top: var(--grid-dropzone-top);
  right: var(--grid-dropzone-right);
  bottom: var(--grid-dropzone-bottom);
  left: var(--grid-dropzone-left);
  transition-property: top, left, right, bottom;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  z-index: 100;
}
.vuuDropTarget-header:after {
  background-color: red;
  content: "";
  inset: 0px;
  opacity: 0.3;
  pointer-events: none;
  position: absolute;
  transition-property: top, left, right, bottom;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  z-index: 100;
}

