/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */
 @import url(vuu-theme.css);

/* You can override the default Infima variables here. */
:root {
  --vuu-navbar-height: 200px;
  --vuu-navbar-padding: 80px;
  --vuu-navbar-logo-size: 90px;
  --vuu-navbar-bg: transparent;

  --ifm-color-primary: #00b5e2;
  --ifm-color-primary-dark: #0079ac;
  --ifm-color-primary-darker: #0072a2;
  --ifm-color-primary-darkest: #005e86;
  --ifm-color-primary-light: #0093d2;
  --ifm-color-primary-lighter: #009adc;
  --ifm-color-primary-lightest: #00aef8;
  --ifm-font-color-base: #1c1e21;
  --ifm-heading-color: var(--vuu-dark-text-primary);
  --ifm-heading-font-family: var(--vuu-font-family);
  --ifm-heading-line-height: unset;
  --ifm-heading-margin-bottom: 0;
  --ifm-navbar-background-color: transparent;
  --ifm-navbar-height: var(--vuu-navbar-height);
  --ifm-navbar-link-color: #ffffff;
  --ifm-navbar-item-padding-horizontal: 0;
  --ifm-paragraph-margin-bottom: 0;
  
  --ifm-navbar-shadow: 0;
  --ifm-footer-background-color: #0086bf;
  --ifm-footer-title-color: #ffffff;
  --ifm-footer-color: #ffffff;
  --ifm-footer-link-color: #ffffff;
  --ifm-code-font-size: 95%;
}

body {
  align-items: center;
  background-color: var(--vuu-dark-body-bg);
  display: flex;
  flex-direction: column;
  font-family: var(--vuu-font-family);
}

#__docusaurus {
  align-items: center;
  color: var(--vuu-dark-text-primary);
  position: relative;
  width: var(--vuu-desktop-width);
}

.navbar {
  background: var(--vuu-navbar-bg);
  padding: 0;
  position: fixed;
  width: var(--vuu-desktop-width);
}

.navbar__inner {
  align-items: flex-start;
  height: var(--vuu-navbar-height);
  padding: var(--vuu-navbar-padding) 80px 0 80px;
}

.navbar .navbar__logo > img {
  height: var(--vuu-navbar-logo-size);
  transition: height .3s;
}

.navbar__link {
  border-bottom: solid 3px transparent;
  color: var(--vuu-dark-text-primary);
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
  margin: 0 12px;
}
.navbar__link--active {
  border-bottom: solid 3px var(--vuu-accent1);
}

.navbar [class*="colorModeToggle"] {
  display: none;
}

.vuu-scroll-1-bg {
  background: linear-gradient(180deg, var(--vuu-dark-bg-background2) 0%, var(--vuu-dark-bg-background1) 100%);
  height: 800px;
  left: 0px;
  position: absolute;
  top:0px;
  width: var(--vuu-desktop-width);
  z-index: -1;
}

.vuu-scroll-1 {
  display: flex;
  flex-direction: column;
  height: 800px;
  padding-top: calc(18px + var(--vuu-navbar-height));
}

.vuu-scroll-1-main {
  display: flex;
  flex: 1 1 auto;
  justify-content: space-around;
}

.vuu-scroll-1-copy {
margin-top: 50px;
}

.vuu-scroll-1-scroll-arrow {
  align-items: center;
  display: flex;
  justify-content: center;
}

.vuu-scroll-arrow {
  display: inline-block;
}

.vuu-scroll-arrow-svg {
  fill: white;
}

.vuu-scroll-arrow-title {
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.05em;
}

.vuu-chart {
  height: 400px;
  width: 400px;
}

.vuu-main {
  width: var(--vuu-desktop-width);
}

.vuu-frame-10 {
  background-color: var(--vuu-dark-bg-background1);

  /* content driven, remove later */
  height: 476px;
  padding-top: 100px;
}

.vuu-frame-11 {
  --vuu-feature-row-marginTop: 0;
  --vuu-heading3-lineHeight: 44px;
  --vuu-title-marginTop: 40px;
  --vuu-title-height: 88px;
  --vuu-heading3-color: var(--vuu-accent1);
  background: linear-gradient(180deg, var(--vuu-dark-bg-background1) 0%, var(--vuu-dark-bg-background2) 100%);

  /* content driven, remove later */
  height: 676px;
}

.vuu-frame-13 {
  background-color: var(--vuu-dark-bg-background2);
  /* content driven, remove later */
  height: 1122px;
}

.vuu-heading-1 {
  font-size: var(--vuu-heading1-fontSize);
  font-weight: var(--vuu-heading1-fontWeight);
  line-height: var(--vuu-heading1-lineHeight);
}

.vuu-heading-2 {
  font-size: var(--vuu-heading2-fontSize);
  font-weight: var(--vuu-heading2-fontWeight);
  line-height: var(--vuu-heading2-lineHeight);
}

.vuu-heading-3 {
  color: var(--vuu-heading3-color);
  font-size: var(--vuu-heading3-fontSize);
  font-weight: var(--vuu-heading3-fontWeight);
  line-height: var(--vuu-heading3-lineHeight);
}

.vuu-paragraph-medium {
  font-size: var(--vuu-paragraph-medium-fontSize);
  font-weight: var(--vuu-paragraph-medium-fontWeight);
  line-height: var(--vuu-paragraph-medium-lineHeight);
  margin: 44px 0 30px 0;
}

.vuu-paragraph-large {
  font-size: var(--vuu-paragraph-large-fontSize);
  font-weight: var(--vuu-paragraph-large-fontWeight);
  line-height: var(--vuu-paragraph-large-lineHeight);
  margin: 44px 0 30px 0;
}

.vuu-action {
  background-color: var(--vuu-accent1);
  border-radius: 20px;
  color: var(--vuu-light-text-primary);
  font-size: var(--vuu-action-fontSize);
  font-weight: var(--vuu-action-fontWeight);
  line-height: var(--vuu-action-lineHeight);
}

.vuu-get-started-button {
  margin-top: 10px;
}

.vuu-revolving-caption {
  color: var(--vuu-accent1);
}

.vuu-feature-row {
  display: flex;
  justify-content: space-around;
  margin-top: var(--vuu-feature-row-marginTop, 60px);
}

.vuu-feature {
  flex: var(--vuu-feature-flex);
}

.vuu-feature-1 {
  font-size: 80px;
  line-height: 80px;
  font-weight: 300;
}
.vuu-feature-1-measure {
  font-size: 50px;
  
}

.vuu-feature-2 {
  font-size: 20px;
  line-height: 33px;
  font-weight: 400;
}


.vuu-feature-title {
  align-items: flex-end;
  display: flex;
  height: var(--vuu-title-height);
  margin-top: var(--vuu-title-marginTop);
  max-width: 225px;

}

.docusaurus-highlight-code-line {
  background-color: #0033a0;
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

.codeBlock_node_modules-\@docusaurus-theme-classic-lib-theme-CodeBlock-Content-styles-module {
  background-color: var(--main-bg-color);
}

.hero.hero--primary {
  background-color: var(--main-bg-color);
  background-repeat: no-repeat;
  background-size: cover;
}
/* .footer {
  background-color: var(--main-bg-color);
} */

.features_src-pages-styles-module {
  background-color: var(--main-bg-color);
}

.members_src-pages-styles-module {
  background-color: var(--main-bg-color);
}

.hero.hero--primary img {
  margin-bottom: 30px;
  width: 50%;
}

.navbar__logo img {
  height: 60px;
}
.navbar__items--right {
  position: relative;
  top: 26px
}


h2 {
  color: #ffffff;
  font-weight: 300;
  font-size: 2em;
}



.hero__title {
  color: #ffffff;
}

.hero--subtitle {
  margin-bottom: 50px;
  font-size: 1.5rem;
}

.row h2 {
  margin-bottom: 30px;
}

.github-button {
  background-color: transparent;
  color: #e37f83;
  font-weight: 400;
  border: 2px solid;
  border-radius: 20px;
}

.home-page-images {
  display: block;
  margin: 0 auto;
}

/* img {
  display: block;
  margin: 0 auto;
} */

.button.button--secondary {
  color: white;
}

.button.button--secondary.button--outline:not(.button--active):not(:hover) {
  color: #ffffff;
}

.row--center h2 {
  color: #29327a;
  font-size: 35px;
  font-weight: bolder;
  text-align: center;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}

span {
  color: var(#ffffff);
}


.padding {
  margin-top: 25px;
  margin-bottom: 25px;
}

/* * {
  border: 1px solid red;
} */

.p-homepage {
  color: white;
}

/* Feature3  */

.feature-3-container {
  display: flex;
  flex-wrap: wrap;
  padding-left: 100px;
}

.column {
  flex: 1;
  padding: 20px;
  transition: flex 0.3s ease-in-out;
  cursor: pointer;
  position: relative;
}

.column.expanded {
  flex: 3;
}

.column.expanded p {
  max-width: 200px;
}

.column.expanded h2 {
  max-width: 200px;
}

.image {
  max-width: 100px;
  height: auto;
}

.expanded-image {
  width: 100%;
  max-width: 500px;
  height: auto;
  position: absolute;
  top: 0;
  right: 0;
}

@media (max-width: 996px) {
  .column {
    flex-basis: 100%;
  }
}

.feature-3-heading {
  color: #e37f83;
}

.hidden {
  display: none;
}

/* Footer  */

footer {
  width: var(--vuu-desktop-width);
  border-top: 0.5px solid  rgba(255, 255, 255, 0.2) ;
  height: 330px;
}

.footer-columns {
  display: flex;
  align-items: center; /* Vertically center the columns */
  background-color: var(--vuu-dark-bg-background2);
  padding-bottom: 100px;
  padding-top: 100px;
  padding-right: 64px;
  color: var(--vuu-dark-text-secondary);
  font-family: 'Raleway'
}

.footer-column {
  flex: 1;
}

.footer-column:first-of-type{
  padding-left: 193px;
}

.footer-column:first-of-type img{
  margin-bottom: 16px;
}

.footer-column:nth-of-type(2) {
  flex: 0.5; 
}


.footer-column:first-of-type,
.footer-column:nth-of-type(2) {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align content to the left */
  justify-content: center;
  border-right: 0.5px solid rgba(255, 255, 255, 0.2);
  padding-right: 4px;
}

.footer-column:nth-of-type(2) img {
  display: block;
  margin: 0 auto;
}

.footer-column:nth-of-type(3),
.footer-column:nth-of-type(4) {
  padding-left: 64px;
}


.footer-column ul {
  list-style: none;
}

.footer-column ul li a {
  color: var(--vuu-dark-text-secondary);
  opacity: 0.5;
}

 /* *{
  border: 1px solid red; 
}  */