.vuu-heading-1 {
    font-size: var(--vuu-heading1-fontSize);
    font-weight: var(--vuu-heading1-fontWeight);
    line-height: var(--vuu-heading1-lineHeight);
    text-align: var(--vuu-heading-text-align);
  }
  
  .vuu-heading-2 {
    font-size: var(--vuu-heading2-fontSize);
    font-weight: var(--vuu-heading2-fontWeight);
    line-height: var(--vuu-heading2-lineHeight);
  }
  
  .vuu-heading-3 {
    color: var(--vuu-heading3-color);
    font-size: var(--vuu-heading3-fontSize);
    font-weight: var(--vuu-heading3-fontWeight);
    line-height: var(--vuu-heading3-lineHeight);
  }

  .vuu-heading-5 {
    color: var(--vuu-heading5-color);
    font-size: var(--vuu-heading5-fontSize);
    font-weight: var(--vuu-heading5-fontWeight);
    line-height: var(--vuu-heading5-lineHeight);
  }
  
  .vuu-paragraph-medium {
    font-size: var(--vuu-paragraph-medium-fontSize);
    font-weight: var(--vuu-paragraph-medium-fontWeight);
    line-height: var(--vuu-paragraph-medium-lineHeight);
    margin: 44px 0 30px 0;
  }
  
  .vuu-paragraph-large {
    font-size: var(--vuu-paragraph-large-fontSize);
    font-weight: var(--vuu-paragraph-large-fontWeight);
    line-height: var(--vuu-paragraph-large-lineHeight);
    margin: 44px 0 30px 0;
  }
  
  .vuu-action {
    background-color: var(--vuu-accent1);
    border-radius: 20px;
    color: var(--vuu-light-text-primary);
    font-size: var(--vuu-action-fontSize);
    font-weight: var(--vuu-action-fontWeight);
    line-height: var(--vuu-action-lineHeight);
  }
  
.vuu-button-bar {
    display: flex;
    gap: 25px;
    position: relative;
    transform: var(--vuu-button-bar-transform);
}

.vuu-button {
    align-items: center;
    border-radius: 50px;
    color: var(--vuu-light-text-primary);
    display: flex;
    font-weight: 700;
    height: 45px;
    padding: 0 40px;
}

.vuu-button:hover {
    color: initial;
    text-decoration: none;
}

.vuu-button:visited {
    text-decoration: none;
}

.vuu-button-cta {
    background-color: var(--vuu-accent1);
}

.vuu-button-secondary {
    background-color: var(--vuu-dark-bg-background2);
    border: solid 2px var(--vuu-accent1);
    color: var(--vuu-accent1);
}

.vuu-button-secondary:hover {
    color: var(--vuu-accent1);
}
