.vuuLayoutStartPanel {
    align-items: center;
    flex: 0 0 auto !important;
    display: flex;
    flex-direction: column;
    font-weight: 700;
    gap: 12px;
}

.vuuLayoutStartPanel-title {
    color: var(--vuu-color-gray-80);
    font-size: 28px;
    line-height: 1.5;
    text-align: center;
}

.vuuLayoutStartPanel-text {
    color: var(--vuu-color-gray-50);
    font-size: 18px;
    line-height: 1.5;
    max-width: 460px;
}

.vuuLayoutStartPanel-addButton {
    --vuu-icon-size: 20px;
    --saltButton-borderRadius: 28px !important;
    --saltButton-height: 56px;
    --saltButton-width: 56px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}