.vuuSaveLayoutPanel {
  --salt-selectable-foreground-hover: #6d18bdc3;
  --salt-selectable-foreground-selected: #6d18bd;
  --salt-selectable-borderColor-selected: #6d18bd;
  --saltInputLegacy-fontSize: 12px;
  --salt-text-label-fontSize: 10px;
  --saltFormFieldLegacy-label-paddingLeft: 0;
  --saltFormField-label-fontWeight: 400;
  --saltText-color: var(--text-secondary-foreground, #606477);

  align-items: flex-start;
  display: flex;
  flex-direction: column;

  .saltFormField {
    border: solid 1px var(--salt-editable-borderColor);
    padding: var(--salt-spacing-50) var(--salt-spacing-200);
  }

  .saltComboBox {
    .saltPillInput-endAdornmentContainer {
      .saltButton {
        border: none;
        width: 18px;
        transform: rotate(90deg);
      }
      .saltButton:after {
        content: "";
        background-color: var(--salt-content-secondary-foreground);
        left: auto;
        height: 20px;
        mask: var(--vuu-svg-triangle-right) center center/20px 20px;
        mask-repeat: no-repeat;
        position: absolute;
        top: var(--vuu-icon-top, auto);
        transform: var(--vuu-icon-transform, none);
        width: 20px;
      }
    }
    .saltPillInput-activationIndicator {
      display: none;
    }
  }
}

.spinner {
  width: 100px;
  height: 100px;
  background-image: var(--svg-spinner);
}

.vuuSaveLayoutPanel-panelContent {
  display: grid;
  gap: 32px;
  margin-top: var(--salt-spacing-200);
}

.vuuSaveLayoutPanel-inputText {
  border: none;
  color: var(--light-text-primary, #15171b);
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  padding-left: 4px;
  width: 100%;
  outline: none;
}

.vuuSaveLayoutPanel-settingsGroup {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  gap: 10px;
  width: 100%;
  line-height: 16px;
}

.vuuSaveLayoutPanel-screenshotContainer {
  display: flex;
  width: 304px;
  height: 208px;
  padding: 11px 15.5px;
  justify-content: center;
  align-items: center;
  border: 1px solid #e8e8e8;
  background: var(--dark-text-primary, #fff);
}

.vuuSaveLayoutPanel-screenshot {
  background: lightgray 50% / cover no-repeat;
  width: 273px;
  height: 186px;
}

.vuuSaveLayoutPanel-buttonsContainer {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  align-self: stretch;
  padding-top: 24px;
  gap: 8px;
}

.vuuSaveLayoutPanel-cancelButton,
.vuuSaveLayoutPanel-saveButton {
  display: flex;
  height: fit-content;
  padding: 4px 8px;
  align-items: flex-start;
  gap: 8px;
  border-radius: 6px;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 133.333%;
  letter-spacing: 0.48px;
  text-transform: uppercase;
}
