.vuuTableCell.vuuTableCell-editable {
  .vuuTableInputCell.saltInput-primary {
    --salt-focused-outlineStyle: none;
    --saltInput-height: var(--vuu-table-embedded-control-height);
    --saltInput-minHeight: var(--saltInput-height);
    border-radius: 2px;
    font-weight: 500;
  }
}

.vuuTableInputCell {
  --edit-indicator-color: var(--salt-editable-borderColor);
}
.vuuTableInputCell-icon {
  --vuu-icon-height: 13px;
  --vuu-icon-left: 0;
  --vuu-icon-size: 15px;
  --vuu-icon-width: 12px;
  border-radius: 10px;
  cursor: pointer;
}

.vuuTableInputCell-error.saltInput-bordered.saltInput {
    border-color: var(--salt-status-error-foreground-informative);
  .saltInput-startAdornmentContainer {
    .vuuTableInputCell-icon {
      --vuu-icon-color: var(--salt-status-error-bold-background);
    }
  }
  .saltInput-endAdornmentContainer {
    .vuuTableInputCell-icon {
      --vuu-icon-color: var(--salt-status-error-bold-background);
    }
  }
}
.vuuTableInputCell-warning.saltInput-bordered.saltInput {
    border-color: var(--salt-status-warning-foreground-informative);
  .saltInput-startAdornmentContainer {
    .vuuTableInputCell-icon {
      --vuu-icon-color: var(--salt-status-warning-bold-background);
    }
  }
  .saltInput-endAdornmentContainer {
    .vuuTableInputCell-icon {
      --vuu-icon-color: var(--salt-status-warning-bold-background);
    }
  }
}

.vuuTableCell-right {
  .saltInput-input {
    text-align: right;
  }
}

.vuuTableInputCell-edited {
  border-left:  solid var(--vuuTableInputCell-edited-color, var(--edit-indicator-color)) 4px !important;
}

.vuuTableInputCell-error {
    --edit-indicator-color: var(--salt-status-error-foreground-informative);
    outline: var(--vuuTableCell-outline, solid var(--salt-status-error-foreground-informative) 2px);
    outline-offset: -2px;
}

.vuuTableInputCell-warning {
    --edit-indicator-color: var(--salt-status-warning-foreground-informative);
    outline: var(--vuuTableCell-outline, solid var(--salt-status-warning-foreground-informative) 2px);
    outline-offset: -2px;
}
