.vuuTableCell.vuuTableCell-editable {
  .vuuTableInputCell.saltInput-primary {
    --salt-focused-outlineStyle: none;
    --saltInput-height: var(--vuu-table-embedded-control-height);
    --saltInput-minHeight: var(--saltInput-height);
    border-radius: 2px;
    font-weight: 500;
  }
}

.vuuTableInputCell-icon {
  --vuu-icon-height: 13px;
  --vuu-icon-left: 0;
  --vuu-icon-size: 15px;
  --vuu-icon-width: 12px;
  border-radius: 10px;
}

.vuuTableInputCell-error {
  .saltInput-startAdornmentContainer {
    .vuuTableInputCell-icon {
      --vuu-icon-color: red;
    }
  }
  .saltInput-endAdornmentContainer {
    .vuuTableInputCell-icon {
      --vuu-icon-color: red;
    }
  }
}

.vuuTableCell-right {
  .saltInput-input {
    text-align: right;
  }
}

.vuuTableCell-error {
  .vuuTableInputCell {
    outline: var(--vuuTableCell-outline, solid red 2px);
    outline-offset: -2px;
  }
}
