
.vuuTableInputCell.saltInput-primary {
    --salt-focused-outlineStyle: none;
    --saltInput-height: var(--vuu-table-embedded-control-height);
    --saltInput-minHeight: var(--saltInput-height);
    border-radius: 4px;
    font-weight: 500;
}

.vuuTableCell:focus .vuuTableInputCell.saltInput-primary,
.vuuTableInputCell.saltInput-primary.saltInput-focused {
    border: solid 2px var(--salt-focused-outlineColor);
    padding: 0 3px;
}

.vuuTableInputCell-icon {
    --vuu-icon-height: 13px;
    --vuu-icon-size: 15px;
    --vuu-icon-width: 12px;
    border-radius: 10px;
}

.vuuTableCell:focus .vuuTableInputCell.saltInput-primary.vuuTableInputCell-error,
.vuuTableInputCell.saltInput-primary.saltInput-focused.vuuTableInputCell-error {
    border: solid 2px var(--vuu-color-red-50);
}


.vuuTableInputCell-error.saltInput-primary {
    border: solid 1px var(--vuu-color-red-50);
}