.vuuColumnTypePanel {
    --settings-panel-marginTop: 0px;
}

.vuuColumnTypePanel-renderer {
    --saltButton-background: var(--salt-container-secondary-background);
    --saltButton-background-hover: var(--salt-actionable-secondary-background-hover);
}
