.salt-theme.vuu-theme {
  /** TODO these will need density variants */
  --saltButton-borderRadius: 6px;
  --saltButton-padding: var(--salt-spacing-400);

  .saltButton {
    gap: var(--salt-spacing-200);
    white-space: nowrap;

    .vuuIcon {
      --vuu-icon-color: var(--vuuButtonIcon-color, var(--button-text-color));
    }
  }


  /* .saltButton:active:not(:disabled) {
    --vuu-icon-color: var(--button-text-color-active);
  }

  .saltButton:hover:not(.saltButton-disabled, .saltButton-active, :active) {
    --vuu-icon-color: var(--button-text-color-hover);
  }

  .saltButton-active {
    --vuu-icon-color: var(--button-text-color-active);
  }

  .saltButton-disabled {
    --vuu-icon-color: var(--button-text-color-disabled);
  }

  .saltButton-neutral {
    --saltButton-borderColor: var(
      --vuuButton-borderColor,
      var(--salt-actionable-bold-foreground)
    );
    --saltButton-borderWidth: 1px;
    --saltButton-borderStyle: solid;
  }

  .saltButton-neutral:not(:disabled):not(:active):not(
      .saltButton-active
    ):hover {
    --saltButton-borderColor: var(
      --vuuButton-borderColor,
      var(--salt-actionable-bold-background-hover)
    );
  } */
}

.saltButton[data-embedded]{
  border: none;
}