.saltButton {
    white-space: nowrap;;
}

.saltButton-primary {
    --saltButton-borderColor: var(--salt-actionable-primary-foreground);
    --saltButton-borderWidth: 1px;
    --saltButton-borderRadius: 6px;
    --saltButton-borderStyle: solid;
    --vuu-icon-color: var(--saltIcon-color);
}

.saltButton-primary:hover {
    --saltButton-borderColor: var(--salt-actionable-primary-background-hover)
}

.saltButton-secondary {
    --saltButton-borderStyle: none;
}

.saltButton:focus-visible {
    outline-color: var(--vuuToolbarItem-outlineColor, var(--vuu-color-purple-10));
    outline-style: dashed;
    outline-width: 1px;
    outline-offset: -1px;
}
