.salt-theme.vuu-theme {
  /** TODO these will need density variants */
  --saltButton-borderRadius: 6px;
  --saltButton-padding: var(--salt-spacing-400);

  .saltButton {
    gap: var(--salt-spacing-200);
    white-space: nowrap;
  }

  .saltButton-primary {
    --saltButton-borderColor: var(
      --vuuButton-borderColor,
      var(--salt-actionable-primary-foreground)
    );
    --saltButton-borderWidth: 1px;
    --saltButton-borderStyle: solid;
  }

  .saltButton-primary:not(:disabled):not(:active):not(
      .saltButton-active
    ):hover {
    --saltButton-borderColor: var(
      --vuuButton-borderColor,
      var(--salt-actionable-primary-background-hover)
    );
  }
}
