.vuu-theme {
    /** TODO these will need density variants */
    --saltButton-borderRadius: 6px;
    --saltButton-padding: 16px;

    .saltButton-primary {
        --saltButton-borderColor: var(--salt-actionable-primary-foreground);
        --saltButton-borderWidth: 1px;
        --saltButton-borderStyle: solid;
    }

    .saltButton-primary:not(:disabled):not(:active):not(.saltButton-active):hover {
        --saltButton-borderColor: var(--salt-actionable-primary-background-hover)
    }    
}

