.salt-theme.vuu-theme {
    .vuuFilterBar {
        --vuuFilterBar-height: 32px;
    };
    .vuuFilterBar-quick-filter {
        --vuuFilterBar-height: 50px;
    };
    .vuuFilterPill {
        --vuuSplitButton-borderRadius: var(--salt-size-base);
    }
}