.salt-theme.vuu-theme {
  .vuuLeftNav {
    .vuuTab {
      color: var(--vuu-color-white);
    }

    .vuuTab-selected {
      --vuu-icon-color: var(--vuu-color-coral);
      border-left-color: var(--vuu-color-coral);
    }

    .vuuLeftNav-toggleButton {
      background-color: var(--vuu-color-coral);
    }
  }
}
