.salt-theme.vuu-theme {
    .saltMenuPanel {
        &:has([data-icon]) {
            .saltMenuItem {
                padding-left: calc(var(--salt-spacing-400) + var(--salt-spacing-200));
            }
            .saltMenuItem[data-icon]:after {
                --vuu-icon-left: var(--salt-spacing-150);
                --vuu-icon-top: var(--salt-spacing-150);
            }
            .saltMenuItem[aria-haspopup="menu"]:after {
                content: "";
                background-color: var(--vuu-icon-color, var(--saltIcon-color, var(--salt-content-secondary-foreground)));
                right: var(--salt-spacing-100);
                height: var(--vuu-icon-height, var(--vuu-icon-size, 12px));
                mask: var(--vuu-svg-triangle-right) center center / 8px 8px;
                mask-repeat: no-repeat;
                position: absolute;
                transform: rotate(315deg);
                top: var(--salt-spacing-200);
                width: var(--vuu-icon-width, var(--vuu-icon-size, 12px));

                &:hover {
                    background: var(--vuu2-color-gray-15);
                }
                &.saltOption-focusVisible {
                    background: var(--vuu2-color-gray-15);
                }

            }
        }
    }
}