.salt-theme.vuu-theme {
  .vuuScrollable {
    --scrollable-size: var(--vuuScrollable-size, 4px); 

    ::-webkit-scrollbar {
      height: var(--scrollable-size);
      width: var(--scrollable-size);
    }

    ::-webkit-scrollbar-track {
      background: transparent;
    }

    ::-webkit-scrollbar-thumb {
      border-radius: calc(var(--scrollable-size) / 2);
      background: var(--vuuScrollable-scrollThumb-background, #d9d9d9);
    }
  }
}
