.salt-theme.vuu-theme[data-mode="light"] {
  --vuuShell-background: var(--vuu-color-gray-25);
  --vuuWorkspace-background: var(--salt-container-primary-background);
}

.salt-theme.vuu-theme[data-mode="dark"] {
  --vuuShell-background: var(--salt-container-primary-background);
  --vuuWorkspace-background: var(--salt-color-gray-400);
}

/* --vuu-workspace-background: var(--vuu-color-gray-25);
  .vuuShell {
    background-color: var(--vuu-color-gray-25);
  }
  /* .vuu-workspace-tabs {
    background-color: var(--vuu-workspace-background);
  } */

/* --vuu-workspace-background: brown;
  .vuuShell {
    background-color: var(--salt-container-primary-background);
  }

  .vuu-workspace-tabs {
    background-color: var(--vuu-workspace-background);
  } */
