.salt-theme.vuu-theme[data-mode="light"] {
  --vuuWorkspace-background: var(--salt-container-primary-background);
}

.salt-theme.vuu-theme[data-mode="dark"] {
  --vuuWorkspace-background: var(--salt-container-primary-background);
}

.salt-theme.vuu-theme {
  .vuu-workspace-tabs {
    border: none;
    border-radius: 0 0 6px 6px;
    padding: 31px 0 0 0;

    & > .vuuTabs-tabPanel {
      border: solid 1px var(--salt-separable-primary-borderColor);
      border-top: none !important;
      border-radius: 0 0 6px 6px;
      padding: 0 8px 8px 8px;
    }
  }
}
