.salt-theme.vuu .vuuSplitter {
    --splitter-background: var(--vuu-color-gray-05);
    --splitter-size: 9px;
    --splitter-borderColor: white;
    --splitter-borderStyle: none solid none solid;
    --splitter-borderWidth: 4px;
}

.salt-theme.vuu .vuuSplitter-column {
    --splitter-borderStyle: solid none solid none;
}