.salt-theme.vuu-theme {
  --vuuTableRow-selectionBlock-borderColor: var(--vuu-color-purple-10);
  --vuuTableCell-contextOpen-outlineColor: var(--vuu-color-orange-50);

  &.salt-density-high {
    --vuu-table-row-height: 20px;
  }
  &.salt-density-medium {
    --vuu-table-row-height: 28px;
  }
  &.salt-density-low {
    --vuu-table-row-height: 36px;
  }
  &.salt-density-touch {
    --vuu-table-row-height: 48px;
  }

  .vuuTableRow-selected:not(
      .vuuTableRow-selectedStart,
      .vuuTableRow-selectedEnd
    ) {
    .vuuTableRow-selectionDecorator {
      background: var(--vuuTableRow-selectionBlock-borderColor);
    }
  }

  .vuuTableRow-selectedStart .vuuTableRow-selectionDecorator:before,
  .vuuTableRow-selectedEnd .vuuTableRow-selectionDecorator:before {
    background: var(--vuuTableRow-selectionBlock-borderColor);
  }
}
