.salt-theme.vuu-theme {
    .vuuToastNotification {
        --vuuToast-error-background: var(--salt-status-error-bold-background);
        --vuuToast-error-foreground: white;
        --vuuToast-success-background: var(--salt-status-success-bold-background);
        --vuuToast-success-foreground: white;
    }
}