.saltToggleButtonGroup {
    border-radius: 6px;
    padding: 0;
}

.saltToggleButtonGroup-horizontal .saltToggleButton {
    height: 24px;
}

.vuuIconToggleButton {
    --vuu-icon-size: 48px;
    width: 48px;
}

.vuuIconToggleButton:first-child {
    border-radius: 6px 0 0 6px;
}
.vuuIconToggleButton:last-child {
    border-radius: 0 6px 6px 0;
}