.salt-theme.vuu-theme {
  .saltToggleButtonGroup {
      padding: 0;
  }

  .saltToggleButtonGroup-horizontal {
        .saltToggleButton {
            gap: var(--salt-spacing-150);
            height: calc(var(--salt-size-base) + var(--salt-size-fixed-400) - var(--salt-spacing-100));
            padding: 0 var(--salt-spacing-400);
            &[aria-checked="true"]{
                --vuu-icon-color: var(--toggleButton-text-color-selected);
            }
        }
  }
}

.salt-theme.vuu-theme-next {
  .saltToggleButtonGroup {
      padding: 0;
      .saltToggleButton {
        border-radius: var(--salt-palette-corner-weak);
      }

  }

  .saltToggleButtonGroup-horizontal {
        &[data-borderless="true"]{
            border: none;
        }

        .saltToggleButton {
            --vuu-icon-color: var(--toggleButton-text-color);
            gap: var(--salt-spacing-150);
            height: calc(var(--salt-size-base) + var(--salt-size-fixed-400) - var(--salt-spacing-100));
            padding: 0 var(--salt-spacing-400);
            &[aria-checked="true"]{
                --vuu-icon-color: var(--toggleButton-text-color-selected);
            }

            &.saltToggleButton-neutral.saltToggleButton-solid[aria-checked="true"] {
                background: var(--salt-color-gray-900);
            }

        }
  }
}