.salt-theme.vuu2-theme {
  --salt-palette-corner-weaker: var(--vuu2-curve-40);
  --salt-palette-corner-weak: var(--vuu2-curve-60);
  --salt-palette-corner: var(--salt-curve-0);
  --salt-palette-corner-strong: var(--salt-curve-0);
  --salt-palette-corner-stronger: var(--salt-curve-0);
  --salt-palette-corner-strongest: var(--salt-curve-999);
}
