.salt-theme.vuu2-theme[data-mode="light"] {
  --salt-palette-navigate-foreground-visited: var(--salt-color-purple-800);
  --salt-palette-navigate-indicator-hover: var(--vuu2-color-coral);
  --salt-palette-navigate-indicator-active: var(--vuu2-color-purple);
}

.salt-theme.vuu2-theme[data-mode="dark"] {
  --salt-palette-navigate-foreground-visited: var(--salt-color-purple-100);
  --salt-palette-navigate-indicator-hover: var(--salt-color-gray-90);
  --salt-palette-navigate-indicator-active: var(--salt-color-orange-400);
}
