body {
  /* TEMP avoid the dragged item triggering scrollbars */
  overflow: hidden;
}

.ShowcaseNav {
  --hwTree-toggle-expand: var(--svg-chevron-right);
  --hwTree-toggle-collapse: var(--svg-chevron-right);
  --hwTree-node-expanded-transform: rotate(90deg) translate(1px, 1px);
  --hwTree-icon-color: var(--salt-palette-accent-background);
  --hwTree-font-size: 12px;
}

.ShowcaseToolbar,
.ShowcaseContentToolbar {
  --saltToolbar-height: 30px;
  --saltButton-height: 28px;
  --saltButton-width: 28px;
}

.ShowcaseToolbar > .Responsive-inner,
.ShowcaseContentToolbar > .Responsive-inner {
  align-items: center;
}

.ShowcaseContentToolbar {
  --saltToolbar-background: transparent;
  border-bottom: solid 1px var(--salt-container-primary-borderColor);
  flex: 0 0 auto;
}

.ShowcaseContentContainer {
  border-left: solid 1px var(--salt-container-primary-borderColor);
}

.ShowcaseContent {
  background-color: var(--salt-container-primary-background);
}
