body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#root.vuu-standalone {
  height: 100vh;
}

.vuuToolbarProxy {
  align-items: center;
  display: flex;
  gap: 12px;
  height: 36px;
}

.vuuToolbarProxy > [data-align="end"]{
  margin-left: auto;
}

.vuuToolbarProxy-vertical {
  flex-direction: column;
}

/* .vuuTooltrayProxy {
} */