body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#root {
  min-height: 100vh;
}

.vuuToolbarProxy {
  align-items: center;
  display: flex;
  gap: 12px;
  height: 36px;
}

.vuuToolbarProxy > [data-align="end"]{
  margin-left: auto;
}

.vuuToolbarProxy-vertical {
  flex-direction: column;
}

/* .vuuTooltrayProxy {
} */

.vuuShowcase-StandaloneRoot {
  height: 100vh;
  /** this prevents root being displaced by component margin */
  position:absolute;
  left:0;
  top:0;
  width: 100vw;
}