.vuuGroupsPage {
  .saltSidePanelHeader {
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-template-rows: 32px;

    .saltSidePanelCloseButton {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
      justify-self: start;
    }

    .saltSidePanelTitle {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
    }
  }
}
