.vuuLoginPanel {
  --hwTextInput-border: solid 1px #ccc;
  --hwTextInput-height: 28px;
  --hwTextInput-padding: 0 12px;
  --hwTextInput-width: 100%;
  --login-row-height: 60px;
  align-content: center;
  align-items: center;
  border: solid 1px lightgray;
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
  justify-items: center;
  margin: 0 auto;
  padding: 48px 48px 24px 48px;
  width: fit-content;
}

.vuuLoginPanel-login {
  grid-column: 2/3;
  align-self: end;
  justify-self: end;
}
