.hwTree {
  --tree-node-collapse: var(--hwTree-toggle-collapse, var(--svg-tree-node-collapse));
  --tree-node-expand: var(--hwTree-toggle-expand, var(--svg-tree-node-expand));
  --tree-toggle-width: 12px;
  --tree-icon-color: var(--hwTree-icon-color, #4c505b);
  --tree-node-expanded-transform: var(--hwTree-node-expanded-transform, none);
  --tree-node-indent: 0px;

  --list-hilited-bg: var(--hw-list-hilited-bg, rgba(0, 0, 0, 0.1));
  --list-item-height: var(--hw-list-item-height, 30px);
  --list-item-padding: var(--hw-list-item-padding, 0 6px);
  --list-item-header-bg: var(--hw-list-item-header-bg, black);
  --list-item-header-color: var(--hw-list-item-header-color, white);
  --list-item-header-font-weight: bold;
  --list-item-header-twisty-color: black;
  --list-item-header-twisty-content: '';
  --list-item-header-twisty-top: 50%;
  --list-item-header-twisty-left: -18px;
  --list-item-header-twisty-right: auto;
  --list-item-selected-bg: var(--hw-list-selected-bg, #1ea7fd);
  --list-item-selected-color: white;
  --list-item-text-color: var(--hw-gray-800);
  --focus-visible-border-color: var(--hw-focus-visible-border-color, rgb(141, 154, 179));

  list-style: none;
  margin: 0;
  padding: 0 1px;
  font-size: var(--hwTree-font-size, 14px);
  max-height: inherit;
  outline: none;
  overflow-y: auto;
  position: relative;
  user-select: none;
}

.hwTree-viewport {
  --list-item-height: 30px;
  box-sizing: border-box;
  max-height: inherit;
  overflow: auto;
}

.hwTree-scrollingContentContainer {
  box-sizing: inherit;
  position: relative;
}

.hwTree-scrollingContentContainer .hwTreeNode {
  line-height: 30px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  will-change: transform;
}

.hwTreeNode {
  list-style: none;
}

/* Leaf node or the div child of a collapsible node */
.hwTreeNode:not([aria-expanded]),
.hwTreeNode[aria-expanded] > .hwTreeNode-label {
  --checkbox-border-color: black;
  --checkbox-border-width: 1px;
  --checkbox-tick: black;
  --list-item-padding-left: 6px;
  /* --svg-toggle: var(--svg-chevron-down); */
  --svg-toggle: var(--tree-node-collapse);

  align-items: center;
  color: var(--list-item-text-color);
  display: flex;
  flex-wrap: nowrap;
  height: var(--list-item-height);
  line-height: var(--list-item-height);
  padding: var(--list-item-padding);
  padding-left: var(--padding-left);
  position: relative;
  cursor: default;
  margin: 0;
  white-space: nowrap;
}

.hwTreeNode:not([aria-expanded]) {
  --padding-left: calc(
    var(--list-item-padding-left) + var(--tree-toggle-width) + var(--tree-node-indent)
  );
}

.hwTreeNode[aria-expanded] > .hwTreeNode-label {
  --padding-left: calc(
    var(--list-item-padding-left) + var(--tree-toggle-width) + var(--tree-node-indent)
  );
}

.hwTreeNode-icon {
  background-color: var(--tree-icon-color);
  display: inline-block;
  height: 18px;
  margin-right: 6px;
  -webkit-mask: var(--svg-icon) center center/12px 12px no-repeat;
  mask: var(--svg-icon) center center/12px 12px no-repeat;
  flex: 0 0 18px;
}

.hwTreeNode[aria-expanded] {
  flex-direction: column;
}

.hwTreeNode[aria-expanded] {
  flex-direction: column;
  height: auto;
}

.hwTreeNode > *[role='group'] {
  padding-left: 0px;
}

.hwTreeNode {
  padding-left: calc(var(--padding-left) + var(--tree-node-indent));
}

.hwTreeNode[aria-level='2'] {
  --tree-node-indent: 12px;
}
.hwTreeNode[aria-level='3'] {
  --tree-node-indent: 24px;
}
.hwTreeNode[aria-level='4'] {
  --tree-node-indent: 36px;
}

.hwTreeNode:not(.focusVisible):not(.hwListItemHeader):not([aria-expanded])[data-highlighted],
.hwTreeNode:not(.focusVisible):not(.hwListItemHeader)[aria-expanded][data-highlighted]
  > div:first-child {
  background-color: var(--list-hilited-bg);
}

.hwTreeNode-toggle {
  cursor: pointer;
}

.hwTreeNode > .hwTreeNode-toggle {
  display: inline-block;
  height: 100%;
  left: 0;
  position: absolute;
  width: calc(var(--list-item-padding-left) + var(--tree-toggle-width));
}

.hwTreeNode[aria-expanded] > .hwTreeNode-label:after {
  content: var(--list-item-header-twisty-content);
  -webkit-mask: var(--svg-toggle) center center/12px 12px no-repeat;
  mask: var(--svg-toggle) center center/12px 12px no-repeat;
  background-color: var(--list-item-header-twisty-color);
  height: 18px;
  margin-top: -9px;
  left: var(--tree-node-indent);
  position: absolute;
  top: var(--list-item-header-twisty-top);
  transition: transform 0.3s;
  width: 18px;
}

.hwTreeNode[aria-selected='true'] {
  --list-item-header-twisty-color: var(--list-item-selected-color);
}

/* .hwListItemHeader {
  background-color: var(--list-item-header-bg);
  color: var(--list-item-header-color);
  font-weight: var(--list-item-header-font-weight);


.hwListItemHeader[data-sticky='true'] {
  position: sticky;
  top: 0;
  z-index: 1;
} */

.hwTreeNode:not(.focusVisible):focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.hwTreeNode:not([aria-expanded]).focusVisible:before,
.hwTreeNode[aria-expanded].focusVisible > div:first-child:before {
  content: '';
  position: absolute;
  top: 0px;
  left: var(--tree-focus-offset, 0px);
  right: 0;
  bottom: 0px;
  border: dotted var(--focus-visible-border-color) 2px;
  background-color: var(--list-hilited-bg);
}

/* .hwTreeNode[aria-level='2'] {
  --tree-focus-offset: -13px;
}

.hwTreeNode[aria-level='3'] {
  --tree-focus-offset: -24px;
}

.hwTreeNode[aria-level='4'] {
  --tree-focus-offset: -36px;
} */

.hwTreeNode[aria-expanded='false'] > *:first-child:after {
  --svg-toggle: var(--tree-node-expand);
}

.hwTreeNode[aria-expanded='true'] > *:first-child:after {
  transform: var(--tree-node-expanded-transform);
}

/* Selection */

.hwTree:not(.checkbox-only) .hwTreeNode:not([aria-expanded])[aria-selected='true'],
.hwTree:not(.checkbox-only) .hwTreeNode[aria-expanded][aria-selected='true'] > div:first-child {
  --checkbox-border-color: var(--list-item-selected-color);
  --checkbox-tick: var(--list-item-selected-color);
  --focus-visible-border-color: var(--list-item-selected-color);
  background-color: var(--list-item-selected-bg);
  color: var(--list-item-selected-color);
}

.with-checkbox .hwTreeNode {
  padding-left: 28px;
}

.with-checkbox .hwTreeNode:before {
  border-style: solid;
  border-width: var(--checkbox-border-width);
  border-color: var(--checkbox-border-color);
  content: '';
  height: 12px;
  left: 3px;
  margin-top: -7px;
  position: absolute;
  top: 50%;
  width: 12px;
}
