.vuuFilterToggleButton {
    --svg-filter-slider: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M10 8h4"/><path d="M12 21v-9"/><path d="M12 8V3"/><path d="M17 16h4"/><path d="M19 12V3"/><path d="M19 21v-5"/><path d="M3 14h4"/><path d="M5 10V3"/><path d="M5 21v-7"/></svg>');
    --SaltButton-height: var(--vuuFilterToggleButton-size);
    --SaltButton-width: var(--vuuFilterToggleButton-size);
}

[data-icon="filter-slider"] {
  --vuu-icon-svg: var(--svg-filter-slider);
}

.vuuFilterToggleButton-overlay-panel {
    --vuuFilterDisplay-padding: 0;
    display: flex;
    flex-direction: column;
    gap: var(--salt-spacing-400);
    padding: var(--salt-spacing-200)
}
