.vuDialog, /* until we correctly set the className on FilteredGrid view in a dialog */
.vuFilteredGrid {
  --hwDialog-margin: 200px auto 0 auto;
  --hwParsedInput-background: white;
  --hwParsedInput-input-font-size: 12px;
  --hwParsedInput-height: 28px;
  --hwParsedInput-border-style: none none none solid;
  --hwParsedInput-width: calc(100% - var(--hwParsedInput-height));
  --hwDataGrid-flex: 100% 0 0;
  --hwDataGrid-font-size: 10px;
  --hwDataGridCell-border-style: none;
  --hwDataGridRow-background-odd: var(--surface1);
}

.vuFilteredGrid .hwDataGrid {
  height: calc(100% - 30px);
  inset: var(--hwParsedInput-height) 0 0 0;
  position: absolute;
}
