
.vuuTableDropdownCell {
    --vuu-icon-height: 15px;
    --salt-focused-outlineStyle: none;

    --saltButton-borderRadius: 4px;
    font-weight: 500;
}

.vuuTableDropdownCell button:focus-visible {
    --saltButton-borderColor: var(--vuu-color-purple-10);
    --saltButton-borderWidth: 2px;
    padding-left: 3px;
}