.salt-theme.vuu-theme-next,
.salt-theme.vuu-theme {
  --salt-typography-fontFamily-nunito: "Nunito Sans";

  --salt-typography-fontWeight-light: 300;
  --salt-typography-fontWeight-regular: 400;
  --salt-typography-fontWeight-medium: 500;
  --salt-typography-fontWeight-semiBold: 600;
  --salt-typography-fontWeight-bold: 700;
  --salt-typography-fontWeight-extraBold: 800;

  --salt-typography-textDecoration-none: none;
  --salt-typography-textDecoration-underline: underline;
  --salt-typography-textDecoration-italic: italic;
}
