.ColumnBearer {
  background-color: white;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.275);
  position: absolute;
  overflow: hidden;
  z-index: 150;
}

.ColumnBearer .HeaderCell {
  background-color: var(--header-cell-highlight-bg);
}
