.hwDataGridRow {
  background: var(--row-background);
  box-sizing: border-box;
  height: var(--grid-row-height);
  left: 0;
  line-height: var(--grid-row-line-height);
  outline: 0;
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 100%;
}

.hwDataGridRow-even {
  --row-background: var(--hwDataGridRow-background-even, var(--grid-row-background));
}

.hwDataGridRow:not(.hwDataGridRow-even) {
  --row-background: var(--hwDataGridRow-background-odd, var(--grid-row-background));
}

.hwDataGridRow .group .GridCell:first-child {
  padding: 0 6px 0 3px;
}

.hwDataGridRow[aria-selected='true'] {
  background-color: var(--grid-row-background-selected);
  color: white;
}

.hwDataGridRow.expanded {
  --row-toggle-icon-transform: rotate(90deg);
}
