.vuuSessionEditingForm {
    display: flex;
    flex-direction: column;
    gap: 3px;
    min-width: 400px;
}

.vuuSessionEditingForm-content {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    gap: 3px;
    overflow: auto;
    padding: var(--salt-spacing-200);
}


.vuuSessionEditingForm-fieldValue.vuuReadOnly {
    font-weight: var(--salt-text-label-fontWeight-strong);
}

.vuuSessionEditingForm-buttonbar {
    align-items: center;
    border-top: solid 1px var(--salt-container-primary-borderColor);
    box-sizing: content-box;
    display: flex;
    justify-content: flex-end;
    flex: 0 0 autox;
    gap: 6px;
    height: var(--salt-size-base);
    margin: var(--salt-spacing-200);
    padding-top: var(--salt-spacing-200);

}

.vuuSessionEditingForm-errorBanner {
    --vuu-icon-left: 3px;
    --vuu-icon-size: 18px;
    --vuu-icon-top: 3px;
    border: solid 1px var(--salt-status-error-borderColor);
    line-height: 24px;
    padding: 0 6px 0 26px;
    position: relative;
}