.vuuTableNextHeaderCell {
  --cell-align: 'flex-start';
  --vuuColumnHeaderPill-margin: 0;
  --vuuColumnHeaderPill-flex: 0 0 24px;

  align-items: center;
  background-color: var(--vuuTableNextHeaderCell-background, inherit);
  border-bottom: 1px solid #ccc;
  border-right-color: var(--cell-borderColor);
  border-right-style: solid;
  border-right-width: 1px;
  box-sizing: border-box;
  cursor: default;
  display: inline-flex;
  gap: 4px;
  height: var(--header-height);
  padding: 0 12px 0 4px;
  position: relative;
  vertical-align: top;
}

  .vuuTableNextHeaderCell-right {
    --columnResizer-left: 0;
    --vuuTable-columnMenu-margin: 0;
    --vuuColumnHeaderPill-margin: 0 3px 0 0;
    --column-menu-left: 2px;
    justify-content: flex-end;
    padding: 0 3px 0 12px;
  }


.vuuTableNextHeaderCell-label {
  flex: 0 1 auto;
  line-height: calc(var(--header-height) - 1px);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.vuuTableNextHeaderCell-right .vuuTableNextHeaderCell-label {
  text-align: right;
}

.vuuTableNextHeaderCell-resizing {
  --columnResizer-height: var(--table-height);
}

.vuuTableNextHeaderCell.vuuPinLeft {
  padding-left: 2px;
}

  .vuuTableNextHeaderCell.vuuPinLeft.vuuEndPin .vuuColumnResizerNext:before {
    --height: calc(var(--table-height) - 15px);
    --inset-r: calc(var(--pin-width) - 2px);
    --inset-b: calc(var(--height) - 2px);
    --clip-path: polygon(
      0% 0%,                              
      0% 120%,                            
      2px 120%,    
      2px 2px,      
      var(--inset-r) 2px,      
      var(--inset-r) var(--inset-b),      
      2px var(--inset-b),      
      2px 120%,     
      120% 120%,    
      120% 0%       
    );
    background-color: transparent;
    border-color:   var(--vuu-color-gray-40);
    border-width: 1px;
    border-style: solid solid solid solid;
    /* border-radius: 0 6px 6px 0; */
    border-radius: 4px;
    box-shadow: 2px 1px 4px 0px rgba(0, 0, 0, 0.10);
    /* clip-path: inset(10px 10px 10px 10px); */
    clip-path: var(--clip-path);
    content: '';
    position: absolute;
    width: var(--pin-width);
    top:0;
    bottom:0;
    right: 3px;
    height: var(--height);
    z-index: -5;
}

.vuuTableNextHeaderCell.vuuPinRight.vuuEndPin .vuuColumnResizerNext:before {
  --height: calc(var(--table-height) - 15px);
  --inset-r: calc(var(--pin-width) - 2px);
  --inset-b: calc(var(--height) - 2px);
  --clip-path: polygon(
    -20% 0%,                              
    -20% 120%,                            
    2px 120%,    
    2px 2px,      
    var(--inset-r) 2px,      
    var(--inset-r) var(--inset-b),      
    2px var(--inset-b),      
    2px 120%,     
    120% 120%,    
    120% 0%       
  );
  background-color: transparent;
  border-color: #A9AAAD;
  border-width: 1px;
  border-style: solid solid solid solid;
  /* border-radius: 0 6px 6px 0; */
  border-radius: 4px;
  box-shadow: -2px 1px 4px 0px rgba(0, 0, 0, 0.10);
  /* clip-path: inset(10px 10px 10px 10px); */
  clip-path: var(--clip-path);
  content: '';
  position: absolute;
  width: var(--pin-width);
  top:0;
  bottom:0;
  right: 0px;
  height: var(--height);
  z-index: -5;
}

.vuuTableNextHeaderCell.vuuDraggable-dragAway {
    display: none;
}
