
.tar-theme {
    /** TODO these will need density variants */
    --saltButton-borderRadius: 2px;
    --saltButton-padding: var(--salt-spacing-200);

    .saltButton {
        gap: var(--salt-spacing-100);
    }

    .saltButton[data-embedded="true"]{
        --saltButton-height: calc(var(--salt-size-base) - var(--salt-spacing-100));
        --saltButton-borderStyle: none; 
    }

    .vuuIconButton[data-embedded="true"]{
        --saltButton-width: calc(var(--salt-size-base) - var(--salt-spacing-100));
        --saltButton-minWidth: var(--saltButton-width);        

        --vuu-icon-width: 12px;
    }

    .saltButton-secondary {
        --saltButton-borderColor: var(--tar-color-gray-40);
        --saltButton-borderWidth: 1px;
        --saltButton-borderStyle: solid;
    }

    .saltButton-secondary:not(:disabled):hover {
        --saltButton-borderColor: var(--vuuButton-borderColor, var(--salt-actionable-secondary-background-hover));
    }    
}


.tar-theme[theme-mode="light"]{
    .saltButton-secondary {
        --saltButton-borderColor: var(--tar-color-gray-40);
    }
    .saltButton-secondary:disabled {
        --saltButton-borderColor: var(--tar-color-gray-20);
    }    
    
}

.tar-theme[theme-mode="dark"]{
    .saltButton-secondary {
        --saltButton-borderColor: var(--tar-color-gray-35);
    }
    .saltButton-secondary:disabled {
        --saltButton-borderColor: var(--tar-color-gray-30);
    }    

}

