.tar-theme {
    .vuuDropdownButton {
        --saltButton-borderColor: var(--salt-editable-borderColor);
        &:hover:not(:disabled) {
            --saltButton-borderColor: var(--salt-editable-borderColor-hover);
            --vuu-icon-color: var(--salt-actionable-secondary-foreground);
            color: var(--salt-actionable-secondary-foreground);
        }
        &:focus-visible {
            --vuu-icon-color: var(--salt-content-primary-foreground);
            color: var(--salt-content-primary-foreground);
          }
        
    }
}