.saltSwitch {
    --vuu-icon-left: -1px;
    --switch-height: calc(var(--salt-size-base) - var(--salt-spacing-200));
    --switch-width: calc(var(--salt-size-base) * 2);

    .saltSwitch-input {
        height: var(--switch-height);
    }
    .saltSwitch-label {
        padding-top:0;
    }

    .saltSwitch-track {
        background: var(--salt-selectable-background);
        border-radius: 8px;
        height: var(--switch-height);
        padding: 0 var(--salt-spacing-50);
        position: relative;
        width: var(--switch-width);
    }

    .saltSwitch-thumb {
        border-radius: 6px;
    }


    &:not(.saltSwitch-checked) {
        .saltSwitch-track:after {
            color: var(--salt-content-secondary-foreground);
            content: 'OFF';
            font-size: 11px;
            position: absolute;
            right: var(--salt-spacing-100);
            top: 0px;
        }
        .saltSwitch-thumb {
            background: var(--salt-selectable-borderColor);
        }
    }

    &.saltSwitch-checked {
        .saltSwitch-track {
            background: var(--salt-selectable-background-selected);
        }
        .saltSwitch-track:after {
            color: var(--salt-selectable-foreground-selected);
            content: 'ON';
            font-size: 11px;
            position: absolute;
            left: var(--salt-spacing-100);
            top: 0px;
        }
        .saltSwitch-thumb {
            background: var(--salt-selectable-foreground-selected);
            transform: translateX(30px);
        }
    }
}

/* .saltSwitch-track {
    border-radius: 4px;
    height: 14px;
    padding: 0 2px;
    width: 26px;
} */

/* .saltSwitch:not(.saltSwitch-disabled):hover .saltSwitch-track {
    --switch-color: var(--vuu-color-pink-10);  
} */

/* s
/* .saltSwitch-checked {
    --switch-color: var(--vuu-color-purple-10);  
} */

/* .saltSwitch-disabled {
    --switch-color: var(--vuu-color-gray-30); 
} */

/* .saltSwitch-checked .saltSwitch-thumb,
.saltSwitch-checked:hover .saltSwitch-thumb {
    transform: translateX(calc(100% + 2px));
} */


/* .saltSwitch-checked .saltSwitch-thumb:after {
    content: "";
    left: var(--vuu-icon-left, auto);
    height: var(--vuu-icon-height, var(--vuu-icon-size, 12px));
    mask: var(--vuu-svg-tick) center center/var(--vuu-icon-size) var(--vuu-icon-size);
    -webkit-mask: var(--vuu-svg-tick) center center/var(--vuu-icon-size) var(--vuu-icon-size);
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    position: absolute;
    top: var(--vuu-icon-top, auto);
    width: var(--vuu-icon-width, var(--vuu-icon-size, 12px));

} */