.vuuPalette {
}

.vuuPalette-horizontal {
  align-items: center;
  display: flex;
}

.vuuPalette .vuuComponentIcon {
}

.vuuPaletteItem {
  --vuu-icon-color: var(--uitk-separable-primary-background);
  --vuu-icon-inset: calc(50% - 12px) auto auto -3px;
  --vuu-icon-svg: var(--svg-grab-handle);
  --vuu-icon-height: 24px;
  --vuu-icon-width: 24px;
  padding-left: 20px;
}

.vuuPaletteItem[data-icon]:after {
  --height: var(--vuu-icon-height, var(--vuu-icon-size, 12px));
  --width: var(--vuu-icon-width, var(--vuu-icon-size, 12px));

  content: "";
  background-color: var(--vuu-icon-color, black);
  height: var(--height);
  inset: var(--vuu-icon-inset,0 auto 0 0);
  mask: var(--vuu-icon-svg) center center/var(--width) var(--height) no-repeat;
  -webkit-mask: var(--vuu-icon-svg) center center/var(--width) var(--height) no-repeat;
  position: absolute;
  width: var(--width);
}

.vuuSimpleDraggableWrapper > .vuuPaletteItem {
  --vuu-icon-color: var(--uitk-selectable-foreground);
}