.vuuPalette {
  --vuuList-borderStyle: none;
}

.vuuPalette-horizontal {
  align-items: center;
  display: flex;
}

.vuuPaletteItem {
  --vuu-icon-color: var(--salt-text-primary-foreground);
  --vuu-icon-left: 0;
  --vuu-icon-size: 16px;
  --vuu-icon-top: 11px;
  --list-item-text-padding: 0 0 0 calc(var(--salt-size-unit) * 3);
  border-bottom: solid 1px var(--salt-separable-tertiary-borderColor);
  padding-left: 12px;
  font-size: 12px;
  font-weight: 600;
}

.vuuSimpleDraggableWrapper > .vuuPaletteItem {
  --vuu-icon-color: var(--salt-selectable-foreground);

}


