.vuuPalette-horizontal {
  align-items: center;
  display: flex;
}

.vuuPaletteItem {
  --vuu-icon-color: var(--salt-separable-primary-borderColor);
  --vuu-icon-inset: calc(50% - 12px) auto auto -3px;
  --vuu-icon-height: 24px;
  --vuu-icon-width: 24px;
  --list-item-text-padding: 0 0 0 calc(var(--salt-size-unit) * 3);
}

.vuuPaletteItem[data-draggable]:after {
  height: 22px;
  width: 6px;
  content: "";
  position: absolute;

  background-image: 
  linear-gradient(45deg, rgb(180, 183, 190) 25%, transparent 25%),
  linear-gradient(-45deg, rgb(180, 183, 190) 25%, transparent 25%),
  linear-gradient(45deg, transparent 75%, rgb(180, 183, 190) 25%),
  linear-gradient(-45deg, transparent 75%, rgb(180, 183, 190) 25%);
  background-size: 4px 4px;
  background-position: 0 0, 2px 0, 2px -2px, 0 2px;  

}

.vuuSimpleDraggableWrapper > .vuuPaletteItem {
  --vuu-icon-color: var(--salt-selectable-foreground);

}