/* Class applied to root Tab element */
.vuuTab {
  --saltEditableLabel-padding: 0;
  --saltEditableLabel-height: calc(var(--tabstrip-height) - 2px);
  --saltInputLegacy-minWidth: 4em;
  --saltEditableLabel-top: 2px;

  --tab-background: var(--vuuTab-background, transparent);
  --tab-cursor: pointer;
  --tab-position: relative;

  align-items: center;
  align-self: stretch;
  background: var(--tab-background);
  border-color: var(--vuuTab-borderColor, transparent);
  border-style: var(--vuuTab-borderStyle, none);
  border-width: var(--vuuTab-borderWidth, 0px);
  border-radius: var(--vuuTab-borderRadius, 0);
  color: var(--salt-content-primary-foreground);
  cursor: var(--vuuTab-cursor, var(--tab-cursor));
  display: var(--tabstrip-display, inline-flex);
  gap: 8px;
  height: var(--vuuTabHeight, var(--tab-height));
  letter-spacing: var(--vuuTab-letterSpacing, var(--tab-letterSpacing, 0));
  margin: 0 var(--tab-spacing) 0 0;
  min-width: var(--vuuTab-minWidth, 40px);
  outline: none;
  padding: var(--vuuTab-padding, 0 var(--salt-spacing-200));
  position: var(--vuuTab-position, var(--tab-position));
  user-select: none;
  width: var(--tab-width);
}

.vuuTab-selected {
  background: var(--vuuTab-background-selected, var(--tab-background));
  color: var(--salt-content-primary-foreground);
  font-weight: var(--salt-navigable-fontWeight-active);
}

/* main content aria of Tab */
.vuuTab-main {
  align-items: center;
  border: none;
  color: inherit;
  cursor: inherit;
  display: flex;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  height: calc(var(--tab-height) - var(--tab-thumb-height));
  margin-bottom: var(--tab-thumb-height);
  outline: none;
  position: relative;
}

.vuuTab-closeable .vuuTab-main {
  border-right: solid transparent var(--salt-size-unit);
}

.vuuTab .vuuTab-closeButton {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* the close Button on a closeable Tab*/
.vuuTab-close-icon {
  display: none;
}

.salt-density-touch .vuuTab-close-icon,
.salt-density-low .vuuTab-close-icon {
  display: block;
}

.salt-density-touch .vuuTab-close-icon-small,
.salt-density-low .vuuTab-close-icon-small {
  display: none;
}

.vuuTab .vuuTab-text {
  display: inline-block;
  position: relative;
  overflow: hidden;
  text-align: var(--salt-text-textAlign-embedded);
  text-overflow: ellipsis;
  top: var(--vuuTab-top, var(--tab-top, auto));
  white-space: nowrap;
  /* ensure content sits above focus ring */
  z-index: var(--salt-zIndex-default);
}

.vuuTab .vuuTab-text:before {
  height: 0;
  content: attr(data-text);
  display: block;
  visibility: hidden;
  font-weight: var(--salt-navigable-fontWeight-active);
}

/* FIXME: these are all focusVisible styles, but with a bespoke inset */
.vuuTab-editing:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 2px;
  outline-color: var(--salt-focused-outlineColor);
  outline-style: var(--salt-focused-outlineStyle);
  outline-width: var(--salt-focused-outlineWidth);
  outline-offset: -2px;
}

.vuuTab.vuuFocusVisible {
  background: var(
    --vuuTab-hover-background,
    var(--salt-navigable-primary-background-hover)
  );
  outline-color: var(
    --vuuTab-focusVisible-color,
    var(--salt-focused-outlineColor)
  );
  outline-style: dashed;
  outline-width: 1px;
  outline-offset: -1px;
}

.vuuTab:before {
  content: var(--tab-before-content, none);
  content: "";
  background: var(--tab-before-background);
  height: var(--tab-before-height);
  inset: var(--tab-before-inset);
  position: absolute;
  width: var(--tab-before-width);
  z-index: 1;
}

.vuuTabstrip-draggingTab .vuuTab-selected:before {
  --tab-before-content: "";
  --tab-before-background: var(--salt-navigable-indicator-color-active);
  --tab-before-height: var(--tab-thumb-height);
  --tab-before-inset: var(--tab-activationIndicator-inset);
  --tab-before-width: var(--tab-activationIndicator-thumb-width);
}

.vuuTab-selected:before {
  --tab-before-content: "";
  background: var(--salt-navigable-indicator-active);
  height: var(--tab-thumb-height);
  position: absolute;
  left: var(--tab-thumb-left);
  bottom: 0px;
  top: var(--tab-thumb-top, auto);
  transition: var(--tab-thumb-transition, none);
  width: var(--tab-thumb-width, 100%);
}

.vuuTab:hover:not(.vuuTab-closeHover, .vuuTab-selected) {
  background: var(
    --vuuTab-hover-background,
    var(--salt-navigable-primary-background-hover)
  );
}

.vuuTab.drag-away {
  display: none;
}
