.DivElementKeyedWithTranslateInlineScrollbarsCssVariables {


  position: absolute;
  left: 95px;
  top: 45px;
  width: 715px;
  height: 645px;
  background-color: red;
  position: relative;
}

.DivElementKeyedWithTranslateInlineScrollbarsCssVariables-scrollbarContainer {
  --scroll-content-width: 1100px;
  border-bottom: none !important;
  border-top: none !important;
  border-left: solid 1px var(--salt-container-primary-borderColor);
  /*  a top border */
  box-shadow: 0px -1px 0px 0px var(--salt-container-primary-borderColor);
  height: var(--viewport-body-height);
  left: 0px;
  overflow: auto;
  position: absolute;
  top: 30px;
  width: calc(var(--table-width) + 1px);
}

.DivElementKeyedWithTranslateInlineScrollbarsCssVariables-scrollbarContent {
  height: calc(var(--content-height) + var(--horizontal-scrollbar-height));
  position: absolute;
  width: var(--content-width);
}

.DivElementKeyedWithTranslateInlineScrollbarsCssVariables-contentContainer {
  --vuuTableHeaderHeight: 30px;
  background-color: var(--salt-container-primary-background);
  height: calc(var(--table-height) - var(--horizontal-scrollbar-height));
  position: relative;
  overflow: auto;
  overscroll-behavior: none;
  width: calc(var(--table-width) - var(--vertical-scrollbar-width));
}

.DivElementKeyedWithTranslateInlineScrollbarsCssVariables-contentContainer::-webkit-scrollbar {
  display: none;
}

 
.DivElementKeyedWithTranslateInlineScrollbarsCssVariables-table {
  position: absolute;
  top: 0;
  left: 0;
  table-layout: fixed;
  width: 1100px;
  margin: 0;
  border: none;
  background-color: #fff;
  border-collapse: separate;
  border-spacing: 0;
  border-left: 1px solid #ccc;

}

.DivElementKeyedWithTranslateInlineScrollbarsCssVariables-body {
  height: var(--content-height)
}

.DivElementKeyedWithTranslateInlineScrollbarsCssVariables-table [role="cell"] {
  display: inline-block;
}

  .DivElementKeyedWithTranslateInlineScrollbarsCssVariables-col-headings {
    position: sticky;
    top: 0;
    /* ensure header row sits atop everything else when scrolling down */
    z-index: 1;
  }

  .DivElementKeyedWithTranslateInlineScrollbarsCssVariables-col-headers {
    white-space: nowrap;
  }

  .DivElementKeyedWithTranslateInlineScrollbarsCssVariables-col-header {
    border-bottom: 1px solid #ccc;
    box-sizing: border-box;
    line-height: 29px;
    background: #777;
    border-right: 1px solid #999;
    color: #fff;
    padding: 0 3px;
  }

  .DivElementKeyedWithTranslateInlineScrollbarsCssVariablesRow {
    background: #fff;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    box-sizing: border-box;
    height: 30px;
    line-height: 29px;
    position: absolute;
    top:0;
    white-space: nowrap;
  }

  /* make first column sticky when scrolling right */
  .DivElementKeyedWithTranslateInlineScrollbarsCssVariables-table [role="cell"]:first-child {
    position: sticky;
    left: 0;
    border-right-color: #aaa;
    background-color: white;
  }

  /* ensure first header cell sits atop everything else when scrolling right */
  .DivElementKeyedWithTranslateInlineScrollbarsCssVariables-table  .DivElementKeyedWithTranslateInlineScrollbarsCssVariables-col-header:first-child {
    background-color: #777;
    position: sticky;
    left: 0;
    z-index: 2;
  }

  .sizer-cell {
    background-color: green !important;
    border: none !important;
    height: 0px;
  }
  