.hwButton {
  --button-bg: var(--hwButton-bg, transparent);
  --button-border: none;
  --button-height: var(--hwButton-height, 28px);
  --button-active-bg: var(--hwButton-active-bg, #50505);
  --button-highlight-bg: var(--hwButton-highlight-bg, var(--hw-gray-700));
  --button-highlight-color: var(--hwButton-highlight-color, var(--hw-gray-50));
  --button-padding: var(--hwButton-padding, 6px);
  --button-width: var(--hwButton-width, auto);
  --button-min-width: var(--hwButton-min-width, 28px);
  --button-color: var(--hwButton-color, var(--hw-gray-700));
  --icon-size: var(--hwButton-icon-size, 28px);
  --icon-svg-size: 12px;

  align-items: center;
  background-color: var(--button-bg);
  border: var(--button-border);
  color: var(--button-color);
  display: inline-flex;
  height: var(--button-height);
  inset: var(--hwButton-inset, auto);
  justify-content: center;
  min-width: var(--button-min-width);
  outline: none;
  padding: 0 var(--button-padding);
  position: var(--hwButton-position, relative);
  width: var(--button-width);
}

.hwButton:hover {
  color: var(--button-highlight-color);
  background-color: var(--button-highlight-bg);
}

.hwButton:active,
.hwButton-active {
  background-color: var(--button-active-bg);
  color: var(--button-highlight-color);
}

.hwButton .hwIconSvg {
  fill: currentColor;
  height: 12px;
  width: 12px;
}

.hwButton-focusVisible {
  border: solid red 2px;
}

.hwButton[data-icon] {
  padding-left: calc(var(--icon-size) - var(--button-padding));
}

.hwButton[data-icon]:after {
  content: '';
  background-color: black;
  inset: 0 auto 0 0;
  mask: var(--svg-icon) center center/12px 12px no-repeat;
  -webkit-mask: var(--svg-icon) center center/12px 12px no-repeat;
  position: absolute;
  width: var(--icon-size);
}

.hwButton:hover[data-icon]:after {
  background-color: white;
}

.hwButton[aria-label^='close']:after {
  --svg-icon: var(--svg-close);
}

.hwButton[aria-label^='open']:after {
  --svg-icon: var(--svg-chevron-double-right);
}

.hwButton[aria-label^='add']:after {
  --svg-icon: var(--svg-add);
}

.hwButton[aria-label^='logout']:after {
  --svg-icon: var(--svg-logout);
}
