.vuuPortalShell {
  gap: 0;
  height: 100vh;
  width: 100vw;

  .saltFlexItem.vuuPortalShell-leftPanel {
    --saltFlexItem-basis: 300px;
    --saltFlexItem-shrink: 0;

    .saltFlexItem.vuuPortalShell-logo {
      --saltFlexItem-basis: 48px;
      --saltFlexItem-shrink: 0;
    }
  }

  .saltFlexItem.vuuPortalShell-main {
    --saltFlexItem-basis: auto;
    --saltFlexItem-grow: 1;

    padding: var(--salt-spacing-200);

    .saltFlexLayout.vuuPortalShell-main {
      height: 100%;

      .saltFlexItem.vuuPortalShell-header {
        --saltFlexItem-basis: 40px;
        --saltFlexItem-shrink: 0;

        .vuuPortalHeader {
          height: 100%;
        }
      }

      .saltFlexItem.vuuPortalShell-content {
        --saltFlexItem-basis: auto;
        --saltFlexItem-grow: 1;

        .vuuPortalShell-content {
          height: 100%;
        }
      }
    }
  }
}
