.salt-theme {
  --salt-differential-positive-background: var(--salt-palette-positive-background);
  --salt-differential-negative-background: var(--salt-palette-negative-background);
  --salt-differential-positive-foreground: var(--salt-palette-positive-foreground);
  --salt-differential-negative-foreground: var(--salt-palette-negative-foreground);
}
