.vuuColumnResizerNext {
    background-color: var(--columnResizer-color);
    cursor: col-resize;
    height: var(--header-height);
    margin-left: var(--columnResizer-left, auto);
    position: absolute;
    right: -5px;
    width: 8px;
    z-index:1;
}

.vuuColumnResizerNext:hover {
    --columnResizer-color: var(--vuu-color-purple-10);
}

.vuuColumnResizerNext:after {
    background-color: var(--columnResizer-color, var(--salt-separable-tertiary-borderColor));
    bottom:0;
    content: '';
    position: absolute;
    top: 0;
    right: 3px;
    height: var(--columnResizer-height, 0);
    width: 2px;
}