.github
.storybook
.vscode

node_modules

yarn-error.log*

deployed_apps
dist
generated
public
packages/*/*.js
__tests__
salt
stories
storybook-static
showcase/dist
target
packages/shell/src/feature/Feature.jsx
**/inlined-worker.js
