.hwActivationIndicator {
  --hw-activation-indicator-bg: #eaeaea;
  --hw-activation-indicator-thumb-bg: #2c2c2c;
}

.hwActivationIndicator-no-background {
  --hw-activation-indicator-bg: transparent !important;
}

.hwActivationIndicator {
  background-color: var(--hw-activation-indicator-bg);
  bottom: 0;
  box-sizing: border-box;
  position: absolute;
  height: 1px;
  width: 100%;
}

.hwActivationIndicator-thumb {
  position: absolute;
  height: 2px;
  background-color: var(--hw-activation-indicator-thumb-bg);
  transition: left 0.2s ease;
  bottom: 0;
}

.hwActivationIndicator-vertical {
  right: 0;
  height: 100%;
  width: 1px;
}

.hwActivationIndicator-vertical .hwActivationIndicator-thumb {
  bottom: auto;
  right: 0;
  transition: top 0.2s ease;
  width: 2px;
}
