.hwTab {
  --tab-color: #6e6e6e;
  --tab-selected-color: #6e6e6e;
  --tab-hover-background: inherit;
}

.hwTab {
  --tab-bar-color: #ccc;

  align-items: center;
  align-self: stretch;
  background-color: transparent;
  border: none;
  border-radius: 0;
  color: var(--tab-color);
  cursor: pointer;
  display: inline-flex;
  font-weight: normal;
  font-size: 12px;
  /* 2px padding bottom ? */
  height: var(--tabstrip-height);
  overflow: hidden;
  padding: 0 var(--hw-tab-spacing);
  position: relative;
}

.hwTab:not(.hwTab-vertical) {
  margin: 0 var(--hw-tab-spacing) 0 0;
}

.hwTab-closeable {
  padding-right: 0;
}

.hwTab-closeButton {
  margin-left: var(--hw-tab-spacing);
}

/* override a Storybook style */
button.hwTab + button.hwTab {
  margin-left: 0;
}

.hwTab:not(.hwTab-selected):hover {
  z-index: 1;
}

.hwTab:hover:not(.hwTab-closeHover) {
  background-color: var(--tab-hover-background);
}

.hwTab:not(.hwTab-selected):hover:after,
.hwTab:not(.hwTab-selected):focus-visible:after {
  background: var(--tab-bar-color);
  bottom: 0;
  content: '';
  opacity: 1;
  position: absolute;
  right: 0;
}

.hwTab:not(.hwTab-selected):not(.hwTab-vertical):hover:after,
.hwTab:not(.hwTab-selected):not(.hwTab-vertical):focus-visible:after {
  left: 0;
  height: 2px;
}

.hwTab-vertical:not(.hwTab-selected):hover:after,
.hwTab-vertical:not(.hwTab-selected):focus-visible:after {
  top: 0;
  width: 2px;
}

.hwTab-selected {
  color: var(--tab-selected-color);
  font-weight: bold;
}

.hwTab:focus {
  outline: none;
}

.hwTab:focus-visible {
  outline: none;
  background-color: inherit;
}

.hwTab-editing:before,
.hwTab:focus-visible:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 2px;
  border: dotted cornflowerblue 2px;
}

.hwTab-vertical.hwTab-editing:before,
.hwTab-vertical:focus-visible:before {
  right: 2px;
  bottom: 0;
}

.hwTab .hwTab-closeButton {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hwTab .hwTab-text {
  position: static;
  text-align: center;
  /* ensure content sita above focus ring */
  z-index: 1;
}

.hwTab-vertical .hwTab-text {
  text-align: left;
}

.hwTab-closeable .hwTab-text {
  margin-right: 8px;
}

.hwTab .hwTab-text:before {
  height: 0;
  content: attr(data-text);
  display: block;
  visibility: hidden;
  font-weight: 700;
}
