.vuuToolbar {
    --toolbar-height: var(--vuuToolbar-height, 36px);
    --toolbar-item-height: var(--vuuToolbarItem-height, 100%);
    --vuuOverflowContainer-background: var(--vuuToolbar-background);
    --vuuOverflowContainer-borderColor: var(--vuuToolbar-borderColor);
    --vuuOverflowContainer-borderStyle: var(--vuuToolbar-borderStyle);
    --vuuOverflowContainer-borderWidth: var(--vuuToolbar-borderWidth);
    height: var(--toolbar-height);
}

.vuuToolbar-alignCenter {
    --vuuOverflowContainer-justifyContent: center;
}

.vuuToolbar-alignEnd {
    --vuuOverflowContainer-justifyContent: flex-end;
}

/* .vuuToolbarItem {
    height: var(--toolbar-item-height);
} */

.vuuToolbar-withSeparators .vuuOverflowContainer-item:not(:first-child):before {
    content: '';
    position: absolute;
    left: calc(-1 * var(--overflow-item-gap));
    /* top: calc((var(--toolbar-height) - var(--toolbar-item-height)) /2); */
    top: 0px;
    width: 1px;
    height: var(--toolbar-item-height);
    background-color: var(--salt-separable-primary-borderColor);
}


.vuuToolbarItem.vuuFocusVisible {
    outline-color: var(--vuuToolbarItem-outlineColor, var(--salt-focused-outlineColor));
    outline-style: dashed;
    outline-width: 1px;
    outline-offset: 0px;
  }


  .vuuToolbarItem:focus,
  .vuuToolbarItem:focus-visible {

    outline-color: var(--vuuToolbarItem-outlineColor, var(--vuu-color-purple-10));
    outline-style: dashed;
    outline-width: 1px;
    outline-offset: 0px;

}


  