.vuuFilterEditor {
    align-items: center;
    display: flex;
    gap: var(--salt-spacing-200);
    height: var(--vuuFilterEditor-height, calc(var(--salt-size-base) + var(--salt-size-unit)));
    padding: 0 var(--salt-spacing-400);
}