.vuuPortalAppSwitcher {
  width: 100%;

  &.saltVerticalNavigation {
    ol {
      gap: 20px;
    }
  }

  &.vuuPortalAppSwitcher-dashboard {
    --dashboardNavItemIcon-size: var(--vuuDashboardNavIcon-size, 90px);
    --dashboardNavItem-size: calc(var(--dashboardNavItemIcon-size) + 40px);
    align-items: center;
    display: grid;
    gap: var(--salt-spacing-400);
    grid-template-columns: repeat(auto-fit, var(--dashboardNavItem-size));
    grid-auto-rows: var(--dashboardNavItem-size);
    justify-content: center;

    .vuuDashboardNavItem {
      background-color: var(--vuuDashboardNavItem-background);
      align-items: center;
      display: flex;
      flex-direction: column;
      gap: var(--salt-spacing-200);
      height: 100%;
      justify-content: space-around;
      text-decoration: none;

      .vuuIcon {
        --vuu-icon-size: var(--dashboardNavItemIcon-size);
      }

      .vuuDashboardNavItem-label {
        font-size: var(--vuuDashboardNavItem-fontSize, 16px);
        text-decoration: none;
      }
    }
  }

  &.vuuPortalAppSwitcher-icon-only {
    width: 36px;

    .vuuIconNavItem {
      display: flex;
      width: fit-content;
      z-index: 100;

      .vuuIconNavItem-flyout {
        align-items: center;
        background-color: var(--vuuNavItem-background, var(--salt-actionable-bold-background));
        border-radius: 18px;
        display: flex;
        column-gap: 0;
        transition: background-color 0.25s linear;
        width: fit-content;

        .vuuIcon {
          height: 36px;
          width: 36px;
          --vuu-icon-left: 6px;
          --vuu-icon-top: 6px;
        }

        .vuuIconNavItem-label {
          display: inline-block;
          font-size: var(--vuuNavItem-fontSize, 16px);
          font-weight: bold;
          overflow: hidden;
          text-align: right;
          text-decoration: none;
          transition: width 0.125s ease-out;
          transition-delay: 0s;
          width: 0;
        }
      }

      &.vuuIconNavItem-active {
        .vuuIconNavItem-flyout {
          background-color: var(--vuuNavItem-selected-background, var(--salt-selectable-foreground-selected));
          color: var(--vuuNavItem-selected-color, white);

          .vuuIcon {
            --vuu-icon-color: white;
          }
        }
      }

      &:hover {
        .vuuIconNavItem-flyout {
          background-color: var(--vuuNavItem-selected-background, var(--salt-selectable-foreground-selected));
          color: var(--vuuNavItem-selected-color, white);
          interpolate-size: allow-keywords;

          .vuuIcon {
            --vuu-icon-color: var(--vuuNavItem-selected-color, white);
          }
          .vuuIconNavItem-label {
            transition-delay: 0.6s;
            width: auto;
          }
        }
      }
    }
  }

  .saltVerticalNavigationItemContent {
    align-items: center;
    min-height: 50px;
    padding-left: calc(var(--verticalNavigationItem-depth) * 38px);

    .saltVerticalNavigationItemTrigger {
      gap: var(--salt-spacing-200);
    }

    .vuuIcon {
      --vuu-icon-color: white;
      --vuu-icon-size: 20px;
      --vuu-icon-top: -2px;
    }

    .saltVerticalNavigationItemLabel {
      color: var(--vuuPortalNav-itemLabel-color);
      text-transform: uppercase;
    }

    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
    }

    &.saltVerticalNavigationItemContent-active {
      background-color: rgba(255, 255, 255, 0.1);
    }
  }
}
