.vuuBasketNewBasketPanel {
    display: flex;
    flex-direction: column;
    height: 200px;
    padding: 16px;
    width: 300px;
}

.vuuBasketNewBasketPanel-body {
    flex: 1 1 auto;
    padding: 16px 0;
}

.vuuBasketNewBasketPanel-buttonBar {
    --saltButton-borderRadius: 6px;
    --saltButton-padding: 12px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding-top: 8px;
    gap: 8px;
}