<settings>
    <servers>
        <server>
            <id>ossrh</id>
            <username>${env.CI_DEPLOY_USERNAME}</username>
            <password>${env.CI_DEPLOY_PASSWORD}</password>
        </server>
        <server>
            <id>gpg.passphrase</id>
            <passphrase>${env.MAVEN_GPG_PASSPHRASE}</passphrase>
        </server>
    </servers>
</settings>