<settings>
    <servers>
        <!--server>
            <id>github</id>
            <privateKey>${user.home}/.ssh/id_dsa</privateKey>
        </server-->
        <server>
            <id>ossrh</id>
            <username>${env.OSSRH_USERNAME}</username>
            <password>${env.OSSRH_PASSWORD}</password>
        </server>
    </servers>
</settings>