.vuuView {
  --vuuToolbarProxy-height: var(--salt-size-base);
  border-color: var(--vuuView-borderColor, transparent);
  border-width: var(--vuuView-borderWidth, 1px);
  border-style: var(--vuuView-borderStyle, solid);

  display: flex;
  flex-direction: column;
  margin: var(--vuuView-margin, 0px);
  min-height: 50px;
  min-width: 50px;
  outline: none;
  overflow: hidden;
  position: relative;
  transition: flex-basis .3s ease-in-out;

  &.vuuHighlighted {
    --vuuView-borderStyle: dashed;
    --vuuView-borderColor: var(--salt-container-primary-borderColor);
  }
}

.vuuSplitterResizing .vuuView {
  transition: none;

}

.vuuView:has(> .vuuHeader){
  min-height: var(--vuuToolbarProxy-height);
}

.vuuView.focus-visible:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: dotted cornflowerblue 2px;
}

.vuuView.dragging {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}

.vuuView-main {
  /* height: var(--view-content-height);
  width: var(--view-content-width); */
  display: flex;
  flex-direction: var(--vuuView-flexDirection, column);
  flex-wrap: var(--vuuView-flex-wrap, nowrap);
  flex: 1;
  justify-content: var(--vuuView-justify, flex-start);
  overflow: hidden;
  position: relative;
}

.vuuView-main > * {
  flex-basis: auto;
  flex-grow: var(--vuuView-flex-grow, 1);
  flex-shrink: var(--vuuView-flex-shrink, 1);
}

/* .vuuView-collapsed .vuuView-main {
  display: none;
} */

.vuuView-collapsed {
  flex: 0 0 0 !important;
}


.vuuView-collapsed + .Splitter {
  display: none;
}

.vuuView-collapsed .Toolbar-vertical {
  border-right: solid 1px var(--grey40);
}

.vuuView-collapsed .Toolbar-vertical .toolbar-title {
  display: none;
}
