
.vuuTableDropdownCell {
    --vuu-icon-height: 15px;
    --salt-focused-outlineStyle: none;

    --saltButton-borderRadius: 4px;
    font-weight: 500;

    .vuuDropdownButton {
        --saltButton-height: var(--vuu-table-embedded-control-height);
    }
}

.vuuTableDropdownCell button:focus-visible {
    --saltButton-borderColor: var(--salt-focused-outlineColor);
    --saltButton-borderWidth: 2px;
    padding-left: 7px;
}