@import url(styles/colours.css);
@import url(styles/foundation.css);
@import url(styles/icons.css);
@import url(styles/selection.css);

.hw {
  --hw-focus-visible-border-color: cornflowerblue;
  --hw-selection-bg: var(--hw-digital-blue);
  --hw-selection-color: white;
  --hwButton-highlight-color: var(--hw-gray-50);
  --hwButton-active-bg: var(--hw-gray-800);
  --hw-dialog-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  /* Layout */
  --hw-header-height: 32px;
}

::backdrop {
  --hw-dialog-backdrop: rgba(0, 0, 0, 0.4);
}

.hwFocusVisible:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0px;
  border: dotted var(--hw-focus-visible-border-color) 2px;
}
