.vuuJsonCell {
  --group-cell-spacer-width: 20px;
  align-items: center;
  border-right-style: solid;
  border-right-width: 1px;
  cursor: pointer;
  display: inline-flex;
  height: var(--row-height);
  padding-left: 20px;
  line-height: 16px;
  position: relative;

  .saltButton {
    .vuuIcon {
      --vuu-icon-height: 18px;
      --vuu-icon-left: -3px;
      --vuu-icon-width: 18px;
      &:after {
        transition: transform 0.1s linear;
      }
      &[data-icon="triangle-down"]:after {
        --vuu-icon-left: -1px;
        --vuu-icon-top: -3px;
      }
    }
    border: none;
    border-radius: 0;
    height: 18px;
    left: 0;
    min-width: 16px;
    padding: 0;
    position: absolute;
    width: 18px;
  }
}
