.vuuMenuList {
  --salt-focused-outlineStyle: dashed !important;
  --salt-focused-outlineWidth: 1px !important;
  --vuuListItem-padding: 8px;
  --context-menu-color: var(--vuuMenuList-color,#161616);
  --context-menu-padding: var(--hw-list-item-padding, 0 6px);
  --context-menu-shadow: var(--hw-dialog-shadow, 0 6px 12px rgba(0, 0, 0, 0.175));
  --focus-visible-border-color: var(--hw-focus-visible-border-color, rgb(141, 154, 179));
  --context-menu-highlight-bg: var(--salt-selectable-background-hover);
  --context-menu-blur-focus-bg: #e0e4e9;
  --menu-item-icon-color: black;
  --menu-item-twisty-color: black;
  --menu-item-twisty-content: '';
  --menu-item-twisty-top: 50%;
  --menu-item-twisty-left: auto;
  --menu-item-twisty-right: 0px;
  --menu-icon-size: 12px;

  background-clip: padding-box;
  background-color: white;
  font-size: var(--vuuMenuList-fontSize, var(--salt-text-label-fontSize));
  font-weight: var(--salt-typography-fontWeight-medium);
  list-style: none;
  outline: 0;
  overflow: hidden;
  padding: var(--vuuMenuList-padding, 0);
  position: absolute;
}

/* hacky fix until problem is identified (css source code order in prod build )*/
.vuuPortal > .vuuMenuList {
  position: relative;
}

.vuuMenuItem {
  align-items: center;
  border-width: 1px;
  border-color: var(--vuuMenuItem-borderColor, transparent);
  border-style: var(--vuuMenuItem-borderStyle, none);
  color: var(--context-menu-color);
  display: flex;
  gap: 6px;
  height: var(--vuuMenuItem-height, var(--hw-list-item-height, 24px));
  padding: var(--context-menu-padding);
  padding-right: 24px;
  position: relative;
  white-space: nowrap;
}

.vuuIconContainer {
  display: inline-block;
  flex: 12px 0 0;
  height: var(--menu-icon-size);
  mask-repeat: no-repeat;
  width: var(--menu-icon-size);
}

.vuuMenuItem[aria-expanded='true'] {
  background-color: var(--context-menu-blur-focus-bg);
}

.vuuMenuItem-separator {
  border-top: solid 1px var(--context-menu-blur-focus-bg);
}

.vuuMenuItem[aria-haspopup='true']:after {
  content: var(--menu-item-twisty-content);
  -webkit-mask: var(--vuu-svg-chevron-right) center center/8px 8px no-repeat;
  mask: var(---vuu-svg-chevron-right) center center/8px 8px no-repeat;
  background-color: var(--menu-item-twisty-color);
  height: 16px;
  left: var(--menu-item-twisty-left);
  right: var(--menu-item-twisty-right);
  margin-top: -8px;
  position: absolute;
  top: var(--menu-item-twisty-top);
  transition: transform 0.3s;
  width: 16px;
}

.vuuMenuItem[data-highlighted] {
  background-color: var(--context-menu-highlight-bg);
}

.vuuMenuItem:hover {
  background-color: var(--context-menu-highlight-bg);
  cursor: default;
}

.vuuMenuList-childMenuShowing .vuuMenuItem[data-highlighted] {
  background-color: var(--context-menu-blur-focus-bg);
}

.vuuMenuItem.focusVisible:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0px;
  border: dotted var(--focus-visible-border-color) 2px;
}

.vuuPopupContainer.top-bottom-right-right .popup-menu {
  left: auto;
  right: 0;
}

.popup-menu .menu-item.showing > button,
.popup-menu .menu-item > button:focus,
.popup-menu .menu-item > button:hover {
  text-decoration: none;
  color: rgb(0, 0, 0);
  background-color: rgb(220, 220, 220);
}
.vuuMenuItem-button:active,
.vuuMenuItem-button:hover {
  outline: 0;
}

.popup-menu .menu-item.disabled > button {
  clear: both;
  font-weight: normal;
  line-height: 1.5;
  color: rgb(120, 120, 120);
  white-space: nowrap;
  text-decoration: none;
  cursor: default;
}

/* hacky fix, to be revisited */
.vuuMenuList.salt-theme {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  position: absolute;
  border-color: var(--salt-container-primary-borderColor);
  border-style: solid !important;
  border-width: 1px;

}