.vuuFilterBar {
  --vuu-svg-grid: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path d="M2 6.00004H4.66667V3.33337H3.33333C2.6 3.33337 2 3.93337 2 4.66671V6.00004ZM2 9.33337H4.66667V6.66671H2V9.33337ZM5.33333 9.33337H8V6.66671H5.33333V9.33337ZM8.66667 9.33337H11.3333V6.66671H8.66667V9.33337ZM5.33333 6.00004H8V3.33337H5.33333V6.00004ZM8.66667 3.33337V6.00004H11.3333V3.33337H8.66667ZM12 9.33337H14.6667V6.66671H12V9.33337ZM3.33333 12.6667H4.66667V10H2V11.3334C2 12.0667 2.6 12.6667 3.33333 12.6667ZM5.33333 12.6667H8V10H5.33333V12.6667ZM8.66667 12.6667H11.3333V10H8.66667V12.6667ZM12 12.6667H13.3333C14.0667 12.6667 14.6667 12.0667 14.6667 11.3334V10H12V12.6667ZM12 3.33337V6.00004H14.6667V4.66671C14.6667 3.93337 14.0667 3.33337 13.3333 3.33337H12Z"/></svg>');
  --vuuOverflowContainer-minWidth: 0;
  --filterbar-height: var(
    --vuuFilterBar-height,
    calc(var(--salt-size-base) + var(--salt-spacing-300))
  );
  --vuuFilterEditor-height: var(--filterbar-height);
  --icon-container-height: auto;
  --flexbar-gap: var(--salt-spacing-100);
  --icon-marginTop: 0;

  align-items: center;
  background-color: var(--salt-container-secondary-background);
  border-color: var(--salt-separable-secondary-borderColor);
  border-style: var(--vuuFilterBar-borderStyle, none none solid none);
  border-width: 1px;
  display: inline-flex;
  flex: var(--vuuFilterBar-flex);
  flex-wrap: wrap;
  gap: var(--flexbar-gap);
  grid-template-columns: 70px 1fr 28px;
  grid-auto-rows: 28px 0px;
  height: var(--filterbar-height);
  overflow: hidden;
  padding: var(--salt-spacing-100) var(--salt-spacing-200);
}

.vuuFilterBar-quick-filter-mode {
  --icon-container-height: 100%;
  --icon-marginTop: 20px;
  --filterbar-height: var(
    --vuuFilterBar-height,
    calc(2 * var(--salt-size-base))
  );
  align-items: flex-end;
  padding: var(--salt-spacing-100) var(--salt-spacing-200);
}

.vuuFilterBar:has(.vuuFilterEditor) {
  grid-template-rows: 28px 28px;
  height: calc(1px + var(--flexbar-gap) + (2 * var(--filterbar-height)));
}

.vuuFilterBar-iconContainer {
  height: var(--icon-container-height);

  .saltToggleButtonGroup {
    margin-top: var(--icon-marginTop);
    transition: margin-top 0.1s ease-in;
  }
}

.vuuFilterbar-icon {
  display: inline-block;
  height: 16px;
  width: 16px;
}

.vuuFilterBar [data-icon="grid"] {
  --vuu-icon-size: 16px;
  --vuu-icon-svg: var(--vuu-svg-grid);
}

.vuuFilterBar [data-icon="plus"] {
  --vuu-icon-size: 16px;
}

.vuuFilterBar .vuuToolbar {
  flex: 0 1 auto;
}

.vuuFilterBar-Editor {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--salt-spacing-100);
}

.vuuCustomFilters {
  display: flex;
  gap: var(--salt-spacing-100);
}
.vuuCustomFilters-filters {
  display: flex;
  gap: var(--salt-spacing-100);
}
