
.vuuSearchCell {
  --vuu-icon-left: 0;
  --vuu-icon-size: 16px;
  --vuu-icon-top: -1px;
  align-items: center;
  color: var(--background-cell-color);
  display: flex;
  padding: 0 8px 0 8px;
  position: relative;
  z-index: -1;

  [data-icon]{
    margin-right: 4px;
  }
}

