.hwSelectionList-commit {
  background-color: rgb(199, 247, 199);
  flex: 1 1 auto;
}

.hwSelectionList-illustration {
  color: brown;
  flex: 1 1 auto;
}

.hwSelectionList-close-list[data-highlighted='true'],
.hwListItem.hwSelectionList-close-list {
  background: var(--selected-background) !important;
  color: var(--selected-color) !important;
  flex: 1 1 auto;
  --hwListItem-checkbox-content: none;
}

.hwSelectionList-ListItem {
  display: flex;
  gap: 12px;
}

.hwSelectionList-listCol {
  flex: 1 1 0;
}

.hwSelectionList-listCol:nth-child(1) {
  flex: 0 0 60px;
}
