.vuuBasketToolbar {
    --saltFormField-width: fit-content;
    align-items: center;
    display: flex;
    flex: 0 0 var(--basket-toolbar-height, 75px); 
    gap: 12px;
    padding: 8px 16px;
}


.vuuBasketToolbar-side {
    --saltButton-height: 32px;
    --saltButton-minWidth: 50px;
    color: white;
}

.vuuCycleStateButton-buy {
    background-color: var(--vuu-color-green-50);
  
}
.vuuCycleStateButton-sell {
    background-color: var(--vuu-color-red-50);
  
}


.vuuBasketToolbar-units {
    --saltInput-minWidth: 60px!important;
    --vuuExpandoInput-border: solid 1px var(--salt-editable-borderColor);
    --vuuExpandoInput-borderRadius: 6px;
    --vuuExpandoInput-height: 32px;
    min-width: 80px;

}
.vuuBasketToolbar-filled,
.vuuBasketToolbar-notional {
    font-size: 20px;
    font-weight: 700;
}

/* .vuuBasketToolbar-units {
    --vuuExpandoInput-minWidth: 80px;
} */

.saltFormField:has(.vuuBasketToolbar-notional){
    margin: 0 24px;

}

.saltFormField:has(.vuuBasketToolbar-notional):before {
    content: '';
    position: absolute;
    left: -24px;
    top: -12px;
    width: 1px;
    height: 60px;
    background-color: var(--vuu-color-gray-05);

}

.vuuBasketToolbar-takeOffMarket,
.vuuBasketToolbar-sendToMarket {
    --saltButton-borderRadius: 6px;
    --saltButton-height: 24px;
    --saltButton-padding: 16px;
}
    

.vuuBasketToolbar-sendToMarket {
    --vuu-icon-size: 16px;
    margin-left: auto;
}