.hwTextInput {
  background: var(--hw-text-input-bg, inherit);
  border: var(--hw-text-input-border, none);
  font-size: var(--hw-control-font-size);
  margin: var(--hw-text-input-margin, 0);
  outline: none;
  padding: var(--hw-text-input-padding, 0);
  position: var(--hw-text-input-position, static);
  width: var(--hw-text-input-width, auto);
}
