.hwToolbar {
  --hw-space: 4px;
  --hw-toolbar-color: black;
  --hw-toolbar-depth: var(--hw-header-height, 36px);
  --hw-toolbar-separator-color: #ccc;
  --hw-tabstrip-height: var(--hw-toolbar-depth);
}

.hwToolbar,
.Tooltray {
  --hwView-flex-grow: 0;
  --hwView-flex-shrink: 0;

  --hw-toolbar-spacing: var(--hw-space);

  --three-qtr-spacing: calc(var(--hw-toolbar-spacing) * 0.75);
  --label-margin-right: var(--hw-toolbar-spacing);
  align-items: flex-start;
  box-sizing: border-box;
  color: var(--hw-toolbar-color);
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
  font-size: var(--hw-font-size-regular);
  justify-content: flex-start;
  overflow: hidden;
  position: relative;
  font-family: var(--hw-font-family);
  min-width: 28px;
}

.hwToolbar-vertical {
  --hw-toolbarfield-height: auto;
  --hw-toolbarfield-spacing: calc(var(--hw-toolbar-spacing) * 0.5) 0;
  --hw-toolbarfield-width: var(--hw-toolbar-depth);
  height: 100%;
  width: var(--hw-toolbar-depth);
}

.hwToolbar-horizontal {
  --hw-toolbarfield-height: var(--hw-toolbar-depth);
  --hw-toolbarfield-spacing: 0 calc(var(--hw-toolbar-spacing) * 0.5);
  --hw-toolbarfield-width: auto;
  height: var(--hw-toolbar-depth, 36px);
  padding: 0 var(--hw-toolbar-spacing);
}

.hwToolbar-vertical .Tooltray {
  width: var(--hw-toolbar-depth);
}

.hwToolbar-horizontal .Tooltray {
  height: var(--hw-toolbar-depth);
}

.hwToolbar-vertical {
  padding: var(--hw-toolbar-spacing) 0;
}

.hwToolbar .Responsive-inner {
  align-items: flex-start;
  flex: 1;
  flex-wrap: wrap; /* switch to wrap when collapse exhausted */
  justify-content: inherit;
}

.Responsive-inner {
  margin: 0 !important;
  padding: 0 !important;
}

.hwToolbar-horizontal .Responsive-inner {
  display: flex;
  flex-direction: row;
  min-height: var(--hw-toolbar-depth);
}
.hwToolbar-vertical .Responsive-inner {
  display: inline-flex;
  flex-direction: column;
  max-height: 100%;
}

/* .hwToolbar .Tool {
  border: solid 1px lightgrey;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 6px 3px;
} */

.Responsive-inner > .Icon {
  border: solid 1px lightgrey;
  box-sizing: border-box;
  height: 22px;
  padding: 1px;
  width: 22px;
}

.Responsive-inner > [data-pad-left] {
  margin-left: auto !important;
}
.Responsive-inner > [data-pad-right] {
  margin-right: auto !important;
}

.Responsive-inner > .Icon {
  margin: 5px 3px;
}

[data-overflowed] > .Responsive-inner {
  flex-wrap: wrap !important;
}

.hwToolbar > * {
  display: inline-block;
}

.hwToolbar .Tooltray > .Icon {
  margin: 5px 0;
  padding: 1px 3px;
  width: 26px;
}

.hwToolbar > .Responsive-inner[data-collapsing='true'] {
  flex-wrap: nowrap !important;
}

[data-collapsible='dynamic'] {
  flex-shrink: 0;
  background-color: rgba(255, 0, 0, 0.15);
}

[data-collapsible='dynamic'][data-collapsing='true'] {
  flex-shrink: 1;
  min-width: calc(var(--hw-size-regular) + var(--hw-space));
  background-color: rgba(255, 255, 0.3);
}

[data-collapsible='dynamic'][data-collapsed='true'] {
  flex-shrink: 0;
  flex-grow: 0;
  /* do we need to allow for standard spacing ? */
  flex-basis: calc(var(--hw-size-regular) + var(--hw-space));
  background-color: rgba(255, 125, 0.1);
}

.hwToolbar .Tooltray .Icon:not(:first-child) {
  border-left: none;
}

/* .Tooltray:not(:last-child) > :last-child {
  margin-right: var(--hw-toolbar-spacing);
  padding-right: var(--hw-toolbar-spacing);
} */

.OverflowContainer {
  background-color: white;
}

.Popup .hwToolbar {
  min-width: 80px;
  height: auto;
}

.Popup .hwToolbar .Tooltray {
  white-space: nowrap;
}

.hwToolbar .tool-text {
  width: 80px;
  border-radius: 0;
  border: solid 1px darkgrey;
  border: none;
}

/* Temp fix */
.hwToolbar button.hwActionButton {
  height: var(--hw-header-height);
  max-height: var(--hw-header-height);
  min-height: var(--hw-header-height);
  overflow: hidden;
}
