.ToolbarField {
  align-items: center;
  box-sizing: border-box;
  height: var(--hw-toolbarfield-height);
  display: flex;
  justify-content: center;
  margin: var(--hw-toolbarfield-spacing);
  overflow: hidden;
  width: var(--hw-toolbarfield-width);
}

.ToolbarField + .Tooltray:before {
  background: var(--hw-toolbar-separator-color, #ccc);
  height: 100%;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
}
