.dropdown-container {
  text-align: left;
  border: 1px solid #ccc;
  width: 515px;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 999;
  background-color: #fff;
}

.dropdown-input {
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  user-select: none;
}

.dropdown-menu {
  position: absolute;
  transform: translateY(4px);
  width: 100%;
  border: 1px solid #ccc;
  overflow: auto;
  max-height: 500px;
  background-color: #fff;
  z-index: 999;
}

.dropdown-item {
  padding: 5px;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: rgb(234, 237, 239);
}

.dropdown-item.selected {
  background-color: #1ea7fd;
  color: #fff;
}

.dropdown-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.dropdown-tag-item {
  background-color: rgb(224, 228, 233);
  border: 1px solid #ccc;
  padding: 2px 4px;
  display: flex;
  align-items: center;
}

.dropdown-tag-close {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.search-box {
  padding: 5px;
  background-color: #eee;
  white-space: nowrap;
  overflow-x: auto;
}

.search-box input {
  width: 100%;
  box-sizing: border-box;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.dropdown-tool {
  cursor: pointer;
  position: relative;
  top: 2px;
}
