.vuuTooltip {
    --tooltip-align: flex-start;
    --tooltip-background: white;
    --tooltip-color: var(--vuu-color-gray-80);
    --tooltip-justify: flex-start;
    --tooltip-top: auto;
    --tooltip-right: auto;
    --tooltip-bottom: auto;
    --tooltip-left: auto;
    align-items: var(--tooltip-align);
    justify-content: var(--tooltip-justify);
    display: flex;
    position: absolute;
  }
  
  .vuuTooltip[data-align='right'] {
    --tooltip-align: center;
    --tooltip-left: 9px;
  }
  
  .vuuTooltip[data-align='left'] {
    --tooltip-align: center;
    --tooltip-left: auto;
    --tooltip-right: 10px;
  }
  
  .vuuTooltip[data-align='above'] {
    --tooltip-justify: center;
    --tooltip-bottom: 9px;
    --tooltip-left: auto;
  }
  .vuuTooltip[data-align='below'] {
    --tooltip-justify: center;
    --tooltip-top: 9px;
    --tooltip-left: auto;
  }
  
  .vuuTooltip-content {
    background-color: var(--tooltip-background);
    border-radius: 4px;
    color: var(--tooltip-color);
    line-height: 24px;
    padding: 2px 6px;
    position: absolute;
    white-space: nowrap;
    top: var(--tooltip-top);
    right: var(--tooltip-right);
    bottom: var(--tooltip-bottom);
    left: var(--tooltip-left);
  }
    
  .vuuTooltip::before {
    background-color: var(--tooltip-background);
    /* background-color: red; */
    content: ' ';
    display: block;
    position: absolute;
    width: 12px;
    height: 12px;
    /* z-index: -1; */
}

.vuuTooltip[data-align='above']::before {
    transform:  translate(0, -18px) rotate(45deg);
}

.vuuTooltip[data-align='below']::before {
    transform: translate(0, 6px) rotate(45deg);
}

.vuuTooltip[data-align='right']::before {
    transform:  translate(7px, 0px) rotate(45deg);
}

.vuuTooltip[data-align='left']::before {
    transform: translate(-19px, 0) rotate(45deg);
}

.vuuTooltip-error {
  --tooltip-background: var(--vuu-color-red-50);
  --tooltip-color: white;
  color: white;
}