/* Component class applied to the root element */
.saltTabListNext {
  --tabstrip-height: var(
    --vuuTabstrip-height,
    calc(var(--salt-size-base) + var(--salt-spacing-100))
  );


  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  background: transparent;
  min-height: var(--tabstrip-height);
  gap: 0;
  max-width: 100%;


}

.saltTabListNext-center {
  justify-content: center;
}

.saltTabListNext-right {
  justify-content: flex-end;
}

.saltTabListNext-activeColorPrimary {
  --saltTabListNext-activeColor: var(--salt-container-primary-background);
}

.saltTabListNext-activeColorSecondary {
  --saltTabListNext-activeColor: var(--salt-container-secondary-background);
}

.saltTabListNext-activeColorTertiary {
  --saltTabListNext-activeColor: var(--salt-container-tertiary-background);
}

