.vuuInstrumentSearch {
    height: 100%;
    padding: var(--vuuInstrumentSearch-padding, 12px);
    display: flex;
    flex-direction: column;
}

.vuuInstrumentSearch-inputField {
    --vuu-icon-size: 16px;
    flex: 0 0 40px;
    padding: 0 12px;
}
.vuuInstrumentSearch-list {
    --vuuMeasuredContainer-flex: 1 1 1px;
    background-color: var(--salt-container-primary-background);
    flex: 1 1 auto;
}

.vuuInstrumentSearch .vuuTableNextCell {
    padding: 0;
}
