.arrow-down-symbol {
  width: 100px;
}

#filter-panel {
  position: relative;
  border: 1px solid #ccc;
  height: 50px;
  z-index: 999;
  background-color: #eee;
}

.inline-block {
  display: inline-block;
}

#filter-component {
  padding: 5px;
}

.clear-button {
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 28px;
  right: 10px;
  border: 1px solid #ccc;
  cursor: pointer;
  font-family: "Open Sans";
}

.block {
  display: block;
}

#column-selector {
  outline: none;
  border: none;
  height: 28px;
  width: 100px;
  background-color: #eee;
  cursor: pointer;
  font-family: "Open Sans";
  color: #161616;
}

#column-selector option {
  background-color: #fff;
  width: 100px;
  font-family: "Open Sans";
  cursor: pointer;
}

#column-selector option:first-child {
  display: none;
}

#column-selector-label {
  font-family: "Open Sans";
  color: #61656e;
}

.has-filter {
  background-color: #1ea7fd !important;
  color: #fff;
}
