.arrow-down-symbol {
  width: 100px;
}

.column-field {
  position: absolute;
  left: 10px;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 999;
}

#filter-panel {
  display: table;
  position: relative;
  overflow: "visible";
  text-align: center;
  border: 1px solid #ccc;
  height: 50px;
  padding: 1px;
  z-index: 999;
  width: 700px;
}

.inline-block {
  display: inline-block;
}

#filter-component {
  width: 500px;
  margin-left: 40px;
}

.clear-button {
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 28px;
  right: 10px;
  border: 1px solid #ccc;
  cursor: pointer;
}
