.hwPopupContainer.top-bottom-right-right .popup-menu {
  left: auto;
  right: 0;
}

.popup-menu .menu-item.showing > button,
.popup-menu .menu-item > button:focus,
.popup-menu .menu-item > button:hover {
  text-decoration: none;
  color: rgb(0, 0, 0);
  background-color: rgb(220, 220, 220);
}

.popup-menu .menu-item.disabled > button {
  clear: both;
  font-weight: normal;
  line-height: 1.5;
  color: rgb(120, 120, 120);
  white-space: nowrap;
  text-decoration: none;
  cursor: default;
}
