.vuuDrawer {
  --drawer-leading-edge-border: solid 1px var(--salt-container-primary-borderColor, none);
  --vuu-close-icon-svg: var(--svg-chevron-double-right);

  transition: flex-basis;
  transition-duration: var(--drawer-transition-duration);
  position: relative;
  z-index: 1;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  min-width: 0;
  min-height: 0;
  display: flex;
}

.vuuDrawer-peekaboo {
  flex-basis: var(--drawer-peek-size);
  flex-grow: 0;
  flex-shrink: 0;
}

.vuuDrawer-inline.vuuDrawer-open {
  flex-basis: var(--drawer-size);
  flex-grow: 0;
  flex-shrink: 0;
}

.vuuDrawer-liner {
  background-color: var(--drawer-bg);
  overflow: hidden;
  position: relative;
}

.vuuDrawer-content {
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: var(--drawer-peek-size);
  transition: right;
  transition-duration: var(--drawer-transition-duration);
  width: 100%;
  flex: 1 1 100%;
}

.vuuDrawer-open .vuuDrawer-content {
  right: 0;
}

/* .vuuDrawer:not(.vuuDrawer-open) .vuuDrawer-liner > * {
  display: none;
} */

.vuuDrawer-left {
  border-right: var(--drawer-leading-edge-border);
}
.vuuDrawer-right {
  border-left: var(--drawer-leading-edge-border);
}
.vuuDrawer-top {
  border-bottom: var(--drawer-leading-edge-border);
}
.vuuDrawer-bottom {
  border-top: var(--drawer-leading-edge-border);
}

.vuuDrawer-left .vuuDrawer-liner,
.vuuDrawer-right .vuuDrawer-liner {
  height: 100%;
  transition: width;
}

.vuuDrawer-top .vuuDrawer-liner,
.vuuDrawer-bottom .vuuDrawer-liner {
  width: 100%;
  transition: height;
}

.vuuDrawer-inline .vuuDrawer-liner {
  width: 100%;
  height: 100%;
}

.vuuDrawer-over .vuuDrawer-liner {
  position: absolute;
  transition-duration: 0.4s;
}

.vuuDrawer-over.vuuDrawer-left .vuuDrawer-liner {
  top: 0;
  left: 0;
  width: 0;
}

.vuuDrawer-over.vuuDrawer-right .vuuDrawer-liner {
  top: 0;
  right: 0;
  width: 0;
}

.vuuDrawer-over.vuuDrawer-top .vuuDrawer-liner {
  height: 0;
  top: 0;
  left: 0;
}

.vuuDrawer-over.vuuDrawer-bottom .vuuDrawer-liner {
  bottom: 0;
  height: 0;
  left: 0;
}

.vuuDrawer-left.vuuDrawer-over.vuuDrawer-peekaboo .vuuDrawer-liner,
.vuuDrawer-right.vuuDrawer-over.vuuDrawer-peekaboo .vuuDrawer-liner {
  width: var(--drawer-peek-size);
}

.vuuDrawer-top.vuuDrawer-over.vuuDrawer-peekaboo .vuuDrawer-liner,
.vuuDrawer-bottom.vuuDrawer-over.vuuDrawer-peekaboo .vuuDrawer-liner {
  height: var(--drawer-peek-size);
}

.vuuDrawer-left.vuuDrawer-over.vuuDrawer-open .vuuDrawer-liner,
.vuuDrawer-right.vuuDrawer-over.vuuDrawer-open .vuuDrawer-liner {
  width: var(--drawer-size);
}

.vuuDrawer-top.vuuDrawer-over.vuuDrawer-open .vuuDrawer-liner,
.vuuDrawer-bottom.vuuDrawer-over.vuuDrawer-open .vuuDrawer-liner {
  height: var(--drawer-size);
}

.vuuDrawer-top,
.vuuDrawer-left {
  order: 0;
}

.vuuDrawer-bottom,
.vuuDrawer-right {
  order: 99;
}

.vuuDrawer-left,
.vuuDrawer-right {
  flex-direction: column;
}

.vuuToggleButton-container {
  --saltButton-height: 28px;
  --saltButton-width: 28px;
  --vuu-icon-size: 12px;
  flex: 0 0 28px;
}

.vuuDrawer-open {
  --vuu-close-icon-svg: var(--svg-chevron-double-left);

}
