.ComponentPalette {
  padding: 6px 6px 6px 0;
  display: inline-block;
}

.ComponentPalette .ComponentIcon {
  display: inline-block;
  border: solid 2px rgba(200, 200, 200, 0.4);
  color: black;
  font-size: 12px;
  font-weight: bold;
  margin-left: 6px;
  line-height: 24px;
  cursor: pointer;
  width: 100px;
  box-sizing: border-box;
  text-align: center;
}
