.TanstackTable {


    .TanstackTableRow {
        color: var(--salt-content-secondary-foreground);
        height: var(--row-height);
    }
    .TanstackTableRow-proxy {
        height: 32px;
        position: absolute !important;
        visibility: hidden;  
        width: 100%;
    }

    .TanstackTableRow-selected {
        background-color: var(--salt-selectable-background-selected);
    }
}
