.TanstackTable {

    --vuuPaginationControl-height: 0px;
    --table-background: var(--salt-container-primary-background);

    background: var(--table-background);
    height: var(--table-height, 100%);
    position: relative;
    user-select: none;

    .TanstackTable-container {
        height: calc(100% - var(--vuuPaginationControl-height));
        overflow: hidden;
    }

    .TanstackTable-contentContainer {
        height: var(--content-height, 100%);
        overflow: auto;
    }

    .TanstackTableHeader {
        position: sticky;
        top:0;
        z-index: 1;
    }

    .TanstackTable-col-headers {
        height: var(--header-height, 25px);
        position: relative;
        white-space: nowrap;
    }


    .TanstackTable-contentContainer {
        height: 100%;
    }

    .TanstackTable-table {
        height: var(--content-height);
    }

    .TanstackTable-body {
        position: relative;
    }

    .TanstackTableHeaderCell {
        background: var(--table-background);
        display: inline-flex;
        height: 100%;
        vertical-align: top;;
    }

    .TanstackTableSpacerCell {
        padding: 0 !important;
    }

    .TanstackTableCell {
        cursor: default;
        display: inline-block;
        height: 100%;
        line-height: var(--row-height);
        vertical-align: top;;
    }

    .TanstackTableRow {
        white-space: nowrap;
    }


    &:not(.TanstackTable-paginated) {
        .TanstackTableRow {
            position: absolute;
            top: 0;
            
        }

    }
}

.TanstackTable-paginated {
    --vuuPaginationControl-height: 32px;

    .TanstackTable-table {
        height: 100%;
    }
    .TanstackTable-body {
        height: calc(100% - var(--header-height));
    }
}