

.vuuChart {

    .vuuChartTooltip {
        background-color: var(--salt-container-primary-background) !important;
        border-color:var(--salt-selectable-borderColor-selected) !important;
        border-radius: 6px !important;
        font-family: var(--salt-text-fontFamily)  !important;

        .vuuChart-tooltip-title {
            color: var(--salt-content-primary-foreground) !important;
        }

        .vuuChart-tooltip-entry {
            align-items: center;
            display: flex;
            gap: 6px;

            .vuuChart-tooltip-icon {
                border-radius: 12px;
                display: block;
                flex: 0 0 12px;
                height: 12px;
            }
            .vuuChart-tooltip-label {
                color: var(--salt-content-secondary-foreground)  !important;
                flex: 1 1 auto;
                font-size: var(--salt-text-label-fontSize) !important;
                min-width: 60px;
                padding-top: 3px;
                text-transform: capitalize;
            }
            .vuuChart-tooltip-value {
                flex: 1 1 auto;
                color: var(--salt-content-primary-foreground) !important;
                font-size: var(--salt-text-label-fontSize) !important;
                text-align: right;
            }
        }
    }
}

