.vuuColumnSettingsPanel {
    --saltFormField-margin: 3px 0;
    --saltPanel-padding: var(--salt-size-unit);
    align-items: flex-start;
    border-left: solid 1px var(--salt-container-primary-borderColor);
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    min-width: 220px;
    padding-left: calc(var(--salt-size-unit) * 2);
    width: var(--vuuColumnSettings-width, auto);

}

.vuuColumnSettingsPanel-columnTabs {
    --saltFormField-margin: 0;
}

.vuuColumnSettingsPanel-columnTabs .saltFormField {
    margin-left: 0 !important;
}

.vuuColumnSettingsPanel .saltPanel {
    --saltFormField-margin: 3px 0;
    margin-top: var(--settings-panel-marginTop, var(--salt-size-unit));

    align-items: stretch;
    display: flex;
    flex-direction: column;
    gap: var(--salt-size-unit);

}

.vuuColumnPanelSwitch {
    white-space: nowrap;
    width: 100%;
}

.vuuColumnSettingsPanel .saltSwitch {
    margin-left: auto;;
}
