.vuuChevronDownIcon {
    --vuu-icon-size: 14px;
    --vuu-icon-left: -1px;
    --vuu-icon-top: -1px;
    --vuu-icon-svg: var(--vuu-svg-chevron-down);
    height: var(--vuuChevronDownIcon-size, 14px);
    position: relative;
    width: var(--vuuChevronDownIcon-size, 14px);
    cursor: pointer;
}

.vuuChevronDownIcon:after {
    content: "";
    background-color: #777C94;
    left: var(--vuu-icon-left, auto);
    height: var(--vuu-icon-height, var(--vuu-icon-size, 12px));
    -webkit-mask: var(--vuu-icon-svg) center center/var(--vuu-icon-size) var(--vuu-icon-size);
    mask: var(--vuu-icon-svg) center center/var(--vuu-icon-size) var(--vuu-icon-size);
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    position: absolute;
    top: var(--vuu-icon-top, auto);
    width: var(--vuu-icon-width, var(--vuu-icon-size, 12px));
}
