.vuuListItem {
  /* Color */
  --list-item-text-color: var(--salt-text-primary-foreground);
  --list-item-background: var(--vuuList-item-background, var(--salt-selectable-background));
  /* --list-item-selected-focus-outlineColor: var(--salt-color-white);  TODO: Check token with design */
  --list-item-text-color-active: var(--salt-text-primary-foreground);
  --list-item-background-active: var(--salt-selectable-background-selected);
  --list-item-alignItems: center;
}

.vuuListItem.vuuHighlighted {
  --saltCheckbox-icon-stroke: var(--salt-selectable-borderColor-hover);
  --list-item-background: var(--salt-selectable-background-hover);
}

.vuuListItemHeader {
  font-weight: var(--salt-text-fontWeight-strong); /*  TODO: Check token with design */
}

.vuuListItemHeader[data-sticky] {
  position: sticky;
  top: 0;
  z-index: 1;
}

.vuuListItem {
  color: var(--list-item-text-color);
  cursor: var(--vuuList-item-cursor, pointer);
  background: var(--vuuList-item-background, var(--list-item-background));
  font-size: var(--salt-text-fontSize);
  text-align: var(--salt-text-textAlign);
  line-height: var(--salt-text-lineHeight);
  height: var(--vuuList-item-height, var(--list-item-height, auto));
  /* Replaced border-bottom with margin. In design spec, the height of the items should not include gap */
  margin-bottom: var(--list-item-gap);
  padding: 0 var(--salt-size-unit);
  left: 0;
  right: 0;
  display: flex;
  position: relative;
  align-items: var(--list-item-alignItems);
  white-space: nowrap;
}

.vuuListItem:last-child {
  margin-bottom: 0px;
}

.vuuListItem-checkbox {
  --list-item-background-active: var(--salt-selectable-background);
  --list-item-text-color-active: var(--salt-text-primary-foreground);
  --list-item-text-padding: 0 0 0 var(--salt-size-unit);
}

.vuuListItem[aria-selected="true"]:not(.vuuListItem-checkbox) {
  --list-item-background: var(--list-item-background-active);
  color: var(--list-item-text-color-active);
}

.vuuListItem.vuuDisabled {
  --list-item-text-color: var(--salt-text-primary-foreground-disabled);
  cursor: var(--salt-selectable-cursor-disabled);
}

.vuuListItem.vuuFocusVisible {
  outline-style: var(--salt-focused-outlineStyle);
  outline-width: var(--salt-focused-outlineWidth);
  outline-offset: -2px;
  outline-color: var(--salt-focused-outlineColor);
}

.vuuListItem.vuuFocusVisible:after {
  content: none;
}

.vuuListItem[aria-selected="true"]:not(.vuuListItem-checkbox).vuuFocusVisible {
  outline-color: var(--list-item-selected-focus-outlineColor);
}

.vuuListItem-textWrapper {
  flex: 1;
  overflow: hidden;
  padding: var(--list-item-text-padding, 0px);
  white-space: nowrap;
  text-overflow: ellipsis;
}

.vuuListItem-proxy {
  position: absolute !important;
  visibility: hidden;
}
.vuuDraggable-list-item {
  --vuuList-item-height: 24px;
  background-color: white;
}

.vuuListItem.vuuDraggable-dragAway {
  display: none;
}