.vuuList {
  --list-background: var(--salt-container-primary-background);
  --list-borderStyle: var(--vuuList-borderStyle,var(--salt-container-borderStyle));
  --list-borderWidth: var(--salt-size-border);
  --list-height: auto;
  --list-item-height: var(--salt-size-stackable);
  --list-item-gap: 0px;
  --list-maxHeight: 100%;
  --vuuDraggable-display: block;
  --vuuDraggable-spacer-height: 0;
  --vuuDraggable-spacer-width: 100%;
  --vuuDraggable-transitionProp: height;
  --vuuMeasuredContainer-height: var(--computed-list-height);

  background: var(--list-background);
  height: var(--saltList-height, var(--list-height));
  max-height: var(--list-maxHeight);
  outline: none;
  position: relative;
  user-select: none;
  width: var(--saltList-width, auto);
  padding: 0 1px;
}

.vuuList-contentSized {
  box-sizing: content-box;
}

.vuuList-borderless {
  --list-borderStyle: none;
}

/* virtualised list */
.vuuList-viewport {
  height: var(--computed-list-height, var(--measured-px-height));
  overflow: auto;
}

.vuuListHeader {
  --saltList-item-background: var(--list-item-header-background);
  color: var(--list-item-header-color);
  font-weight: 600;
}

.vuuListHeader[data-sticky="true"] {
  --saltList-item-background: var(--list-background);
  position: sticky;
  top: 0;
  z-index: 1;
}

.vuuList-collapsible .vuuListItemHeader:after {
  border-width: var(--checkbox-borderWidth);
  border-color: var(--checkbox-borderColor);
  content: var(--list-item-header-twisty-content);
  -webkit-mask: var(--list-svg-chevron-down) center center/12px 12px no-repeat;
  mask: var(--list-svg-chevron-down) center center/12px 12px no-repeat;
  background: var(--list-item-header-twisty-color);
  height: 12px;
  left: var(--list-item-header-twisty-left);
  right: var(--list-item-header-twisty-right);
  margin-top: -8px;
  position: absolute;
  top: var(--list-item-header-twisty-top);
  transition: transform 0.3s;
  width: 12px;
}
.vuuListItemHeader[aria-expanded="false"]:after {
  transform: rotate(-90deg);
}

/* Selection */

.vuuList-scrollingContentContainer {
  box-sizing: inherit;
  position: relative;
}

.vuuList-virtualized .vuuListItem {
  line-height: 30px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  will-change: transform;
}
.vuuList.saltFocusVisible:after {
  inset: 2px;
}
