.vuuRadioIcon {
    --vuu-icon-size: 12px;
    --vuu-icon-left: -1px;
    --vuu-icon-top: -1px;
    --vuu-icon-svg: var(--vuu-svg-radio);
    border-style: solid;
    border-color: var(--vuuRadioIcon-borderColor, var(--salt-selectable-borderColor));
    border-radius: 50%;
    border-width: 1px;
    display: inline-block;
    height: var(--vuuRadioIcon-size, 12px);
    position: relative;
    width: var(--vuuRadioIcon-size, 12px);
}

.vuuRadioIcon-checked {
    background-image: var(--vuu-svg-radio);
    border: none;
    background-repeat: no-repeat;
}

.vuuRadioIcon-checked:after {
    content: "";
    left: var(--vuu-icon-left, auto);
    height: var(--vuu-icon-height, var(--vuu-icon-size, 12px));
    -webkit-mask: var(--vuu-icon-svg) center center/var(--vuu-icon-size) var(--vuu-icon-size);
    mask: var(--vuu-icon-svg) center center/var(--vuu-icon-size) var(--vuu-icon-size);
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    position: absolute;
    top: var(--vuu-icon-top, auto);
    width: var(--vuu-icon-width, var(--vuu-icon-size, 12px));
}
