.LayoutTabs {
  --selectedtab-bg: cornflowerblue;
  height: 40px;
  display: flex;
  align-items: stretch;
  z-index: 1;
}

.LayoutTabs .node {
  flex: 0 0 auto;
  max-width: 0;
  overflow: hidden;
  display: none;
  margin-right: 3px;
  transition: max-width 0.25s;
  position: relative;
}

.LayoutTabs:hover .node {
  max-width: 100px;
  overflow: visible;
}
.LayoutTabs .node:not(:last-child):hover {
  cursor: pointer;
  z-index: 1;
}

.LayoutTabs .node:not(:last-child):hover .node-path {
  background-color: var(--selectedtab-bg);
  color: white;
}

.LayoutTabs .node .node-slide {
  flex: 0 0 24px;
  text-align: right;
}
.LayoutTabs .node:first-child .node-slide {
  flex: 0 0 12px;
}

.LayoutTabs .node .node-path {
  padding: 0 12px;
  flex: 0 0 auto;
  text-align: right;
  overflow: hidden;
}

.LayoutTabs .node:first-child .node-path {
  text-align: left;
}
.LayoutTabs .node:not(:last-child) .node-label {
  padding-left: 6px;
  position: absolute;
}

.LayoutTabs .node:last-child {
  flex: 1 1 auto;
  max-width: 1000px;
}

.LayoutTabs .node:not(:last-child):hover .node-label {
  display: block;
  top: 30px;
  left: 24px;
  background-color: var(--selectedtab-bg);
  color: white;
  padding-right: 18px;
  border-radius: 0 16px 16px 5px;
}

.LayoutTabs .node:first-child:hover .node-label {
  left: 12px;
}

.LayoutTabs .node .node-label {
  display: none;
}
.LayoutTabs .node:last-child .node-label {
  display: block;
}
