.hwList {
  --list-hilited-bg: var(--hwList-hilited-bg, rgba(0, 0, 0, 0.1));
  --list-item-height: var(--hwList-item-height, 30px);
  --list-item-padding: var(--hwList-item-padding, 0 6px);
  --list-item-header-bg: var(--hwList-item-header-bg, var(--surface4));
  --list-item-header-color: var(--hwList-item-header-color, --text2);
  --list-item-header-font-weight: bold;
  --list-item-header-twisty-color: var(--text2);
  --list-item-header-twisty-content: '';
  --list-item-header-twisty-top: 50%;
  --list-item-header-twisty-left: auto;
  --list-item-header-twisty-right: 3px;
  --list-item-selected-bg: var(--hwList-selected-bg, #1ea7fd);
  --list-item-text-color: var(--text1);
  --focus-visible-border-color: var(--hw-focus-visible-border-color, rgb(141, 154, 179));

  background: var(--hwList-background, var(--surface2, inherit));
  list-style: none;
  margin: 0;
  padding: 0 var(--hwList-padding-lr, 0);
  font-size: 12px;
  max-height: var(--hwList-max-height, 100%);
  outline: none;
  overflow-y: auto;
  position: relative;
  user-select: none;
}

.hwList-viewport {
  --list-item-height: 30px;
  box-sizing: border-box;
  max-height: inherit;
  overflow: auto;
}

.hwList-scrollingContentContainer {
  box-sizing: inherit;
  position: relative;
}

.hwList-scrollingContentContainer .hwListItem {
  line-height: 30px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  will-change: transform;
}

.hwListItem {
  --checkbox-border-color: black;
  --checkbox-border-width: 1px;
  --checkbox-tick: black;
  background: var(--hwListItem-background, inherit);
  color: var(--list-item-text-color);
  height: var(--hwListItem-height, var(--list-item-height));
  line-height: var(--hwListItem-line-height, var(--list-item-height));
  padding: var(--list-item-padding);
  position: relative;
  cursor: default;
  margin: 0;
  white-space: nowrap;
}

.hwListItem:not(.hwListItemHeader)[data-highlighted] {
  background-color: var(--hwListItem-background, var(--list-hilited-bg));
}

.hwListItemHeader {
  background-color: var(--list-item-header-bg);
  color: var(--list-item-header-color);
  font-weight: var(--list-item-header-font-weight);
}

.hwListItemHeader[data-sticky='true'] {
  position: sticky;
  top: 0;
  z-index: 1;
}

.hwListItem:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.hwListItem.focusVisible:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0px;
  border: dotted var(--focus-visible-border-color) 2px;
}

.hwList-collapsible .hwListItemHeader:after {
  border-width: var(--checkbox-border-width);
  border-color: var(--checkbox-border-color);
  content: var(--list-item-header-twisty-content);
  -webkit-mask: var(--svg-chevron-down) center center/12px 12px no-repeat;
  mask: var(--svg-chevron-down) center center/12px 12px no-repeat;
  background-color: var(--list-item-header-twisty-color);
  height: 12px;
  left: var(--list-item-header-twisty-left);
  right: var(--list-item-header-twisty-right);
  margin-top: -8px;
  position: absolute;
  top: var(--list-item-header-twisty-top);
  transition: transform 0.3s;
  width: 12px;
}
.hwListItemHeader[aria-expanded='false']:after {
  transform: rotate(-90deg);
}

/* Selection */

.hwList:not(.checkbox-only) .hwListItem[aria-selected='true'] {
  --checkbox-border-color: white;
  --checkbox-tick: white;
  --focus-visible-border-color: white;
  background-color: var(--list-item-selected-bg);
  color: white;
}

.with-checkbox .hwListItem {
  padding-left: 28px;
}

.with-checkbox .hwListItem:after {
  background-color: var(--checkbox-tick);
  content: var(--hwListItem-checkbox-content, '');
  height: 12px;
  left: 3px;
  margin-top: -7px;
  -webkit-mask: var(--svg-checkbox) center center/ 15px 15px no-repeat;
  mask: var(--svg-checkbox) center center/ 15px 15px no-repeat;
  position: absolute;
  top: 50%;
  width: 12px;
}

.with-checkbox .hwListItem[aria-selected='true']:after {
  -webkit-mask: var(--svg-checkbox-checked) center center/ 15px 15px no-repeat;
  mask: var(--svg-checkbox-checked) center center/ 15px 15px no-repeat;
}
