.salt-theme.salt-theme-next.vuu-theme-next {
  --salt-color-background-gradientlight-rgb: var(--salt-color-background-titanium-rgb);
  --salt-color-background-gradientlight: var(--salt-color-background-titanium);
}
