.hwDropdown {
  background: var(--hw-standard-bg);
  box-shadow: var(--hw-dialog-shadow);
  display: flex;
  flex-direction: column;
  max-height: 400px;
  position: absolute;
  list-style: none;
  margin: 0;
  z-index: 10;
}

.hwDropdown [data-footer] {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 6px;
}
