.vuuFilterBuilderMenu {
    margin: 0;    
}

.vuuFilterBuilderMenu-trigger {
    display: inline-block;
    height: 26px;
    width: 0px;
}

.vuuFilterBuilderMenuList {
    --vuuList-borderStyle: none;    
}

  
  .vuuListItem:has(.vuuMenuButton){
    justify-content: center;
  }

  .vuuMenuButton {
    background-color: white;
    border: solid 1px var(--salt-actionable-primary-foreground);
    border-radius: 6px;
    color: var(--vuu-color-gray-50);
    font-size: 9px;
    padding: 1px 6px;
  }

