.EditForm {
  display: flex;
  flex-direction: column;
  gap: var(--salt-spacing-400);
  height: 100%;
  padding: var(--salt-spacing-200);
  width: 100%;
}

.EditForm-buttons {
  align-items: center;
  display: flex;
  justify-content: flex-end;
}
