.vuuJsonCell-group {
    align-items: center;
    display: inline-flex;
    height: calc(var(--vuuTable-rowHeight) - 1px);
    width: 100%;
}

.vuuJsonCell-toggle {
    --vuu-icon-color: var(--salt-text-primary-foreground);
    --vuu-icon-height: calc(var(--vuuTable-rowHeight) - 1px);
    --vuu-icon-width: 18px;
    flex-shrink: 0;
    margin-left: auto;
}

.vuuJsonCell-name {
      font-weight: var(--salt-typography-fontWeight-semiBold);  
}

.vuuJsonCell-value {
    overflow: hidden;
    text-overflow: ellipsis;
}