.vuuDropMenu {
  margin-left: -50%;
  margin-bottom: -50%;
  background-color: white;
  border: solid 1px var(--grey40);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
  border-radius: 3px;
}

.vuuDropMenu-left,
.vuuDropMenu-right {
  flex-direction: column;
}

.vuuDropMenu-bottom {
  transform: translate(0, -30px);
}

.vuuDropMenu-right {
  transform: translate(-20px, 0);
}

.vuuDropMenu-item {
  --vuu-icon-size: 20px;
  width: 32px;
  height: 32px;
  background-color: var(--grey20);
  border-bottom: solid 1px var(--grey40);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.vuuDropMenu-item .Icon {
  transform: scale(1.25);
  transform-origin: center center;
}

.vuuDropMenu-left .vuuDropMenu-item .hwIcon {
  transform: scale(1.25) rotate(180deg);
  transform-origin: center center;
}

.vuuDropMenu-top .vuuDropMenu-item .hwIcon {
  transform: scale(1.25) rotate(270deg);
  transform-origin: center center;
}

.vuuDropMenu-bottom .vuuDropMenu-item .hwIcon {
  transform: scale(1.25) rotate(90deg);
  transform-origin: center center;
}

.vuuDropMenu-item .hwIcon-path {
  fill: grey;
}
.vuuDropMenu-item:hover {
  background-color: rgba(200, 200, 200, 0.5);
}

.vuuDropMenu-item:hover .hwIcon-path-2 {
  fill: blue;
}

.vuuDropMenu-item:last-child {
  border-bottom: none;
}
