.Tabs {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
}

.Tabs-horizontal {
  --vuu-tabs-border-style: none solid none none;
  flex-direction: row;
}

.Tabs .Toolbar:before {
  left: 0;
  width: 100%;
  bottom: 0;
  height: 1px;
  content: '';
  position: absolute;
  background: var(--grey60);
}

.vuuTabHeader {
  --saltTabs-activationIndicator-background: transparent;
  --saltToolbarField-marginTop: calc(var(--salt-size-unit) - 1px);
  border-color: var(--salt-container-primary-borderColor);
  border-style: var(--vuu-tabs-border-style, none none solid none);
  border-width: 1px;
}

.vuuTabHeader + .hwFlexbox,
.vuuTabHeader + * {
  flex: 1;
}

.vuuTabHeader + .vuuView > .vuuHeader {
  height: 0;
  overflow: hidden;
}

.Layout-svg-button {
  --spacing-medium: 5px;
}
