.Tabs {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
}

.Tabs-horizontal {
  flex-direction: row;
}



.Tabs .Toolbar:before {
  left: 0;
  width: 100%;
  bottom: 0;
  height: 1px;
  content: '';
  position: absolute;
  background: var(--grey60);
}

.vuuTabHeader {
  --saltTabs-activationIndicator-background: transparent;
  --saltToolbarField-marginTop: calc(var(--salt-size-unit) - 1px);
  border-bottom: solid 1px var(--salt-container-primary-borderColor);
}

.vuuTabHeader + .hwFlexbox,
.vuuTabHeader + * {
  flex: 1;
}

.vuuTabHeader + .vuuView > .vuuHeader {
  height: 0;
  overflow: hidden;
}

/* .Splitter.column + .Flexbox > .Tabs:first-child {
  border-top: solid 1px lightgrey;
} */

.Layout-svg-button {
  --spacing-medium: 5px;
}
