.salt-theme.vuu-theme-deprecated {
  --vuu-svg-layout: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 20 20"><path d="M4 8.00004H6.66667V5.33337H5.33333C4.6 5.33337 4 5.93337 4 6.66671V8.00004ZM4 11.3334H6.66667V8.66671H4V11.3334ZM7.33333 11.3334H10V8.66671H7.33333V11.3334ZM10.6667 11.3334H13.3333V8.66671H10.6667V11.3334ZM7.33333 8.00004H10V5.33337H7.33333V8.00004ZM10.6667 5.33337V8.00004H13.3333V5.33337H10.6667ZM14 11.3334H16.6667V8.66671H14V11.3334ZM5.33333 14.6667H6.66667V12H4V13.3334C4 14.0667 4.6 14.6667 5.33333 14.6667ZM7.33333 14.6667H10V12H7.33333V14.6667ZM10.6667 14.6667H13.3333V12H10.6667V14.6667ZM14 14.6667H15.3333C16.0667 14.6667 16.6667 14.0667 16.6667 13.3334V12H14V14.6667ZM14 5.33337V8.00004H16.6667V6.66671C16.6667 5.93337 16.0667 5.33337 15.3333 5.33337H14Z" /></svg>');

  [data-icon="layout"] {
    --vuu-icon-svg: var(--vuu-svg-layout);
    --vuu-icon-width: 20px;
  }
}
