.vuuPrompt {
    --saltButton-padding: var(--prompt-padding);
    --saltButton-width: auto;
    --border-width: var(--vuuPrompt-borderWidth, 1px);
    --border-color: var(--vuuPrompt-borderColor, var(--vuu-color-purple-10));
    --prompt-padding: 16px;
    --variant-color: inherit;
    --vuu-icon-color: var(--vuu-color-gray-80);
    --vuu-icon-left: 6px;
    --vuu-icon-size: 24px;

    background-color: var(--salt-container-primary-background);
    border-color: var(--border-color);
    border-radius:4px;
    border-style: solid;
    border-width: var(--border-width);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    margin: 0;
    padding: 0;
    position: absolute;
}

.vuuPrompt-warn {
    --border-color: var(--vuu-color-yellow-20);
    --variant-color: var(--vuu-color-yellow-20);
}

.vuuPrompt-form {
    display: flex;
    flex-direction: column;
}

.vuuPrompt-header {
    align-items: center;
    background-color: var(--variant-color);
    display: flex;
    flex: 0 0 32px;  
    font-size: 16px;
    font-weight: 700;
    padding: 0 var(--prompt-padding);  
}

.vuuPrompt-header[data-icon]{
    padding-left: 36px;
}


.vuuPrompt-text {
    flex: 1 1 auto;
    padding: var(--prompt-padding);

}
.vuuPrompt-buttonBar {
    align-items: flex-end;
    display: flex;
    flex: 0 0 32px;
    gap: 6px;
    justify-content: flex-end;
    padding: 0 var(--prompt-padding) var(--prompt-padding) var(--prompt-padding);  

}