
.salt-theme {
    --vuuFilterEditor-lineHeight: 28px;
}

.salt-density-high {
    --vuuFilterEditor-buttonWidth: 20px;
    --vuuFilterEditor-height: 22px;
    --vuuFilterEditor-lineHeight: 20px;
}

.vuuFilterInput {
    --vuuFilterEditor-background: var(--salt-container-primary-background);
    --vuuFilterEditor-color: var(--salt-text-primary-foreground);
    --vuuFilterEditor-fontFamily: var(--salt-typography-fontFamily);
    --vuuFilterEditor-fontSize: var(--salt-text-fontSize);
    --vuuFilterEditor-cursorColor: var(--salt-text-secondary-foreground);
    --vuuFilterEditor-selectionBackground: var(--salt-text-background-selected);
    --vuuFilterEditor-tooltipBackground: var(--salt-container-primary-background);
    --vuuFilterEditor-tooltipBorder: var(--tooltip-status-borderColor) var(--salt-container-borderWidth) var(--salt-container-borderStyle); 
    --vuuFilterEditor-tooltipElevation: var(--salt-overlayable-shadow-popout);
    --vuuFilterEditor-suggestion-selectedBackground: var(--salt-selectable-background-selected);
    --vuuFilterEditor-suggestion-selectedColor: var(--vuuFilterEditor-color);
    --vuuFilterEditor-suggestion-height: 24px;
    --vuuFilterEditor-variableColor: var(--vuu-color_purple-10);

    align-items: center;
    border-color: var(--salt-container-secondary-borderColor);
    border-style: solid none;
    border-width: 1px;
    box-sizing: border-box;
    display: flex;
    height: var(--vuuFilterEditor-height, 30px);
}

.vuuFilterInput-Editor {
    flex: 1 1 auto;
    height: 100%;
}

.vuuFilterInput-FilterButton,
.vuuFilterInput-ClearButton {
    --vuu-icon-size: 12px;
    --saltButton-width: var(--vuuFilterEditor-buttonWidth, 28px);
}

.vuuIllustration {
    --vuuFilterEditor-suggestion-selectedBackground:var(--salt-container-secondary-background);
    background: var(--salt-container-secondary-background);
    color: var(--salt-text-secondary-foreground);
}


