
.uitk-density-high {
    --vuuFilterEditor-buttonWidth: 20px;
    --vuuFilterEditor-height: 22px;
}


.vuuFilterInput {
    --vuuFilterEditor-background: var(--uitk-container-background-medium);
    --vuuFilterEditor-color: var(--uitk-text-primary-foreground);
    --vuuFilterEditor-fontFamily: var(--uitk-typography-fontFamily);
    --vuuFilterEditor-fontSize: var(--uitk-text-fontSize);
    --vuuFilterEditor-cursorColor: var(--uitk-text-secondary-foreground);
    --vuuFilterEditor-selectionBackground: var(--uitk-text-background-selected);
    --vuuFilterEditor-tooltipBackground: var(--uitk-container-background-high);
    --vuuFilterEditor-tooltipBorder: var(--tooltip-status-borderColor) var(--uitk-container-borderWidth) var(--uitk-container-borderStyle); 
    --vuuFilterEditor-tooltipElevation: var(--uitk-overlayable-shadow-popout);
    --vuuFilterEditor-suggestion-selectedBackground: var(--uitk-selectable-background-selected);
    --vuuFilterEditor-suggestion-height: 24px;
    --vuuFilterEditor-variableColor: blue;

    align-items: center;
    border-color: var(--uitk-container-borderColor-medium);
    border-style: solid none;
    border-width: 1px;
    box-sizing: border-box;
    display: flex;
    height: var(--vuuFilterEditor-height, 30px);
}

.vuuFilterInput-Editor {
    flex: 1 1 auto;
    height: 100%;
}

.vuuFilterInput-FilterButton,
.vuuFilterInput-ClearButton {
    --vuu-icon-size: 12px;
    --uitkButton-width: var(--vuuFilterEditor-buttonWidth, 28px);
}


