.vuuColumnResizer {
    background-color: var(--columnResizer-color);
    cursor: col-resize;
    height: var(--header-height);
    position: relative;
    width: 4px;
}

.vuuColumnResizer:hover {
    --columnResizer-color: var(--salt-color-blue-500);
}

.vuuColumnResizer:after {
    content: '';
    position: absolute;
    width: var(--columnResizer-width, 1px);
    top: 0;
    bottom:0;
    right: -1px;
    background-color: var(--columnResizer-color, var(--salt-separable-tertiary-borderColor));
    height: var(--columnResizer-height, calc(100% + 1px));
}