/**
  variables injected by Table component
    --content-height
    --content-width
    --header-height
    --horizontal-scrollbar-height
    --pinned-width-left
    --pinned-width-right
    --row-height
    --table-height
    --table-width
    --total-header-height
    --vertical-scrollbar-width
    --viewport-body-height
*/
.vuuTable {

  --dataTable-background: var(--salt-container-primary-background, inherit);
  --row-background-even: var(--dataTable-background);
  --row-background-odd: var(--dataTable-background);
  --table-background: var(--dataTable-background, none);

  background-color: var(--dataTable-background);
  position: relative;
}

.vuuTable-zebra {
  --row-background-even: var(--salt-container-secondary-background);
}

.vuuTable-scrollbarContainer {
  --scroll-content-width: calc(var(--content-width) - var(--pinned-width-left));
  border-bottom: none !important;
  border-top: none !important;
  border-left: solid 1px var(--salt-container-primary-borderColor);
  /*  a top border */
  box-shadow: 0px -1px 0px 0px var(--salt-container-primary-borderColor);
  height: var(--viewport-body-height);
  left: var(--pinned-width-left);
  overflow: auto;
  position: absolute;
  top: var(--total-header-height);
  width: calc(var(--table-width) - var(--pinned-width-left) + 1px);
}

.vuuTable-scrollbarContent {
  height: calc(var(--content-height) + var(--horizontal-scrollbar-height));
  position: absolute;
  width: var(--scroll-content-width, var(--content-width));
}

.vuuTable-contentContainer {
  --vuuTableHeaderHeight: var(--header-height, 30px);

  background-color: var(--salt-container-primary-background);

  height: calc(var(--table-height) - var(--horizontal-scrollbar-height));
  position: relative;
  overflow: auto;
  overscroll-behavior: none;
  width: calc(var(--table-width) - var(--vertical-scrollbar-width));
}

.vuuTable-contentContainer::-webkit-scrollbar {
  display: none;
}


:is(.vuuPinLeft, .vuuPinRight, .vuuPinFloating) {
  background-color: inherit;
  position: sticky;
  z-index: 1;
}

.vuuTable-settings {
  --saltButton-height: var(--header-height);
  --saltButton-width: 15px;
  position: absolute !important;
  right: 0;
  top: 0;
}

.vuuTable:has(.vuuTable-headerCell-resizing) * {
  cursor: col-resize;
}

