.vuuTableCell {
  border-right-color: var(--cell-borderColor);
  border-right-style: solid;
  border-right-width: 1px;
  /* unfortunately inline-flex doesn't play nice with text-overflow ellipsis */
  display: inline-block;
  white-space: nowrap;
  height: 100%;
  outline-offset: -2px;
  overflow: hidden;
  padding: var(--vuuTableCell-padding, 0 11px 0 8px);
  text-overflow: ellipsis;
  vertical-align: top;
}

.vuuTableCell-right {
  text-align: right;
}

.vuuTableCell-editable {
  align-items: center;
  display: inline-flex;
  padding: 0px 1px;
}

.vuuTableCell:focus {
  outline: var(
    --vuuTableCell-outline,
    solid var(--salt-focused-outlineColor) 2px
  );
  /** This is to achieve a white background to outline dashes */
  box-shadow: inset 0 0 0 var(--cell-outline-width) white;
  border-bottom: none;
}

.vuuTableRow-selected .vuuTableCell:not(.vuuTableCell-editable):focus {
  outline: var(
    --vuuTableCell-outline,
    solid var(--salt-focused-outlineColor) 2px
  );

  &:has(.vuuCheckboxRowSelector) {
    outline: none;
  }
}
.vuuTableCell-editable:focus {
  outline: none;
}

.vuuTableCell.ContextOpen {
  outline: var(
    --vuuTableCell-outline,
    solid var(--vuuTableCell-contextOpen-outlineColor, var(--salt-focused-outlineColor)) 2px
  );
}
