.vuuDataGrid {
  --grid-background: var(--salt-container-tertiary-background, inherit);
  --grid-row-background: inherit;
  --grid-row-height: var(--grid-row-height, 20px);
  --grid-row-line-height: 19px;
  --grid-row-background-selected: var(--salt-palette-neutral-highlight);
  --grid-header-cell-highlight-bg: var(--surface3);

  --hw-activation-indicator-thumb-bg: #2c2c2c;
  --grid-flex-align: stretch;
  --grid-cell-bg: var(--grid-cell-bg, var(--background));
  --cell-border-top-color: transparent;
  --cell-border-bottom-color: transparent;
  --cell-border-right-color: var(--grid-cell-border-color, var(--salt-separable-tertiary-borderColor));
  --cell-border-style: var(--hwDataGridCell-border-style, solid);
  --cell-highlight-bg: var(--grid-cell-highlight-bg);
  --drag-column-bg: var(--grid-drag-column-bg, 'ivory');
  --cell-padding: 0 9px;
  --header-background: var(--grid-header-background, var(--background, white));
  --header-cell-height: 24px;
  --header-cell-highlight-bg: var(--grid-header-cell-highlight-bg);
  --heading-border-color: var(--grid-heading-border-color, #d4d4d4);
  --line-number-bg: #d4d4d4;
  --line-number-border-color: #ccc;
  --text-color: var(--grid-text-color, var(--text2));
  --focus-visible-border-color: var(--hw-focus-visible-border-color, rgb(141, 154, 179));

  background-color: var(--grid-background);
  box-sizing: border-box;
  align-self: var(--grid-flex-align);
  flex: var(--hwDataGrid-flex, 1 1 0px);
  position: relative;
  font-size: var(--vuuDataGrid-font-size, 10px);
  outline: none;
  overflow: hidden;
}

.vuuDataGrid.scrolling-x .vuuDataGrid-Viewport {
  overflow-y: hidden !important;
  height: 100% !important;
}

.vuuDataGrid.scrolling-x .vuuDataGridCanvas .hwColumnGroupHeader {
  position: relative;
}

.vuuDataGrid-Viewport {
  background-color: var(--surface2);

  outline: none;
  overflow-x: hidden;
  overflow-y: auto;
}

.vuuDataGrid-scrollingCanvasContainer {
  overflow: hidden;
  white-space: nowrap;
}

/* Canvas */
.vuuDataGridCanvas {
  display: inline-block;
  top: 0;
  vertical-align: top;
}

.Canvas-fixed {
  overflow: hidden;
}

.Canvas-fixed .vuuDataGridCell {
  background-color: #efeded;
}

.Canvas-scrollable {
  overflow-x: auto;
  overscroll-behavior-x: contain;
  overflow-y: hidden;
}

.vuuDataGridCanvas-canvasContent {
  position: relative;
}

.vuuDataGridCanvas .hwColumnGroupHeader {
  position: absolute;
  top: 0;
}

.DraggedColumn {
  background-color: var(--drag-column-bg);
  opacity: 0.4;
}

.Vanishing {
  border-style: none;
  color: transparent;
  padding: 0;
  transition: width ease 0.3s;
  width: 0 !important;
}
