.vuuDataGridRow {
  background: var(--row-background);
  box-sizing: border-box;
  height: var(--grid-row-height);
  left: 0;
  line-height: var(--grid-row-line-height);
  outline: 0;
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 100%;
}

.vuuDataGridRow-even {
  --row-background: var(--uitk-palette-neutral-background-high);
}

.vuuDataGridRow:not(.vuuDataGridRow-even) {
  --row-background: var(--hwDataGridRow-background-odd, inherit);
}

.vuuDataGridRow .group .vuuDataGridCell:first-child {
  padding: 0 6px 0 3px;
}

.vuuDataGridRow[aria-selected='true'] {
  background-color: var(--grid-row-background-selected);
  --cell-border-top-color: var(--uitk-selectable-borderColor-selected);
}

.vuuDataGridRow-lastSelected {
  --cell-border-bottom-color: var(--uitk-selectable-borderColor-selected);
}

.vuuDataGridRow.expanded {
  --row-toggle-icon-transform: rotate(90deg);
}
