.salt-density-high .vuuTimeInput {
  --time-input-width: 60px;
}
.salt-density-medium .vuuTimeInput {
  --time-input-width: 70px;
}
.salt-density-low .vuuTimeInput {
  --time-input-width: 80px;
}
.salt-density-touch .vuuTimeInput {
  --time-input-width: 90px;
}

.vuuTimeInput {
  background: var(--vuuTimeInput-background, inherit);
  border-width: 1px;
  font-family: var(--salt-typography-fontFamily);
  width: var(--vuuTimeInput-width, var(--time-input-width));

  /* the additional ".sss" is ~2.1em wide, allow extra room for the caret */
  &.vuuTimeInput-milliseconds {
    width: var(--vuuTimeInput-width, calc(var(--time-input-width) + 3em));
  }

  &:focus::-webkit-input-placeholder {
    color: transparent;
  }

  &:focus {
    outline: var(--vuuTimeInput-outline, var(--salt-focused-outline));
  }

  &.vuuTimeInput-invalid {
    border-color: var(
      --vuuTimeInput-invalid-borderColor,
      var(--salt-status-error-borderColor, red)
    );
  }
}
