.vuuTimeInput {
    font-family: var(--salt-typography-fontFamily);
    width: 80px;

    &:focus::-webkit-input-placeholder {
        color: transparent;
    }

}

.invalid::selection {
    background-color: red !important;
    color: white !important;
}