.vuuView {
  border: var(--vuuView-border, solid 1px var(--uitk-container-borderColor-medium));
  display: flex;
  flex-direction: column;
  margin: var(--vuuView-margin, 3px);
  min-height: 50px;
  min-width: 50px;
  outline: none;
  overflow: hidden;
  position: relative;
}

.vuuView.focus-visible:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: dotted cornflowerblue 2px;
}

.vuuView.dragging {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}

.vuuView-main {
  /* height: var(--view-content-height);
  width: var(--view-content-width); */
  display: flex;
  flex-direction: var(--vuuView-flexDirection, column);
  flex-wrap: var(--vuuView-flex-wrap, nowrap);
  flex: 1;
  overflow: hidden;
  position: relative;
}

.vuuView-main > * {
  flex-basis: auto;
  flex-grow: var(--vuuView-flex-grow, 1);
  flex-shrink: var(--vuuView-flex-shrink, 1);
}

.vuuView-collapsed .vuuView-main {
  display: none;
}

.vuuView-collapsed + .Splitter {
  display: none;
}

.vuuView-collapsed .Toolbar-vertical {
  border-right: solid 1px var(--grey40);
}

.vuuView-collapsed .Toolbar-vertical .toolbar-title {
  display: none;
}
