.vuuTabbedTableConfigPanel {

    --tabs-height: 25px;

    inset: 0;
    position: absolute;
    .saltTabsNext {
        height: 100%;
        .saltTabListNext {
            border-bottom: solid var(--salt-separable-secondary-borderColor) 1px;
            height: var(--tabs-height);
        }

        .saltTabNextPanel {
            height: calc(100% - var(--tabs-height));
        }
    }
}