/* force change */
.box {
  align-items: center;
  background: rgba(0,0,0,.05);
  display: flex;
  height: 200px;
  justify-content: center;
  left: 200px;
  position: absolute;
  top: 200px;
  width: 200px;
}

.column {
    background-color: rgba(211, 211, 211, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 100vh;
    z-index: -10;
}

.row {
    background-color: rgba(211, 211, 211, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100vh;
    height: 300px;
    z-index: -10;
}
  
