.salt-theme.vuu-theme-deprecated {
  .VuuDatePicker {
    --saltDateInput-height: 18px;
    --saltDateInput-minHeight: 18px;
    .saltIcon {
      display: block;
    }
    &.saltDateInput-focused {
      outline: none;
    }

    .saltDateInput-activationIndicator {
      display: none;
    }
  }
}
