html {
  box-sizing: border-box;
  margin: 0;
}
body {
  margin: 0;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

table,
tbody,
tr,
thead {
  display: block;
}

.table-scroll {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.hwTable {
  --header-height: 32px;
  --row-height: 25px;

  border-collapse: separate;
  border-spacing: 0;
  display: flex;
  flex-direction: column;
  height: 564px;
  overflow-x: auto;
  width: 100%;
}

thead,
tbody,
tfoot {
  width: max-content;
}

thead,
tfoot {
  background-color: green;
  box-sizing: border-box;
  flex: 0 0 var(--header-height);
  overflow: hidden;
}

thead th {
  background: #333;
  border-bottom: solid 2px red;
  color: #fff;
  height: var(--header-height);
  top: 0;
}

tfoot th,
tfoot td {
  border-top: solid 2px red;
}

tfoot tr {
  height: 100%;
}

tbody {
  flex: 1 1 0;
  overflow-y: auto;
  overflow-x: visible;
}

tr {
  display: flex;
  /* height: var(--row-height); */
}

th,
td {
  background: #fff;
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
  flex: 0 1 300px;
  min-width: 250px;
  padding: 5px 10px;
}

th:first-child,
td:first-child {
  background: #ccc;
  position: sticky;
  left: 0;
}
thead th:first-child,
tfoot th:first-child {
  z-index: 5;
}
