body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

#root {
  height: 100vh;
  position: absolute;
  width: 100vw;
}

.vuuToolbarProxy {
  align-items: center;
  display: flex;
  gap: 12px;
  height: var(--vuuToolbarProxy-height, 32px);
}

.vuuToolbarProxy-vertical {
  flex-direction: column;
}

.vuuShowcase-StandaloneRoot {
  background-color: var(--salt-container-primary-background);

  &:not(.vuuShowcase-mdx){
    height: 100vh;
    left: 0;
    top: 0;
    /** this prevents root being displaced by component margin */
    position: absolute;
    width: 100vw;      
  }

  &.vuuShowcase-mdx {
    padding: var(--salt-spacing-400);
    height: auto;
  }
}

#root:has(.vuuShowcase-mdx){
  height: 100vh;
  width: 100vw;
  overflow-x:auto;
}

.vuuShowcase-StandaloneRoot:has(> [data-showcase-center]) {
  align-items: center;
  display: flex;
  justify-content: center;
}
