.vuuOverflowContainer {
    --item-gap : 2px;
    --overflow-direction: row; 
    --overflow-height: var(--item-height);
    --overflow-top:top:0;
    --overflow-width: 0px;
    background-color: var(--vuuOverflowContainer-background);
    height: var(--overflow-container-height);
}

.vuuOverflowContainer-horizontal {
    --item-align: center;
    --item-margin: 0 var(--item-gap) 0 var(--item-gap);
}
.vuuOverflowContainer-vertical {
    --item-align: stretch;
    --item-height: auto;
    --item-margin: var(--item-gap) 0 var(--item-gap) 0;
    --overflow-direction: column; 
    --overflow-height: 0;
    --overflow-left: 0;
    --overflow-top: 100%;
    --overflow-width: auto;
 
}

.vuuOverflowContainer-wrapContainer {
    --item-height: var(--overflow-container-height);
    align-items: var(--item-align);
    display: flex;
    flex-direction: var(--overflow-direction);
    flex-wrap: wrap;
    height: var(--item-height);
    min-width: var(--vuuOverflowContainer-minWidth, 44px);
    overflow: hidden;
    position: relative;
    width: 100%;

}

.vuuOverflowContainer-wrapContainer-overflowed {
    --overflow-order: 2;
    --overflow-left: auto;
    --overflow-position: relative;
    --overflow-width: auto;
}

.vuuOverflowContainer-vertical.vuuOverflowContainer-wrapContainer-overflowed {
    --overflow-height: auto;
}

.vuuOverflowContainer-item {
    align-items: inherit;
    display: flex;
    order: 1;
    position: relative;
    height: var(--item-height);
    margin: var(--item-margin);
}

.vuuOverflowContainer-item[data-align="right"] {
    margin-left: auto;
}


.vuuOverflowContainer-item.wrapped {
    --overflow-item-bg: #ccc;
    order: 3;
}

.vuuOverflowContainer-item.vuuDraggable-dragAway,
.vuuOverflowContainer-item:has(.vuuDraggable-dragAway){
    display: none;
}

.vuuOverflowContainer-item.vuuDropTarget-settling {
    visibility: hidden;
}

.vuuOverflowContainer-OverflowIndicator {
    align-items: center;
    background-color: transparent;
    display: flex;
    height: var(--overflow-height);
    order: var(--overflow-order, 99);
    overflow: hidden;
    left: var(--overflow-left, 100%);
    top: var(--overflow-top, 100%);
    position: var(--overflow-position, absolute);
    width: var(--overflow-width);

  
}


.vuuDraggable-vuuOverflowContainer {
    align-items: center;
    display: flex;
    height: 44px;
}

