.vuuOverflowContainer {
    --overflow-borderColor: var(--vuuOverflowContainer-borderColor, none);
    --overflow-borderStyle: var(--vuuOverflowContainer-borderStyle, none);
    --overflow-borderWidth: var(--vuuOverflowContainer-borderWidth, 0px);

    --overflow-border-topWidth: var(--vuuOverflowContainer-borderTopWidth, var(--overflow-borderWidth));
    --overflow-border-rightWidth: var(--vuuOverflowContainer-borderRightWidth, var(--overflow-borderWidth));
    --overflow-border-bottomWidth: var(--vuuOverflowContainer-borderBottomWidth, var(--overflow-borderWidth));
    --overflow-border-leftWidth: var(--vuuOverflowContainer-borderLeftWidth, var(--overflow-borderWidth));
    
    --overflow-item-gap : var(--vuuOverflowContainer-gap,2px);
    --overflow-direction: row; 
    --overflow-height: var(--overflow-item-height);
    --overflow-top:top:0;
    --overflow-width: 0px;

    background-color: var(--vuuOverflowContainer-background);
    border-color: var(--overflow-borderColor);
    border-style: var(--overflow-borderStyle);
    border-top-width: var(--overflow-border-topWidth);
    border-right-width: var(--overflow-border-rightWidth);
    border-bottom-width:  var(--overflow-border-bottomWidth);
    border-left-width: var(--overflow-border-leftWidth);
    height: var(--overflow-container-heightWidth);
}

.vuuOverflowContainer-horizontal {
    --item-align: center;
    --item-margin: 0 var(--overflow-item-gap) 0 var(--overflow-item-gap);
}
.vuuOverflowContainer-vertical {
    --item-align: stretch;
    --overflow-item-height: auto;
    --item-margin: var(--overflow-item-gap) 0 var(--overflow-item-gap) 0;
    --overflow-direction: column; 
    --overflow-height: 0;
    --overflow-left: 0;
    --overflow-top: 100%;
    --overflow-width: auto;
 
}

.vuuOverflowContainer-wrapContainer {
    --border: calc(var(--overflow-border-topWidth) + var(--overflow-border-bottomWidth));
    --overflow-item-height: calc(var(--overflow-container-height) - var(--border));
    align-items: var(--item-align);
    display: flex;
    flex-direction: var(--overflow-direction);
    flex-wrap: wrap;
    height: var(--overflow-item-height);
    justify-content: var(--vuuOverflowContainer-justifyContent, flex-start);
    min-width: var(--vuuOverflowContainer-minWidth, 44px);
    overflow: hidden;
    position: relative;
    width: 100%;

}

.vuuOverflowContainer-wrapContainer-overflowed {
    --overflow-order: 2;
    --overflow-left: auto;
    --overflow-position: relative;
    --overflow-width: auto;
}

.vuuOverflowContainer-vertical.vuuOverflowContainer-wrapContainer-overflowed {
    --overflow-height: auto;
}

.vuuOverflowContainer-item {
    align-items: inherit;
    display: flex;
    order: 1;
    position: relative;
    height: var(--overflow-item-height);
    margin: var(--item-margin);
}

.vuuOverflowContainer-item[data-align="right"] {
    margin-left: auto;
}


.vuuOverflowContainer-item.wrapped {
    --overflow-item-bg: #ccc;
    order: 3;
}

.vuuOverflowContainer-item.vuuDraggable-dragAway,
.vuuOverflowContainer-item:has(.vuuDraggable-dragAway){
    display: none;
}

.vuuOverflowContainer-item.vuuDropTarget-settling {
    visibility: hidden;
}

.vuuOverflowContainer-OverflowIndicator {
    align-items: center;
    background-color: transparent;
    display: flex;
    height: var(--overflow-height);
    order: var(--overflow-order, 99);
    overflow: hidden;
    left: var(--overflow-left, 100%);
    top: var(--overflow-top, 100%);
    position: var(--overflow-position, absolute);
    width: var(--overflow-width);

  
}


.vuuDraggable-vuuOverflowContainer {
    align-items: center;
    display: flex;
    height: 44px;
}

