.salt-theme.vuu2-theme {


  .saltCheckbox:hover {
    .saltCheckboxIcon:not(.saltCheckboxIcon-checked,.saltCheckboxIcon-disabled) {
        background: var(--vuu2-color-coral-lightest);
    }    
    .saltCheckboxIcon.saltCheckboxIcon-checked:not(.saltCheckboxIcon-disabled) {
        color: var(--vuu2-color-purple);
        border-color: var(--vuu2-color-purple);
    }    
  }

}