.salt-theme.vuu2-theme {
    .vuuSplitButton {
        --vuuSplitButton-borderRadius: var(--salt-palette-corner);

        .vuuSplitButton-main {  
            --saltButton-borderStyle: solid none solid solid;
            border-radius: var(--main-border-radius);
            padding: 0 4px 0 16px;
        }

        .vuuSplitButton-trigger {
            border-style: var(--trigger-border-style);
            border-radius: var(--trigger-border-radius);
        }
        
        &.vuuFocusVisible {
            --vuuButton-borderColor: transparent;
        }
        
    }
}