.salt-theme.vuu2-theme[data-mode="light"] {
  .vuuTabstrip-primary {
    --vuu-tab-background: var(--vuu-color-gray-28);
  }
}

.salt-theme.vuu2-theme[data-mode="dark"] {
  --vuu-tab-background: var(--salt-color-gray-600);
}

.salt-theme.vuu2-theme {
  .vuuTab {
    --vuuTab-padding: 0 var(--salt-spacing-400);
  }

  .vuuTabstrip-primary {
    --vuuOverflowContainer-borderColor: var(
      --salt-separable-primary-borderColor
    );
    --vuuTab-background: var(--vuu-tab-background);
    --vuuTab-borderRadius: 6px 6px 0 0;
    --vuuTab-borderColor: var(--salt-separable-primary-borderColor);
    --vuuTab-borderStyle: solid;
    --vuuTab-borderWidth: 1px;

    &.vuuOrientation-horizontal {
      --vuuOverflowContainer-borderStyle: none;
      --vuuOverflowContainer-contentHeight: calc(
        var(--salt-size-base) + var(--salt-spacing-100)
      );
      --vuuOverflowContainer-height: calc(
        var(--vuuOverflowContainer-contentHeight) + 7px
      );
      padding-bottom: 7px;
    }

    .vuuTab {
      height: calc(var(--tab-height) + 1px);
    }

    .vuuTab-selected {
      --vuuTab-background: var(--vuuWorkspace-background);
      border-bottom-color: white;
      z-index: 1;
    }

    .vuuTab:before {
      height: calc(100% + 1px);
      left: -1px;
      top: -1px;
      border-radius: 5px 0 0 0;
      width: 6px;
    }

    .vuuTab:not(.vuuTab-selected):hover:before {
      background-color: var(--salt-navigable-indicator-hover);
    }

    &.vuuTabstrip:before {
      background-color: transparent;
      border-radius: 0 6px 0 0;
      border-left: solid 1px var(--salt-separable-primary-borderColor);
      border-right: solid 1px var(--salt-separable-primary-borderColor);
      border-top: solid 1px var(--salt-separable-primary-borderColor);
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 8px;
      z-index: 1;
    }
  }
}
