.tar-theme[data-mode="light"] {
  --salt-palette-interact-background: var(--tar-color-white);
  --salt-palette-interact-background-blurSelected: var(--salt-color-gray-30);
  --salt-palette-interact-background-hover: var(--tar-color-white);
  --salt-palette-interact-background-active: var(--tar-color-gray-30);
  --salt-palette-interact-background-disabled: var(--vuu-color-gray-35);
  --salt-palette-interact-background-activeDisabled: var(--salt-color-blue-30-fade-background);
  --salt-palette-interact-border: var(--tar-color-gray-35);
  --salt-palette-interact-border-active: var(--tar-color-gray-30);
  --salt-palette-interact-border-activeDisabled: var(--salt-color-blue-600-fade-fill);
  --salt-palette-interact-border-disabled: var(--tar-color-gray-05);
  --salt-palette-interact-border-hover: var(--tar-color-gray-30);
  --salt-palette-interact-border-readonly: var(--salt-color-gray-200-fade-border-readonly);
  --salt-palette-interact-foreground: var(--salt-color-gray-200);
  --salt-palette-interact-foreground-active: var(--tar-color-white);
  --salt-palette-interact-foreground-activeDisabled: var(--salt-color-blue-600-fade-foreground);
  --salt-palette-interact-foreground-disabled: var(--salt-color-gray-200-fade-foreground);
  --salt-palette-interact-foreground-hover: var(--salt-color-blue-500);
  --salt-palette-interact-outline: var(--tar-color-blue-60);

  --salt-palette-interact-cta-background: var(--tar-color-red-10);
  --salt-palette-interact-cta-background-active: var(--tar-color-red-20);
  --salt-palette-interact-cta-background-disabled: var(--tar-color-red-30);
  --salt-palette-interact-cta-background-hover: var(--tar-color-red-20);
  --salt-palette-interact-cta-foreground: var(--tar-color-white);
  --salt-palette-interact-cta-foreground-active: var(--tar-color-white);
  --salt-palette-interact-cta-foreground-disabled: var(--vuu-color-white-fade-70);
  --salt-palette-interact-cta-foreground-hover: var(--tar-color-white);

  --salt-palette-interact-primary-background: var(--tar-color-gray-40);
  --salt-palette-interact-primary-background-active: var(--tar-color-gray-30);
  --salt-palette-interact-primary-background-disabled: var(--tar-color-gray-20);
  --salt-palette-interact-primary-background-hover: var(--tar-color-gray-30);
  --salt-palette-interact-primary-foreground: var(--tar-color-white);
  --salt-palette-interact-primary-foreground-active: var(--tar-color-white);
  --salt-palette-interact-primary-foreground-disabled: var(--tar-color-gray-10);
  --salt-palette-interact-primary-foreground-hover: var(--tar-color-white);
  
  --salt-palette-interact-secondary-background: var(--tar-color-white);
  --salt-palette-interact-secondary-background-active: var(--tar-color-gray-30);
  --salt-palette-interact-secondary-background-disabled: transparent;
  --salt-palette-interact-secondary-background-hover: var(--tar-color-gray-30);
  --salt-palette-interact-secondary-foreground: var(--tar-color-gray-40);
  --salt-palette-interact-secondary-foreground-active: var(--tar-color-white);
  --salt-palette-interact-secondary-foreground-disabled: var(--tar-color-gray-20);
  --salt-palette-interact-secondary-foreground-hover: var(--tar-color-white);
}

.tar-theme[data-mode="dark"] {
  --salt-palette-interact-background: var(--tar-color-gray-70);
  --salt-palette-interact-background-active: var(--tar-color-gray-15);
  --salt-palette-interact-background-blurSelected: var(--salt-color-gray-600);
  --salt-palette-interact-background-hover: var(--tar-color-gray-70);
  --salt-palette-interact-background-disabled: transparent;
  --salt-palette-interact-background-activeDisabled: var(--salt-color-blue-700-fade-background);
  --salt-palette-interact-border: var(--tar-color-gray-28);
  --salt-palette-interact-border-active: var(--tar-color-gray-15);
  --salt-palette-interact-border-activeDisabled: var(--salt-color-blue-100-fade-fill);
  --salt-palette-interact-border-disabled: var(--tar-color-gray-65);
  --salt-palette-interact-border-hover: var(--tar-color-gray-15);
  --salt-palette-interact-border-readonly: var(--salt-color-gray-90-fade-border-readonly);
  --salt-palette-interact-foreground: var(--salt-color-gray-90);
  --salt-palette-interact-foreground-active: var(--tar-color-gray-70);
  --salt-palette-interact-foreground-activeDisabled: var(--salt-color-blue-100-fade-foreground);
  --salt-palette-interact-foreground-disabled: var(--salt-color-gray-90-fade-foreground);
  --salt-palette-interact-foreground-hover: var(--salt-color-blue-500);
  --salt-palette-interact-outline: var(--tar-color-blue-60);

  --salt-palette-interact-cta-background: var(--tar-color-red-10);
  --salt-palette-interact-cta-background-active: var(--tar-color-red-20);
  --salt-palette-interact-cta-background-disabled: var(--tar-color-red-40);
  --salt-palette-interact-cta-background-hover: var(--tar-color-red-20);
  --salt-palette-interact-cta-foreground: var(--tar-color-white);
  --salt-palette-interact-cta-foreground-active: var(--tar-color-white);
  --salt-palette-interact-cta-foreground-disabled: var(--tar-color-white-fade-foreground);
  --salt-palette-interact-cta-foreground-hover: var(--tar-color-white);

  --salt-palette-interact-primary-background: var(--tar-color-gray-20);
  --salt-palette-interact-primary-background-active: var(--tar-color-gray-10);
  --salt-palette-interact-primary-background-disabled: var(--tar-color-gray-30);
  --salt-palette-interact-primary-background-hover: var(--tar-color-gray-10);
  --salt-palette-interact-primary-foreground: var(--tar-color-gray-70);
  --salt-palette-interact-primary-foreground-active: var(--tar-color-gray-70);
  --salt-palette-interact-primary-foreground-disabled: var(--tar-color-gray-40);
  --salt-palette-interact-primary-foreground-hover: var(--tar-color-gray-70);
  
  --salt-palette-interact-secondary-background: var(--tar-color-gray-70);
  --salt-palette-interact-secondary-background-active: var(--tar-color-gray-10);
  --salt-palette-interact-secondary-background-disabled: transparent;
  --salt-palette-interact-secondary-background-hover: var(--tar-color-gray-10);
  --salt-palette-interact-secondary-foreground: var(--tar-color-gray-10);
  --salt-palette-interact-secondary-foreground-active: var(--tar-color-gray-70);
  --salt-palette-interact-secondary-foreground-disabled: var(--tar-color-gray-40);
  --salt-palette-interact-secondary-foreground-hover: var(--tar-color-gray-70);
}
