.vuuPopup {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  overflow: visible;
  z-index: 1000;
}

.vuuPopup {
  position: absolute;
}
