body {
  /* TEMP avoid the dragged item triggering scrollbars */
  overflow: hidden;
}

.ShowcaseNav {
  --vuuTree-toggle-expand: var(--vuu-svg-chevron-right);
  --vuuTree-toggle-collapse: var(--vuu-svg-chevron-right);
  --vuuTree-node-expanded-transform: rotate(90deg) translate(1px, 1px);
  --vuuTree-icon-color: var(--salt-palette-accent-background);
  --vuuTree-font-size: 12px;
}

.ShowcaseToolbar,
.ShowcaseContentToolbar {
  --saltToolbar-height: 30px;
  --saltButton-height: 28px;
  --saltButton-width: 28px;

  [data-align="end"] {
    margin-left: auto;
  }
  [data-align="end"] ~ [data-align="end"] {
    margin-left: 0;
  }
}

.ShowcaseToolbar > .Responsive-inner,
.ShowcaseContentToolbar > .Responsive-inner {
  align-items: center;
}

.ShowcaseContentToolbar {
  --saltToolbar-background: transparent;
  border-bottom: solid 1px var(--salt-container-primary-borderColor);
  flex: 0 0 auto;
}

.ShowcaseContent {
  background-color: var(--salt-container-primary-background);
  height: 100%;
  overflow: hidden;
}

.ShowCaseIFrame-container {
  height: 100%;
  width: 100%;
}

.ShowCaseIFrame {
  border: none;
  height: 100%;
  width: 100%;
}
