.VuuBlotterHeader {
    --saltToolbar-alignItems: center;
    border-bottom: solid 1px var(--salt-container-primary-borderColor);

    height: 28px;
}

.VuuBlotterHeader-CommandButton {
    --vuu-icon-size: 12px;
    --saltButton-height: 28px;
    --saltButton-width: 28px;
}
