.vuuMdxSection {
    --vuu-section-width: 100%;
    --ifm-link-hover-color: var(--vuu-accent1);
    --ifm-link-hover-decoration: none;
    --vuu-heading5-color: var(--vuu-accent1);
    display: inline-block;
    margin-bottom: 32px;
    width: var(--vuu-section-width);

}

.vuu-section-2-col-1,
.vuu-section-2-col-2 {
    --vuu-section-width: calc(50% - 16px);
}

.vuu-section-2-col-2 {
    margin-left: 32px;
}

@media (max-width: 996px){
    .vuu-section-2-col-1,
    .vuu-section-2-col-2 {
    --vuu-section-width: 100%;
    }

    .vuu-section-2-col-2 {
    margin-left: 0px;
    }

}


.vuuMdxSection-heading {
    align-items: center;
    background: linear-gradient(180deg, #2A015F 0%, #1D0041 100%);
    border-radius: 12px 12px 0 0;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.vuuMdxSection-icon {
    background-image: var(--vuu-background-image);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    height: 64px;
    width: 64px;
}

.vuuMdxSection-title {
    padding-top: 12px;
    white-space: nowrap;
}

.vuuMdxSection-subTitle {
    border-color:#C7CBDE;
    border-radius: 0 0 12px 12px;
    border-width: 1px;
    border-style: none solid solid solid; 
    font-size: 24px;
    line-height: 34px;
    padding: 20px;
}