.vuuRevolvingCaption {
    --vuu-revolving-caption-transform: translateY(0px);

    display: inline-block;
    height: var(--vuu-heading1-lineHeight);
    margin-left: 12px;
    overflow: hidden;
    position: relative;
    vertical-align: top;
}

.vuuRevolvingCaption-captionContainer {
    transform: var(--vuu-revolving-caption-transform);
    transition-property: var(--vuu-revolving-caption-transitionProperty);
    transition-duration: 1s;
    transition-timing-function: linear;;
}

.vuu-revolving-caption {
    color: var(--vuu-accent1);
    opacity: 1;
  }

  .vuu-revolving-caption-exit {
    opacity: 0;
    transition: opacity .6s linear;
}
  