
@keyframes pulse-arrow {
    0% {
      fill: rgba(255, 255, 255, 0.65);
    }
    80% {
      fill: rgba(255, 255, 255, 0.65);
      r: 4;
    }
    85% {
      fill: rgba(255, 255, 255, 1);
      r: 6;
    }
    100% {
      fill: rgba(255, 255, 255, 0.65);
      r: 4;
    }
  }

.SvgArrow {
    fill: rgba(255, 255, 255, 0.65);
}

.SvgArrow-shaft {
    animation: pulse-arrow 2s;
    animation-iteration-count: infinite;
}

.SvgArrow-shaft:nth-child(1) {
    animation-delay: 0.3s;
}
.SvgArrow-shaft:nth-child(2) {
    animation-delay: 0.4s;
}
.SvgArrow-shaft:nth-child(3) {
    animation-delay: 0.5s;
}
.SvgArrow-shaft:nth-child(4) {
    animation-delay: 0.6s;
}
.SvgArrow-shaft:nth-child(5) {
    animation-delay: 0.7s;
}

.SvgArrow-tip {
    animation: wing-fold 1s;
    animation-delay: var(--svg-delay);
    animation-fill-mode: forwards;
}
