.vuuFeature {
    --vuu-feature-animation-container-width: 0px;
    --vuu-feature-flex-basis: var(--vuu-feature-width);
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: var(--vuu-feature-flex-basis);
    overflow: hidden;
    position: relative;
    transition: flex-basis .25s ease-in-out;
}
.vuuFeature-main {
    max-width: var(--vuu-feature-width);
}

.vuuFeature-active {
    --vuu-feature-animation-container-width: 457px;
    --vuu-feature-animation-container-left: 32px;
    --vuu-feature-flex-basis: 700px;
}

.vuuFeature-minimized {
    --vuu-feature-flex-basis: auto;
    --vuu-feature-img-display: none;
    --vuu-feature-copy-display: none;
    --vuu-feature-title-transform: rotate(180deg);
    --vuu-feature-writing-mode: vertical-rl;


    align-items: flex-end;
}


.vuuFeature-heroImg-container {
    display: var(--vuu-feature-img-display, block);
    height: 100px;
    margin-bottom: 40px;
    width: 100px;
  }

  .vuuFeature-title {
    top: 30px;
    transform: var(--vuu-feature-title-transform);
    writing-mode: var(--vuu-feature-writing-mode);
  }

  .vuuFeature-copy {
    display: var(--vuu-feature-img-display, block);
  }
  
  .vuuFeature-animation-container {
    width: var(--vuu-feature-animation-container-width);
    position: relative;
    height: 100%;
    margin-left: var(--vuu-feature-animation-container-left);
  }

  .vuuFeature-animation-bg {
    background-color: white;
    border-radius: 24px;
    opacity: 0.2;
    position: absolute;
    top:0;
    left:0;
    height: calc(100% - 30px);
    width: calc(100% - 30px);

  }

  .vuuFeature-image-container {
    background-color: blue;;
    position: absolute;
    bottom:0px;
    right: 0px;
    height: calc(100% - 30px);
    width: calc(100% - 30px);

  }