.vuuTable2 {
    --vuu-svg-more-vert: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path d="M8 5.33332C8.73333 5.33332 9.33333 4.73332 9.33333 3.99999C9.33333 3.26666 8.73333 2.66666 8 2.66666C7.26667 2.66666 6.66667 3.26666 6.66667 3.99999C6.66667 4.73332 7.26667 5.33332 8 5.33332ZM8 6.66666C7.26667 6.66666 6.66667 7.26666 6.66667 7.99999C6.66667 8.73332 7.26667 9.33332 8 9.33332C8.73333 9.33332 9.33333 8.73332 9.33333 7.99999C9.33333 7.26666 8.73333 6.66666 8 6.66666ZM8 10.6667C7.26667 10.6667 6.66667 11.2667 6.66667 12C6.66667 12.7333 7.26667 13.3333 8 13.3333C8.73333 13.3333 9.33333 12.7333 9.33333 12C9.33333 11.2667 8.73333 10.6667 8 10.6667Z" /></svg>');
    

    [data-icon='more-vert'] {
        --vuu-icon-svg: var(--vuu-svg-more-vert);
      }
      
}