@import url(./icons.css);

.vuuTable2 {
  --vuu-table-header-color: #FFFFFF;
  --vuu-table-header-col-bg: #777C94;
  --vuu-table-selection-bookend-width: 4px;
  --columnResizer-height: var(--table-height);
  --table-background: var(--salt-container-primary-background);
  --vuu-table2-stripe-even: white;
  --vuu-selection-accent-color: #6D18BD;
  font-size: 12px;
  font-weight: 500;
  height: var(--table-css-height);
  background-color: red;
  position: relative;
  user-select: none;
  width: var(--table-css-width);
}

.vuuTable2-stripes {
  --vuu-table2-stripe-even: #f4f4f4;
}

.vuuTable2-scrollbarContainer {
  --scroll-content-width: 1100px;
  border-bottom: none !important;
  border-top: none !important;
  border-left: solid 1px var(--salt-container-primary-borderColor);
  /*  a top border */
  box-shadow: 0px -1px 0px 0px var(--salt-container-primary-borderColor);
  height: var(--viewport-body-height);
  left: 0px;
  overflow: auto;
  position: absolute;
  top: var(--total-header-height);
  width: calc(var(--table-width) + 1px);
}

.vuuTable2-scrollbarContent {
  height: calc(var(--content-height) + var(--horizontal-scrollbar-height));
  position: absolute;
  width: var(--content-width);
}

.vuuTable2-contentContainer {
  background-color: var(--table-background);
  height: calc(var(--table-height) - var(--horizontal-scrollbar-height));
  position: relative;
  overflow: auto;
  overscroll-behavior: none;
  width: calc(var(--table-width) - var(--vertical-scrollbar-width));
}

.vuuTable2-contentContainer::-webkit-scrollbar {
  display: none;
}

 
.vuuTable2-table {
  color: var(--salt-text-primary-foreground);
  position: absolute;
  top: 0;
  left: 0;
  table-layout: fixed;
  width: var(--content-width);
  margin: 0;
  border: none;
  background-color: #fff;
  border-collapse: separate;
  border-spacing: 0;
}

.vuuTable2-body {
  height: var(--content-height);
  position: relative;
}

.vuuTable2-cell {
  display: inline-block;
  height: 19px;
  line-height: 20px;
  padding: 0 8px;
  vertical-align: top;
}

.vuuPinLeft, .vuuPinRight {
  background-color: inherit;
  position: sticky;
  z-index: 1;
}

.vuuTable2-col-headings {
    background-color: var(--table-background);
    padding: 0 var(--vuu-table-selection-bookend-width, 0);
    position: sticky;
    top: 0;
    /* ensure header row sits atop everything else when scrolling down */
    z-index: 1;
}

  .vuuTable2-col-headers {
    background-color: var(--table-background);
    white-space: nowrap;
  }

  .vuuTable2-col-group-header,
    .vuuTable2-col-header {
      --columnResizer-color: #trabsparent;

    /* border-right: 1px solid #999; */
    /* --columnResizer-color: red; */
    border-bottom: 1px solid #ccc;
    box-sizing: border-box;
    cursor: default;
    display: inline-flex;
    gap: 3px;
    height: var(--header-height);
    /* padding: 0 3px; */
  }

  .vuuTable2-col-header .vuuColumnResizer:hover {
    --columnResizer-color: #6D18BD;
}


  /* .vuuTable2-col-header.vuuPinLeft:after {
    border-top: solid 1px red;
    border-radius: 6px 0 0 0;
    content: '';
    position: absolute;
    height: 12px;
    top:0px;
    left:0px;
    right: 6px;
    background-color: transparent;
} */

.vuuTable2-col-header.vuuPinLeft.vuuEndPin .vuuColumnResizer:before {
    --height: calc(var(--columnResizer-height) - 15px);
    --inset-r: calc(var(--pin-width) - 2px);
    --inset-b: calc(var(--height) - 2px);
    --clip-path: polygon(
      0% 0%,                              
      0% 120%,                            
      2px 120%,    
      2px 2px,      
      var(--inset-r) 2px,      
      var(--inset-r) var(--inset-b),      
      2px var(--inset-b),      
      2px 120%,     
      120% 120%,    
      120% 0%       
    );
    background-color: transparent;
    border-color: #A9AAAD;
    border-width: 1px;
    border-style: solid solid solid solid;
    /* border-radius: 0 6px 6px 0; */
    border-radius: 4px;
    box-shadow: 2px 1px 4px 0px rgba(0, 0, 0, 0.10);
    /* clip-path: inset(10px 10px 10px 10px); */
    clip-path: var(--clip-path);
    content: '';
    position: absolute;
    width: var(--pin-width);
    top:0;
    bottom:0;
    right: -1px;
    height: var(--height);
    z-index: -5;
}

.vuuTable2-col-header.vuuPinRight.vuuEndPin .vuuColumnResizer:before {
  --height: calc(var(--columnResizer-height) - 15px);
  --inset-r: calc(var(--pin-width) - 2px);
  --inset-b: calc(var(--height) - 2px);
  --clip-path: polygon(
    -20% 0%,                              
    -20% 120%,                            
    2px 120%,    
    2px 2px,      
    var(--inset-r) 2px,      
    var(--inset-r) var(--inset-b),      
    2px var(--inset-b),      
    2px 120%,     
    120% 120%,    
    120% 0%       
  );
  background-color: transparent;
  border-color: #A9AAAD;
  border-width: 1px;
  border-style: solid solid solid solid;
  /* border-radius: 0 6px 6px 0; */
  border-radius: 4px;
  box-shadow: -2px 1px 4px 0px rgba(0, 0, 0, 0.10);
  /* clip-path: inset(10px 10px 10px 10px); */
  clip-path: var(--clip-path);
  content: '';
  position: absolute;
  width: var(--pin-width);
  top:0;
  bottom:0;
  right: 0px;
  height: var(--height);
  z-index: -5;
}

  .vuuTable2-col-group-header {
    align-items: center;
    vertical-align: top;
  }

  .vuuTable2-col-group-header-inner {
    align-items: center;
    display: flex;
    gap: 3px;
    height: 100%;
    padding-left: 1px;
  }

  .vuuTable2-col-group-header-col {
    --vuu-icon-color: white;
    --vuu-icon-size: 10px;

    align-items: center;
    background-color: var(--vuu-table-header-col-bg);
    border-radius: 3px;;
    color: var(--vuu-table-header-color);
    display: flex;
    font-size: 11px;
    gap: 6px;
    height: 17px;
    padding: 0 3px;
  }

  .vuuTable2-col-header-label {
    line-height: calc(var(--header-height) - 1px);
  }

  .vuuTable2Row {
    background-color: #fff;
    border-bottom: 1px solid #EDEDED;
    box-sizing: border-box;
    height: var(--row-height);
    line-height: calc(var(--row-height) - 1px);
    position: absolute;
    top:0;
    white-space: nowrap;
  }

  .vuuTable2Row-even {
    background-color: var(--vuu-table2-stripe-even);
  }

  .vuuTable2Row-selected,
  .vuuTable2Row-selectedEnd {
    /* background-color: rgb(133,133,137,.16); */
    background-color: rgb(235,235,236);
  }

  .vuuTable2-stripes .vuuTable2Row-even.vuuTable2Row-selected {
    background-color: rgb(226,226,227);
  }
  
  .vuuTable2Row-selectedStart {
    --vuu-selection-decorator-left-radius: 5px 0 0 0;
    --vuu-selection-decorator-right-radius: 0 5px 0 0;
    border-radius: 5px 5px 0 0;
  }

  .vuuTable2Row-selectedEnd {
    --vuu-selection-decorator-left-radius: 0 0 0 5px;
    --vuu-selection-decorator-right-radius: 0 0 5px 0;
    border-radius: 0 0 5px 5px;
  }

  .vuuTable2Row-selectedStart.vuuTable2Row-selectedEnd {
    --vuu-selection-decorator-left-radius: 5px 0 0 5px;
    --vuu-selection-decorator-right-radius: 0 5px 5px 0;
    border-radius: 5px 5px 5px 5px;

  }

  .vuuTable2Row-selectedStart:after {
    content: '';
    position: absolute;
    top:0;
    left: 4px;
    height: 1px;
    background-color: #6D18BD;
    width: var(--content-width);
    z-index: 1;
  }


  /* .vuuTable2Row-preSelected, */
  .vuuTable2Row-selectedEnd {
    border-bottom-color: #6D18BD;
  }

 
  .vuuTable2Row-expanded {
    --row-toggle-icon-transform: rotate(90deg);
  }
    
  .vuuTable2-groupCell {
    --group-cell-spacer-width: 20px;
    --toggle-icon-transform: var(--row-toggle-icon-transform, none);
    --vuu-icon-width: 8px;
    --vuu-icon-height: 16px;
    --vuu-icon-color: #777C94;
    --vuu-icon-size: 16px;

    align-items: center;
    display: inline-flex;
    vertical-align: top;
}

  .vuuTable2-groupCell-spacer {
    width: var(--group-cell-spacer-width);
  }


.vuuTable2-groupCell-toggle {
    transition: transform 0.25s;
    transform: var(--row-toggle-icon-transform, none);
}
