.vuuTable2 {
  --vuu-table-header-color: #FFFFFF;
  --vuu-table-header-col-bg: #777C94;
  --table-background: var(--salt-container-primary-background);
  font-size: 12px;
  font-weight: 500;
  height: var(--table-css-height);
  background-color: red;
  position: relative;
  user-select: none;
  width: var(--table-css-width);
}

.vuuTable2-stripes {
  --vuu-table2-stripe-even: #f4f4f4;
}

.vuuTable2-scrollbarContainer {
  --scroll-content-width: 1100px;
  border-bottom: none !important;
  border-top: none !important;
  border-left: solid 1px var(--salt-container-primary-borderColor);
  /*  a top border */
  box-shadow: 0px -1px 0px 0px var(--salt-container-primary-borderColor);
  height: var(--viewport-body-height);
  left: 0px;
  overflow: auto;
  position: absolute;
  top: var(--total-header-height);
  width: calc(var(--table-width) + 1px);
}

.vuuTable2-scrollbarContent {
  height: calc(var(--content-height) + var(--horizontal-scrollbar-height));
  position: absolute;
  width: var(--content-width);
}

.vuuTable2-contentContainer {
  background-color: var(--table-background);
  height: calc(var(--table-height) - var(--horizontal-scrollbar-height));
  position: relative;
  overflow: auto;
  overscroll-behavior: none;
  width: calc(var(--table-width) - var(--vertical-scrollbar-width));
}

.vuuTable2-contentContainer::-webkit-scrollbar {
  display: none;
}

 
.vuuTable2-table {
  color: var(--salt-text-primary-foreground);
  position: absolute;
  top: 0;
  left: 0;
  table-layout: fixed;
  width: var(--content-width);
  margin: 0;
  border: none;
  background-color: #fff;
  border-collapse: separate;
  border-spacing: 0;
  border-left: 1px solid #ccc;
}

.vuuTable2-body {
  height: var(--content-height);
  position: relative;
}

.vuuTable2-cell {
  display: inline-block;
  height: 19px;
  line-height: 20px;
  padding: 0 8px;
}

.vuuPinLeft, .vuuPinRight {
  background-color: inherit;
  position: sticky;
  z-index: 1;
}

.vuuTable2-col-headings {
    background-color: var(--table-background);
    position: sticky;
    top: 0;
    /* ensure header row sits atop everything else when scrolling down */
    z-index: 1;
}

  .vuuTable2-col-headers {
    background-color: var(--table-background);
    white-space: nowrap;
  }

  .vuuTable2-col-group-header,
    .vuuTable2-col-header {
    /* border-right: 1px solid #999; */
    border-bottom: 1px solid #ccc;
    box-sizing: border-box;
    cursor: default;
    display: inline-flex;
    height: var(--header-height);
    padding: 0 3px;
  }

  .vuuTable2-col-header.vuuPinLeft {
    border-color: #A9AAAD;
    border-width: 1px;
    border-style: solid solid none solid;
    border-radius: 7px 7px 0 0; 
    box-shadow: 2px 1px 4px rgba(0, 0, 0, 0.1);
  }

  .vuuTable2-cell.vuuPinLeft {
    box-shadow: 2px 1px 4px rgba(0, 0, 0, 0.1);
  }

  .vuuTable2-cell.vuuPinLeft:before {
    background: #A9AAAD;
    content: '';
    height: 20px;
    position: absolute;
    top: 0px;
    left:0;
    width: 1px;
  }

  .vuuTable2-cell.vuuPinLeft:after {
    background: #A9AAAD;
    content: '';
    height: 20px;
    position: absolute;
    top: 0px;
    right:0;
    width: 1px;
  }

  .vuuTable2-col-group-header {
    align-items: center;
    vertical-align: top;
  }

  .vuuTable2-col-group-header-inner {
    align-items: center;
    display: flex;
    gap: 3px;
    height: 100%;
    padding-left: 1px;
  }

  .vuuTable2-col-group-header-col {
    --vuu-icon-color: white;
    --vuu-icon-size: 10px;

    align-items: center;
    background-color: var(--vuu-table-header-col-bg);
    border-radius: 3px;;
    color: var(--vuu-table-header-color);
    display: flex;
    font-size: 11px;
    gap: 6px;
    height: 17px;
    padding: 0 3px;
  }

  .vuuTable2-col-header-label {
    line-height: calc(var(--header-height) - 1px);
  }

  .vuuTable2Row {
    background: #fff;
    border-right: 1px solid white;
    border-bottom: 1px solid #EDEDED;
    box-sizing: border-box;
    height: var(--row-height);
    line-height: calc(var(--row-height) - 1px);
    position: absolute;
    top:0;
    white-space: nowrap;
  }

  .vuuTable2Row-even {
    background-color: var(--vuu-table2-stripe-even);
  }

  .vuuTable2Row-selected,
  .vuuTable2Row-selectedEnd {
    /* background-color: rgb(133,133,137,.16); */
    background-color: rgb(235,235,236);
  }

  .vuuTable2-stripes .vuuTable2Row-even.vuuTable2Row-selected {
    background-color: rgb(226,226,227);
  }
  
  .vuuTable2Row-selectedStart {
    border-radius: 5px 5px 0 0;
  }
  .vuuTable2Row-selectedEnd {
    border-radius: 0 0 5px 5px;
  }

  .vuuTable2Row-selected .vuuPinLeft:before,
  .vuuTable2Row-selectedEnd:before,
  .vuuTable2Row-selected:before {
    background: #6D18BD;
    content: '';
    height: 20px;
    position: absolute;
    top: 0px;
    left:0;
    width: 4px;
  }

  .vuuTable2Row-selectedEnd:after,
  .vuuTable2Row-selected:after {
    background: #6D18BD;
    content: '';
    height: 20px;
    position: absolute;
    top:0px;
    right: -1px;
    width: 4px;
  }

.vuuTable2Row-selectedEnd:before {
  border-radius: 0 0 0 5px;
}
.vuuTable2Row-selectedEnd:after {
  border-radius: 0 0 5px 0;
}

  .vuuTable2Row-preSelected,
  .vuuTable2Row-selectedEnd {
    border-bottom-color: #6D18BD;
  }

 
  .vuuTable2Row-expanded {
    --row-toggle-icon-transform: rotate(90deg);
  }
    
  .vuuTable2-groupCell {
    --group-cell-spacer-width: 20px;
    --toggle-icon-transform: var(--row-toggle-icon-transform, none);
    --vuu-icon-width: 8px;
    --vuu-icon-height: 16px;
    --vuu-icon-color: #777C94;
    --vuu-icon-size: 16px;

    align-items: center;
    display: inline-flex;
    vertical-align: top;
}

  .vuuTable2-groupCell-spacer {
    width: var(--group-cell-spacer-width);
  }


.vuuTable2-groupCell-toggle {
    transition: transform 0.25s;
    transform: var(--row-toggle-icon-transform, none);
}
