.vuuTable2-selectionDecorator {
    background-color: var(--vuu-selection-decorator-bg, transparent);
    display: inline-block;
    position: relative;
    height: 20px;
    width: 4px;
    z-index: 2;
  }

  .vuuTable2-selectionDecorator.vuuStickyLeft {
    left:0;
    position: sticky;
  }

  .vuuTable2-selectionDecorator.vuuStickyRight {
    right:0;
    position: sticky;
  }

  .vuuTable2Row-selected {
    --vuu-selection-decorator-bg: var(--vuu-selection-accent-color);

  }
  
  .vuuTable2Row-selectedStart {
    --vuu-selection-decorator-bg: white;
  }
  
  .vuuTable2Row-selectedEnd {
    --vuu-selection-decorator-bg: white;
  }

  .vuuTable2Row-selectedStart.vuuTable2Row-selectedEnd {

  }

  .vuuTable2Row-selectedStart .vuuTable2-selectionDecorator:before,
  .vuuTable2Row-selectedEnd .vuuTable2-selectionDecorator:before {
    content: '';
    inset: 0;
    position: absolute;
    background-color: var(--vuu-selection-accent-color);
  }


  .vuuTable2-selectionDecorator.vuuStickyLeft:before {
    border-radius: var(--vuu-selection-decorator-left-radius, 0);
  }

  .vuuTable2-selectionDecorator.vuuStickyRight:before {
    border-radius: var(--vuu-selection-decorator-right-radius, 0);
  }