.vuuContextPanel {
  position: relative;
  transition: width 0.3s ease-in-out;
  width: var(--vuu-side-panel-width, 0px) !important;
  z-index: 1;
}

.vuuContextPanel-expanded {
  --vuu-side-panel-width: var(--vuuContextPanel-width, 300px) !important;
  --vuu-side-panel-shadow: -4px 4px 4px rgba(0, 0, 0, 0.1);
  --vuu-side-panel-padding: var(--vuuContextPanel-padding, 24px);
}

.vuuContextPanel-overlay {
  width: 0px !important;
}

.vuuContextPanel-inner {
  background-color: var(--salt-container-primary-background);
  box-shadow: var(--vuu-side-panel-shadow, none);
  display: flex;
  flex-direction: column;
  height: 100%;
  min-width: 0 !important;
  overflow: auto;
  padding-bottom: 24px;
  padding-top: 24px;
  padding: var(--vuu-side-panel-padding);
  position: absolute !important;
  right: 0;
  top: 0;
  transition-property: padding-left, padding-right, width;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  width: var(--vuu-side-panel-width, 0px);
}

.vuuContextPanel-header {
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
  flex: 0 0 27px !important;
  height: var(--vuuContextPanel-header-height, 48px);
  justify-content: space-between;
}

.vuuContextPanel-title {
  font-size: 20px;
  font-weight: 700;
  white-space: nowrap;
}

.vuuContextPanel-content {
  flex: 1 1 auto;
  width: 100%;
}
