.vuuFreezeControl {
  display: inline-flex;
  --freeze-control-flash-duration: 0.25s;
  --freeze-control-active-button-color: var(--salt-palette-error-background);
  --freeze-control-badge-color: var(--salt-palette-success-background);

  .vuuFreezeControl-buttonRow {
    background-color: var(--salt-container-secondary-background);
    border: 1px solid var(--salt-container-secondary-borderColor);
    border-radius: 50px;
    display: flex;
    height: var(--salt-size-base);
    overflow: hidden;
    white-space: nowrap;
  }

  .vuuFreezeControl-buttonWrapper {
    border-radius: 50px;
    padding: 0 var(--salt-spacing-150);
    background-color: var(--salt-container-secondary-background);
  }

  .vuuFreezeControl-buttonWrapper-active {
    background-color: var(--freeze-control-active-button-color);
  }

  .vuuFreezeControl-buttonWrapper-active .saltToggleButton {
    background-color: var(--freeze-control-active-button-color);
    color: var(--salt-actionable-secondary-foreground-active);
  }

  .saltToggleButtonGroup.vuuStateButtonGroup {
    background-color: var(--salt-container-secondary-background);
  }

  .saltToggleButtonGroup.vuuStateButtonGroup .saltToggleButton {
    background-color: transparent;
  }

  .vuuFreezeControl-customBadge {
    background-color: transparent;
    border-radius: 50%;
    color: var(--salt-text-primary-foreground);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--salt-text-fontSize);
    font-weight: bold;
    height: var(--salt-size-base);
    width: var(--salt-size-base);
    min-width: var(--salt-size-base);
    margin-left: var(--salt-spacing-100);
    position: relative;
    line-height: 1;
    overflow: visible;
  }

  .vuuFreezeControl-newOrders {
    align-items: center;
    background-color: var(--salt-container-secondary-background);
    display: flex;
    font-size: var(--salt-text-fontSize);
    padding: 0 var(--salt-spacing-200);
  }
}

.vuuFreezeControl-customBadge-flashing {
  animation: flashGreenRed var(--freeze-control-flash-duration, 0.25s)
    steps(1, end) infinite;
}

.vuuFreezeControl-customBadge[data-overflow="true"] {
  padding-right: 0.2em;
}

.vuuFreezeControl-plus {
  font-size: 0.8em;
  line-height: 1;
  position: absolute;
  top: 0.1em;
  right: -0.05em;
  font-weight: bold;
  color: inherit;
  pointer-events: none;
}

@keyframes flashGreenRed {
  0% {
    background-color: var(--freeze-control-badge-color);
  }
  50% {
    background-color: transparent;
  }
  100% {
    background-color: var(--freeze-control-badge-color);
  }
}
