.FreezeControl {
  display: inline-flex;

  .FreezeControl-buttonRow {
    background-color: var(--salt-container-secondary-background);
    border: 1px solid var(--salt-container-secondary-borderColor);
    border-radius: 50px;
    display: flex;
    height: var(--salt-size-base);
    overflow: hidden;
  }

  .FreezeControl-buttonWrapper {
    border-radius: 50px;
    padding: 0 var(--salt-spacing-150);
  }

  .FreezeControl-buttonWrapper-active {
    background-color: var(--salt-actionable-secondary-background-active);
  }

  .saltToggleButtonGroup.vuuStateButtonGroup
    .saltToggleButton[aria-pressed="true"] {
    background-color: transparent;
  }

  .FreezeControl-customBadge {
    background-color: var(--salt-container-primary-background);
    border-radius: 50%;
    color: var(--salt-text-primary-foreground);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--salt-text-fontSize);
    font-weight: bold;
    height: var(--salt-size-base);
    width: var(--salt-size-base);
    min-width: var(--salt-size-base);
    margin-left: var(--salt-spacing-100);
  }

  .FreezeControl-newOrders {
    align-items: center;
    background-color: transparent;
    display: flex;
    font-size: var(--salt-text-fontSize);
    padding: 0 var(--salt-spacing-200);
  }
}

.FreezeControl-customBadge-flashing {
  animation: flashGreenRed 1s steps(1, end) infinite;
}

@keyframes flashGreenRed {
  0% {
    background-color: var(--salt-status-success-background);
  }
  50% {
    background-color: var(--salt-container-primary-background);
  }
  100% {
    background-color: var(--salt-status-success-background);
  }
}
