.FrozenBanner {
  --freeze-control-active-button-color: var(--salt-palette-error-background);
  align-items: center;
  background-color: var(--freeze-control-active-button-color);
  border-radius: 4px;
  color: var(--salt-actionable-secondary-foreground-active);
  display: flex;
  font-size: var(--salt-text-fontSize);
  height: var(--salt-size-base);
  padding: 0 var(--salt-spacing-200);
}
