.vuuTableNext td:has(> .vuuBackgroundCell){
  padding: 0;
  text-align: right;
} 

.vuuBackgroundCell {
  color: var(--background-cell-color);
  padding-right: var(--salt-size-unit);
  position: relative;
  z-index: -1;
}

.vuuBackgroundCell-flasher {
  background-color: var(--background-cell-background);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.vuuBackgroundCell-flasher {
  text-align: left;
}
.vuuBackgroundCell-flasher + .num {
  padding-left: 8px;
}

.right .vuuBackgroundCell-flasher {
  text-align: right;
}
.right .vuuBackgroundCell-flasher + .num {
  padding-right: 8px;
}

.vuuBackgroundCell-arrowOnly > .vuuBackgroundCell-flasher {
  background-color: transparent;
}

.vuuBackgroundCell-backgroundOnly.up1,
.vuuBackgroundCell-backgroundArrow.up1 {
  animation-duration: 30s;
  animation-name: reactbgup1;
}

.vuuBackgroundCell-backgroundOnly.up2,
.vuuBackgroundCell-backgroundArrow.up2 {
  animation-duration: 30s;
  animation-name: reactbgup2;
}

.vuuBackgroundCell-backgroundOnly.down1,
.vuuBackgroundCell-backgroundArrow.down1 {
  animation-duration: 30s;
  animation-name: reactbgdown1;
}

.vuuBackgroundCell-backgroundOnly.down2,
.vuuBackgroundCell-backgroundArrow.down2 {
  animation-duration: 30s;
  animation-name: reactbgdown2;
}

.up1.vuuBackgroundCell-arrowOnly > .vuuBackgroundCell-flasher {
  animation-duration: 30s;
  animation-name: reactarrowup1;
}

.up2.vuuBackgroundCell-arrowOnly > .vuuBackgroundCell-flasher {
  animation-duration: 30s;
  animation-name: reactarrowup2;
}

.down1.vuuBackgroundCell-arrowOnly > .vuuBackgroundCell-flasher {
  animation-duration: 30s;
  animation-name: reactarrowdown1;
}

.down2.vuuBackgroundCell-arrowOnly > .vuuBackgroundCell-flasher {
  animation-duration: 30s;
  animation-name: reactarrowdown2;
}

.up1.vuuBackgroundCell-arrowBackground > .vuuBackgroundCell-flasher {
  animation-duration: 30s;
  animation-name: reactbgarrowup1;
}

.up2.vuuBackgroundCell-arrowBackground > .vuuBackgroundCell-flasher {
  animation-duration: 30s;
  animation-name: reactbgarrowup2;
}

.down1.vuuBackgroundCell-arrowBackground > .vuuBackgroundCell-flasher {
  animation-duration: 30s;
  animation-name: reactbgarrowdown1;
}

.down2.vuuBackgroundCell-arrowBackground > .vuuBackgroundCell-flasher {
  animation-duration: 30s;
  animation-name: reactbgarrowdown2;
}
