/* @property --background-cell-background {
  syntax: '<color>'; 
  initial-value: transparent;
  inherits: false;
} */

/* @property color {
  syntax: '<color>'; 
  initial-value: #15171B;
  inherits: false;
} */

@keyframes reactbgup1 {
    from {
      background-color: var(--vuu-color-green-50);
      color: white;
    }
    to {
      background-color: transparent;
      color: var(--vuu-color-gray-80);

    }
  }
  
  @keyframes reactbgup2 {
    from {
      background-color: var(--vuu-color-green-50);
      color: #ffffff;
    }
    to {
      background-color: transparent;
      color: var(--vuu-color-gray-80);
    }
  }
  
  @keyframes reactbgdown1 {
    from {
      background-color: var(--vuu-color-red-50);
      color: white;
    }
    to {
      background-color: transparent;
      color: var(--vuu-color-gray-80);
    }
  }
  
  @keyframes reactbgdown2 {
    from {
      background-color: var(--vuu-color-red-50);
      color: white;
    }
    to {
      background-color: transparent;
      color: var(--vuu-color-gray-80);
    }
  }
  
  @keyframes reactarrowup1 {
    from {
      color: var(--salt-differential-positive-foreground);
    }
    to {
      color: transparent;
    }
  }
  
  @keyframes reactarrowup2 {
    from {
      color: var(--salt-differential-positive-foreground);
    }
    to {
      color: transparent;
    }
  }
  
  @keyframes reactarrowdown1 {
    from {
      color: var(--salt-differential-negative-foreground);
    }
    to {
      color: transparent;
    }
  }
  
  @keyframes reactarrowdown2 {
    from {
      color: var(--salt-differential-negative-foreground);
    }
    to {
      color: transparent;
    }
  }
  
  @keyframes reactbgarrowup1 {
    0% {
      color: var(--salt-differential-positive-foreground);
      background-color: var(--vuu-color-green-50);
    }
    20% {
      color: var(--salt-differential-positive-foreground);
      background-color: transparent;
    }
    100% {
      color: transparent;
      background-color: transparent;
    }
  }
  
  @keyframes reactbgarrowup2 {
    0% {
      color: var(--salt-differential-positive-foreground);
      background-color: var(--vuu-color-green-50);
    }
    20% {
      color: var(--salt-differential-positive-foreground);
      background-color: transparent;
    }
    100% {
      color: transparent;
      background-color: transparent;
    }
  }
  
  @keyframes reactbgarrowdown1 {
    0% {
      color: var(--salt-differential-negative-foreground);
      background-color: var(--vuu-color-red-50);
    }
    20% {
      color: var(--salt-differential-negative-foreground);
      background-color: transparent;
    }
    100% {
      color: transparent;
      background-color: transparent;
    }
  }
  
  @keyframes reactbgarrowdown2 {
    0% {
      color: var(--salt-differential-negative-foreground);
      background-color: var(--vuu-color-red-50);
    }
    20% {
      color: var(--salt-differential-negative-foreground);
      background-color: transparent;
    }
    100% {
      color: transparent;
      background-color: transparent;
    }
  }
  