.vuuPopupMenu {
    --saltButton-height: 24px;
    --saltButton-width: 24px;
    --vuu-icon-color: var(--vuuPopupMenu-iconColor,#606477);
    --vuu-icon-height: 20px;
    --vuu-icon-left: 2px;
    --vuu-icon-size: 16px;
    --vuu-icon-top: 2px;
    --vuu-icon-width: 20px;

    background: var(--vuuPopupMenu-background, transparent);
    border: var(--vuuPopupMenu-border, none);
    border-radius: var(--vuuPopupMenu-borderRadius, 4px);
    cursor: pointer;
    display: inline-block;
    margin-top: 2px;
    padding: 2px;
}

.vuuPopupMenu:hover {
    /* --vuu-icon-color: #15171B; */
    --vuu-icon-color: var(--saltButton-text-color-hover);
}

.vuuPopupMenu-open {
    --saltButton-background: var(--salt-actionable-secondary-background-active);
    --vuu-icon-color: white;
}

/* temp references to theme until new theme fully incorporated */
.vuu-theme .vuuPopupMenu:hover {
    --saltButton-background-hover: #F37880;
}

.vuu-theme .vuuPopupMenu-open {
    --saltButton-background: #6D18BD;
}

.vuuPopupMenu-withCaption {
    --vuu-icon-left: calc(100% - 24px); 
    --vuu-icon-size: 20px;
    --saltButton-width: auto;
    padding: 0 28px 0 8px;
}