.vuuInlineFilter {
  --filter-borderColor: var(--salt-separable-secondary-borderColor);
  --filter-color: var(--salt-content-primary-foreground-disabled);
  --filter-padding: 1px 1px 1px 0;
  --item-content-height: 20px;
  height: var(--salt-size-base);

  .vuuInlineFilterCell {
    /* the padding ensures the outline is not clipped */
    --saltInput-paddingLeft: 2px;
    --filter-padding: 0 2px;
  }

  .vuuInlineFilterCell:has(input:focus) {
    --filter-borderColor: transparent;

    outline-width: 2px;
    outline-offset: -2px;
    outline-style: dotted;
    outline-color: var(--salt-focused-outlineColor);

    .saltInput-input {
      outline: none;
    }
    .saltInput-focused {
      border: none;
      outline: none;
    }

    .saltComboBox-focused {
      outline: none;
    }
  }

  .vuuInlineFilterCell:focus {
    --filter-borderColor: transparent;
  }

  .vuuInlineFilterCell {
    --saltInput-minHeight: var(--item-content-height);
    --saltPillInput-minHeight: var(--item-content-height);
    align-items: center;
    display: inline-flex;
    height: 100%;
    padding: var(--filter-padding);

    .vuuTypeaheadInput {
      border-style: solid;
      border-color: var(--filter-borderColor);
      border-width: 1px;
      border-radius: 0;
      height: var(--item-content-height);
      input::placeholder {
        color: var(--filter-color);
      }

      .saltButton:after {
        --vuu-icon-size: 6px;
      }
    }

    .saltInput-primary.vuuInput {
      border-style: solid;
      border-color: var(--filter-borderColor);
      border-width: 1px;
      border-radius: 0;
      height: var(--item-content-height);
      min-height: var(--item-content-height);
      input::placeholder {
        color: var(--filter-color);
      }
    }

  }

  .vuuInlineFilter-virtualColSpan {
    display: inline-block;
  }
}

.vuuInlineFilter:focus-within {
  --filter-borderColor: var(--salt-separable-primary-borderColor);
  --filter-color: var(--salt-content-primary-foreground);
}
