.vuuSplitter {
  --splitter-background: var(--salt-separable-secondary-borderColor);
  --splitter-borderColor: var(--salt-separable-secondary-borderColor);
  --splitter-borderStyle: none;
  --splitter-borderWidth: 0;
  --splitter-size: 3px;

  align-items: center;
  background-color: var(--splitter-background);
  border-color: var(--splitter-borderColor);
  border-style: var(--splitter-borderStyle);
  border-width: var(--splitter-borderWidth);
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  position: relative;
  outline: none;
  z-index: 1;
}

.vuuSplitter:hover {
  --splitter-background: var(--salt-separable-primary-borderColor);
}

.vuuSplitter-active {
  --splitter-background: var(--salt-separable-primary-borderColor);
}

.vuuSplitter-column {
  cursor: ns-resize;
  height: var(--splitter-size);
}

.vuuSplitter:not(.vuuSplitter-column) {
  cursor: ew-resize;
  width: var(--splitter-size);
}

.vuuSplitter:before {
  border: none;
  border-radius: 0;
  content: '';
  display: block;
  padding: 0;
}

.vuuSplitter-grab-zone {
  position: absolute;
  background-color: rgba(255, 0, 0, 0.01);
  cursor: inherit;
}

.vuuSplitter-column .vuuSplitter-grab-zone {
  left: 0;
  right: 0;
  top: -5px;
  bottom: -5px;
}

.vuuSplitter:not(.vuuSplitter-column) .vuuSplitter-grab-zone {
  left: -5px;
  right: -5px;
  top: 0;
  bottom: 0;
}

.vuuSplitter-active:not(.vuuSplitter-column) .vuuSplitter-grab-zone {
  background-color: rgba(255,255,255,.05);
  left: -150px;
  right: -150px;
}


.vuuSplitter:not(.vuuSplitter-column):before {
  width: 1px;
  height: 10px;
  background: linear-gradient(
    to bottom,
    var(--grey900) 10%,
    transparent 10%,
    transparent 30%,
    var(--grey900) 30%,
    var(--grey900) 40%,
    transparent 40%,
    transparent 60%,
    var(--grey900) 60%,
    var(--grey900) 70%,
    transparent 70%,
    transparent 90%,
    var(--grey900) 90%
  );
}

.vuuSplitter-active.vuuSplitter-column:before {
  background: linear-gradient(
    to right,
    #ffffff 10%,
    transparent 10%,
    transparent 30%,
    #ffffff 30%,
    #ffffff 40%,
    transparent 40%,
    transparent 60%,
    #ffffff 60%,
    #ffffff 70%,
    transparent 70%,
    transparent 90%,
    #ffffff 90%
  );
}

.vuuSplitter-active:not(.vuuSplitter-column):before {
  background: linear-gradient(
    to bottom,
    #ffffff 10%,
    transparent 10%,
    transparent 30%,
    #ffffff 30%,
    #ffffff 40%,
    transparent 40%,
    transparent 60%,
    #ffffff 60%,
    #ffffff 70%,
    transparent 70%,
    transparent 90%,
    #ffffff 90%
  );
}

.vuuSplitter-column:before {
  width: 10px;
  height: 1px;
  background: linear-gradient(
    to right,
    var(--grey900) 10%,
    transparent 10%,
    transparent 30%,
    var(--grey900) 30%,
    var(--grey900) 40%,
    transparent 40%,
    transparent 60%,
    var(--grey900) 60%,
    var(--grey900) 70%,
    transparent 70%,
    transparent 90%,
    var(--grey900) 90%
  );
}
