.vuuSplitter {
  --splitter-background: var(--salt-separable-secondary-borderColor);
  --splitter-borderColor: var(--salt-separable-secondary-borderColor);
  --splitter-borderStyle: none;
  --splitter-borderWidth: 0;
  --splitter-size: 3px;

  align-items: center;
  background-color: var(--splitter-background);
  border-color: var(--splitter-borderColor);
  border-style: var(--splitter-borderStyle);
  border-width: var(--splitter-borderWidth);
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  position: relative;
  outline: none;
  z-index: 1;
}

.vuuSplitter:hover {
  --splitter-background: var(--salt-separable-primary-borderColor);
}

.vuuSplitter-active {
  --splitter-background: var(--salt-separable-primary-borderColor);
}

.vuuSplitter-column {
  cursor: ns-resize;
  height: var(--splitter-size);
}

.vuuSplitter:not(.vuuSplitter-column) {
  cursor: ew-resize;
  width: var(--splitter-size);
}

.vuuSplitter-grab-zone {
  position: absolute;
  background-color: rgba(255, 0, 0, 0.01);
  cursor: inherit;
}

.vuuSplitter-column .vuuSplitter-grab-zone {
  left: 0;
  right: 0;
  top: -5px;
  bottom: -5px;
}

.vuuSplitter:not(.vuuSplitter-column) .vuuSplitter-grab-zone {
  left: -5px;
  right: -5px;
  top: 0;
  bottom: 0;
}

.vuuSplitter-active:not(.vuuSplitter-column) .vuuSplitter-grab-zone {
  background-color: rgba(255, 255, 255, 0.05);
  left: -150px;
  right: -150px;
}



