.hwDialog {
  --dialog-border: var(--hw-dialog-border, solid 1px #ccc);
  --dialog-padding: var(--hw-dialog-padding, 0);
  --dialog-shadow: var(--hw-dialog-shadow, none);

  border: var(--dialog-border);
  margin: var(--hwDialog-margin, auto auto);
  padding: var(--dialog-padding);
  box-shadow: var(--dialog-shadow);
}

.hwDialog::backdrop {
  background-color: var(--hw-dialog-backdrop);
}
