.vuuAppHeader {
  --saltButton-borderRadius: 6px;
  --saltButton-text-color: var(--vuu-color-gray-50);
  --saltButton-padding: 12px;
  --vuuToolbarItem-height: 26px;
  --vuuOverflowContainer-gap: 8px;
  --vuuOverflowContainer-height: var(--vuuAppHeader-height, 42px);
  --vuu-icon-color: var(--vuu-color-gray-45);
  --vuu-icon-size: 16px;
  --vuuToolbar-borderWidth: 1px;
  --vuuToolbar-borderStyle: solid;
  --vuuToolbar-borderColor: var(--salt-separable-primary-borderColor);

  align-items: center;
  display: flex;
  justify-content: flex-end;
}

