.vuuFilterTableFeature {
  --vuuDatasourceStats-gap: var(--salt-spacing-200);
  min-height: 100px;
}

.vuuFilterTableFeature-footer {
  --vuuToolbarProxy-height: auto;
  background: var(--salt-container-primary-background);
  border-top: var(--salt-container-primary-borderColor) solid 1px;
}
