.composite-control {
  display: flex;
  align-items: stretch;
  width: 100%;
  height: 100%;
}

.composite-control .composite-item {
  flex: 1 1 0px;
  position: relative;
}

.composite-control .composite-item:not(:first-child) {
  border-left: solid 1px var(--border-color);
}
