.vuuTable td:has(> .vuuBackgroundCellDeprecated){
  padding: 0;
  text-align: right;
} 

.vuuBackgroundCellDeprecated {
  padding-right: var(--salt-size-unit);
  position: relative;
  z-index: -1;
}

.vuuBackgroundCellDeprecated-flasher {
  color: transparent;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.vuuBackgroundCellDeprecated-flasher {
  text-align: left;
}
.vuuBackgroundCellDeprecated-flasher + .num {
  padding-left: 8px;
}

.right .vuuBackgroundCellDeprecated-flasher {
  text-align: right;
}
.right .vuuBackgroundCellDeprecated-flasher + .num {
  padding-right: 8px;
}

.up1 > .vuuBackgroundCellDeprecated-flasher {
  animation-duration: 30s;
  animation-name: reactbgup1;
}

.up2 > .vuuBackgroundCellDeprecated-flasher {
  animation-duration: 30s;
  animation-name: reactbgup2;
}

.down1 > .vuuBackgroundCellDeprecated-flasher {
  animation-duration: 30s;
  animation-name: reactbgdown1;
}

.down2 > .vuuBackgroundCellDeprecated-flasher {
  animation-duration: 30s;
  animation-name: reactbgdown2;
}

.up1.vuuBackgroundCellDeprecated-arrowOnly > .vuuBackgroundCellDeprecated-flasher {
  animation-duration: 30s;
  animation-name: reactarrowup1;
}

.up2.vuuBackgroundCellDeprecated-arrowOnly > .vuuBackgroundCellDeprecated-flasher {
  animation-duration: 30s;
  animation-name: reactarrowup2;
}

.down1.vuuBackgroundCellDeprecated-arrowOnly > .vuuBackgroundCellDeprecated-flasher {
  animation-duration: 30s;
  animation-name: reactarrowdown1;
}

.down2.vuuBackgroundCellDeprecated-arrowOnly > .vuuBackgroundCellDeprecated-flasher {
  animation-duration: 30s;
  animation-name: reactarrowdown2;
}

.up1.vuuBackgroundCellDeprecated-arrowBackground > .vuuBackgroundCellDeprecated-flasher {
  animation-duration: 30s;
  animation-name: reactbgarrowup1;
}

.up2.vuuBackgroundCellDeprecated-arrowBackground > .vuuBackgroundCellDeprecated-flasher {
  animation-duration: 30s;
  animation-name: reactbgarrowup2;
}

.down1.vuuBackgroundCellDeprecated-arrowBackground > .vuuBackgroundCellDeprecated-flasher {
  animation-duration: 30s;
  animation-name: reactbgarrowdown1;
}

.down2.vuuBackgroundCellDeprecated-arrowBackground > .vuuBackgroundCellDeprecated-flasher {
  animation-duration: 30s;
  animation-name: reactbgarrowdown2;
}
