
@keyframes vuubgup1 {
    0% {
      background-color: var(--vuu-color-green-50);
      color: white;
    }

    30% {
      color: white;
    }  
    33% {
      color: var(--vuu-color-gray-80);
    }  

    100% {
      background-color: transparent;
      color: var(--vuu-color-gray-80);
    }
  }
  
  @keyframes vuubgup2 {
    0% {
      background-color: var(--vuu-color-green-50);
      color: white;
    }

    30% {
      color: white;
    }  
    33% {
      color: var(--vuu-color-gray-80);
    }  

    100% {
      background-color: transparent;
      color: var(--vuu-color-gray-80);
    }
  }
  
  @keyframes vuubgdown1 {
    0% {
      background-color: var(--vuu-color-red-50);
      color: white;
    }
    30% {
      color: white;
    }  
    33% {
      color: var(--vuu-color-gray-80);
    }  
    100% {
      background-color: transparent;
      color: var(--vuu-color-gray-80);
    }
  }
  
  @keyframes vuubgdown2 {
    0% {
      background-color: var(--vuu-color-red-50);
      color: white;
    }
    30% {
      color: white;
    }  
    33% {
      color: var(--vuu-color-gray-80);
    }  
    100% {
      background-color: transparent;
      color: var(--vuu-color-gray-80);
    }
  }
  
  @keyframes vuuarrowup1 {
    from {
      color: var(--salt-differential-positive-foreground);
    }
    to {
      color: transparent;
    }
  }
  
  @keyframes vuuarrowup2 {
    from {
      color: var(--salt-differential-positive-foreground);
    }
    to {
      color: transparent;
    }
  }
  
  @keyframes vuuarrowdown1 {
    from {
      color: var(--salt-differential-negative-foreground);
    }
    to {
      color: transparent;
    }
  }
  
  @keyframes vuuarrowdown2 {
    from {
      color: var(--salt-differential-negative-foreground);
    }
    to {
      color: transparent;
    }
  }
  
  @keyframes vuubgarrowup1 {
    0% {
      color: var(--salt-differential-positive-foreground);
      background-color: var(--vuu-color-green-50);
    }
    20% {
      color: var(--salt-differential-positive-foreground);
      background-color: transparent;
    }
    100% {
      color: transparent;
      background-color: transparent;
    }
  }
  
  @keyframes vuubgarrowup2 {
    0% {
      color: var(--salt-differential-positive-foreground);
      background-color: var(--vuu-color-green-50);
    }
    20% {
      color: var(--salt-differential-positive-foreground);
      background-color: transparent;
    }
    100% {
      color: transparent;
      background-color: transparent;
    }
  }
  
  @keyframes vuubgarrowdown1 {
    0% {
      color: var(--salt-differential-negative-foreground);
      background-color: var(--vuu-color-red-50);
    }
    20% {
      color: var(--salt-differential-negative-foreground);
      background-color: transparent;
    }
    100% {
      color: transparent;
      background-color: transparent;
    }
  }
  
  @keyframes vuubgarrowdown2 {
    0% {
      color: var(--salt-differential-negative-foreground);
      background-color: var(--vuu-color-red-50);
    }
    20% {
      color: var(--salt-differential-negative-foreground);
      background-color: transparent;
    }
    100% {
      color: transparent;
      background-color: transparent;
    }
  }
  