@keyframes reactbgup1 {
    from {
      background-color: green;
    }
    to {
      background-color: transparent;
    }
  }
  
  @keyframes reactbgup2 {
    from {
      background-color: green;
    }
    to {
      background-color: transparent;
    }
  }
  
  @keyframes reactbgdown1 {
    from {
      background-color: red;
    }
    to {
      background-color: transparent;
    }
  }
  
  @keyframes reactbgdown2 {
    from {
      background-color: red;
    }
    to {
      background-color: transparent;
    }
  }
  
  @keyframes reactarrowup1 {
    from {
      color: white;
    }
    to {
      color: transparent;
    }
  }
  
  @keyframes reactarrowup2 {
    from {
      color: white;
    }
    to {
      color: transparent;
    }
  }
  
  @keyframes reactarrowdown1 {
    from {
      color: white;
    }
    to {
      color: transparent;
    }
  }
  
  @keyframes reactarrowdown2 {
    from {
      color: white;
    }
    to {
      color: transparent;
    }
  }
  
  @keyframes reactbgarrowup1 {
    0% {
      color: green;
      background-color: green;
    }
    20% {
      color: green;
      background-color: transparent;
    }
    100% {
      color: transparent;
      background-color: transparent;
    }
  }
  
  @keyframes reactbgarrowup2 {
    0% {
      color: green;
      background-color: green;
    }
    20% {
      color: green;
      background-color: transparent;
    }
    100% {
      color: transparent;
      background-color: transparent;
    }
  }
  
  @keyframes reactbgarrowdown1 {
    0% {
      color: red;
      background-color: red;
    }
    20% {
      color: red;
      background-color: transparent;
    }
    100% {
      color: transparent;
      background-color: transparent;
    }
  }
  
  @keyframes reactbgarrowdown2 {
    0% {
      color: red;
      background-color: red;
    }
    20% {
      color: red;
      background-color: transparent;
    }
    100% {
      color: transparent;
      background-color: transparent;
    }
  }
  