.App {
  position: absolute;
  top: 0;
  left: 0;
  right: 32px;
  bottom: 0;
  background-color: cornsilk;
  padding: 12px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.app-header,
.app-footer {
  flex: 0 0 32px;
  display: flex;
  align-items: center;
}

.app-header > * {
  margin-right: 6px;
}

.app-header .control-text,
.app-footer .control-text {
  position: inherit;
  border: solid 1px #ccc;
  width: 100px;
}

.model-debug {
  display: flex;
  align-items: top;
}

.model-leg {
  padding: 12px;
}

.leggy-form .control {
  background-color: inherit;
}

.field-label ~ .field div.empty {
  background-color: rgba(0, 0, 0, 0.05);
}
