.vuuProgressCell {
  --saltLinearProgress-minWidth: 100px;
  --saltLinearProgress-width: 100%;
}

.vuuProgressCell-progress-container {
  position: absolute;
  top: 2px;
  bottom: 2px;
  left: 3px;
  right: 3px;
}

.vuuProgressCell-progress-bar {
  background-color: cornflowerblue;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  transition: width;
  transition-duration: 0.1s;
}

.vuuProgressCell .num {
  position: absolute;
  top: 2px;
  bottom: 2px;
  left: 3px;
  right: 6px;
  width: auto;
}
