.vuuToolbar {
    background: var(--vuuToolbar-background, inherit);
    height: var(--vuuToolbar-height, 36px);
}

.vuuToolbarItem {
    height: 100%;
}

.vuuToolbarItem.vuuFocusVisible {
    outline-color: var(--vuuToolbarItem-outlineColor, var(--salt-focused-outlineColor));
    outline-style: dashed;
    outline-width: 1px;
    outline-offset: -1px;
  }
  