.vuuLayoutList {
  --vuuMeasuredContainer-flex: 1 1 1px;
  --vuuList-borderStyle: none;
  --vuuListItem-separator-color: transparent;

  background: var(
    --vuuLayoutList-background,
    var(--salt-container-primary-background)
  );
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0 var(--vuuLayoutList-padding, 0);

  .vuuListItem {
    border-bottom: none;
    justify-content: space-between;
  }
}

.vuuLayoutList-header {
  align-items: center;
  display: flex;
  flex: 0 0 48px;
  font-weight: 700;
  line-height: 2;
}

.vuuLayoutList-content {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  font-size: 12px;
  font-weight: 700;
  overflow: auto;
}

.vuuLayoutList-group {
  --vuuMeasuredContainer-flex: 0 0 auto;

  display: flex;
  flex-direction: column;

  .vuuLayoutList-groupHeader {
    flex: 0 0 32px;
    padding: 8px 0;
  }

  .vuuPalette {
    flex: 1 1 auto;
    height: auto;
  }
}

.vuuLayoutList-group:first-child {
  margin-top: 12px;
}

.vuuLayoutList-group + .vuuLayoutList-group {
  margin-top: 24px;
}

/* .vuuLayoutList-groupName {
  display: flex;
  padding-top: 24px;
  width: var(--vuuLayoutList-width);
  font-feature-settings: "ss02" on, "ss01" on, "salt" on, "liga" off;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 200%;
  letter-spacing: 0.48px;
  text-transform: uppercase;
} */

.vuuLayoutList-screenshot {
  width: 60px;
  height: 45.6px;
  border: 1px solid #d6d7da;
}

.vuuLayoutList-layoutDetails {
  color: var(--light-text-secondary, #606477);
  font-size: 10px;
  font-weight: 600;
  line-height: 150%;
}
