.vuuLayoutTile-layoutTile {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 0px;
  flex: 1 1 auto;
  cursor: pointer;
}

.vuuLayoutTile-layoutName {
  font-weight: 600;
  text-transform: uppercase;
}

.vuuLayoutTile-screenshot {
  width: 60px;
  height: 45.6px;
  border: 1px solid #d6d7da;
}

.vuuLayoutTile-layoutDetails {
  color: var(--salt-content-secondary-foreground);
  font-size: 10px;
  font-weight: 600;
  line-height: 150%;
}
