.control {
  position: relative;
}

.control-text {
  font-size: 11px;
  border: none;
  background-color: transparent;
  position: absolute;
  top: 0;
  right: 0px;
  bottom: 0;
  left: 0px;
  width: calc(100% - 3px);
  padding: 0 0 0 3px;
}

.control-text:focus {
  outline: none;
}

.control-icon {
  position: absolute;
  right: 0px;
  top: 3px;
  color: rgba(0, 0, 0, 0.3);
}

.control-icon.material-icons {
  font-size: 16px;
  text-align: right;
  width: 20px;
  overflow: hidden;
}
