.vuDialog, /* until we correctly set the className on FilteredGrid view in a dialog */
.vuuBlotter {
  --hwDialog-margin: 200px auto 0 auto;
  --hwParsedInput-background: white;
  --hwParsedInput-input-font-size: 12px;
  --hwParsedInput-height: 28px;
  --hwParsedInput-border-style: none none none solid;
  --hwParsedInput-width: calc(100% - var(--hwParsedInput-height));
  --vuuDataGrid-flex: 100% 0 0;
  --vuuDataGrid-font-size: 10px;
  --vuuDataGridCell-border-style: none;
  --vuuDataGridRow-background-odd: var(--salt-palette-neutral-background-high);
}

.vuuBlotter-gridContainer {
  height: calc(100% - 22px);
  inset: var(--hwParsedInput-height) 0 0 0;
}
