.vuuInstrumentPicker {
    height: 100%;
    padding: var(--vuuInstrumentPicker-padding, 12px);
    display: flex;
    flex-direction: column;
}

.vuuInstrumentPicker-inputField {
    --vuu-icon-size: 16px;
    flex: 0 0 40px;
}
.vuuInstrumentPicker-list {
    background-color: var(--salt-container-primary-background);
    flex: 1 1 auto;
}

.vuuInstrumentPicker .vuuTableNextCell {
    padding: 0;
}
