.vuuTablePicker {
  border-radius: 6px;
  height: var(--salt-size-base);
  padding: 1px;
  box-sizing: content-box;
}

.vuuTablePicker-floating-table {
  border: solid 1px var(--salt-container-secondary-borderColor);
  border-radius: 4px;
  overflow: auto;
  padding: var(--salt-spacing-100) 0;
  z-index: var(--salt-zIndex-popout);
}

[data-floating-ui-portal] [data-floating-ui-portal] .vuuTablePicker-floating-table {
  z-index: calc(var(--salt-zIndex-modal) + var(--salt-zIndex-popout));
}
