.vuuTypeaheadInput {
  .saltPillInput-activationIndicator {
    display: none;
  }

  .saltPillInput-endAdornmentContainer {
    padding:0;
  }

  .saltButton {
    --vuuButton-borderColor: transparent;
    height: 24px;
    width: 24px;
  }

  .saltButton:before {
    content: "";
    background-color: var(--salt-separable-secondary-borderColor);
    height: 100%;
    left: calc(-1 * var(--salt-spacing-100));
    position: absolute;
    width: 1px;
  }

  .saltButton:after {
    --vuu-icon-color: var(--salt-content-primary-foreground);
    --vuu-icon-size: 10px;
    --vuu-icon-transform: rotate(45deg);

    content: "";
    background-color: var(--vuu-icon-color);
    height: var(--vuu-icon-size);
    mask: var(--vuu-svg-triangle-right) center center/var(--vuu-icon-size)
      var(--vuu-icon-size);
    mask-repeat: no-repeat;
    position: absolute;
    top: 3px;
    transform: var(--vuu-icon-transform, none);
    width: var(--vuu-icon-size);
  }
}

.vuuTypeaheadOption[aria-disabled="true"] {
  color: var(--salt-content-secondary-foreground);
}
