/* Desktop Footer  */

footer {
    display: var(--vuu-footer-display, block);
      /* width: var(--vuu-desktop-width); */
      width: 100%;
      background-color: var(--vuu-dark-bg-background2);
      border: 1px solid  rgba(255, 255, 255, 0.2) ;
      color: var(--vuu-dark-text-secondary);
      font-family: 'Raleway';
      font-size: 16px;
      font-weight: 400;
      height: 330px;
    }
    
    .footer-columns {
      align-items: center; 
      display: flex;
      justify-content: space-between;
      margin: 0 auto;
      padding: 100px 193px;
      width: var(--vuu-desktop-width);
  
    }
    
    .footer-column-logo {
      font-weight: 500;
      width: 217px;
    }
   
    .footer-column-logo img{
      margin-bottom: 16px;
    }
      
    .footer-column:nth-of-type(2) {
      flex: 0.8; 
    }
    
    .footer-column-logo,
    .footer-column:nth-of-type(2) {
      display: flex;
      flex-direction: column;
      align-items: flex-start; 
      justify-content: center;
    }
    
    .footer-column ul {
      list-style: none;
    }
    
    
  .footer-finos-logo {
      opacity: 0.25;
  }
  
  .vuu-link-list {
      line-height: 26px;
      margin: 0;
      opacity: 0.8;
      width: 225px;
  }
  
  .vuu-copyright {
      opacity: 0.8;
      white-space: nowrap;
  }
  
  .vuu-separator {
      background-color: rgba(255, 255, 255, 0.1);
      flex: 0 0 1px;
      height: 62px;
  
  }