name: Benchmarks

on: 
  schedule:
    - cron:  '0 5,18 * * *'
    
jobs:
  build:
    if: ${{ github.event.repository.fork == false || github.event_name != 'schedule' }}
    runs-on: ubuntu-latest-16-cores
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: "20.x"
      - name: Set up JDK 1.17
        uses: actions/setup-java@v5
        with:
          java-version: 17
          java-package: jdk
          distribution: temurin
          cache: 'maven'
      - name: Install Modules
        run: mvn -B install --file pom.xml
      - name: Run Microbenchmarks
        run: mvn exec:exec -pl benchmark
