name: "Front End CI Build"
on: [push, pull_request]

jobs:
  build_vuu_ui:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Install Node & dependencies
        uses: ./.github/actions/setup-vuu-ui
      - run: cd ./vuu-ui && npm run build
