name: Create release branch and tag

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

on:
  workflow_dispatch:
    inputs:
      releaseVersion:
        description: "Default version to use when preparing a release."
        required: true
        default: "X.Y"
      developmentVersion:
        description: "Default version to use for new local working copy."
        required: true
        default: "X.Y-SNAPSHOT"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@v6

      - name: Switch git branch
        run: git switch -c release-${{ github.event.inputs.releaseVersion }}

      - name: Install Node
        uses: actions/setup-node@v6
        with:
          node-version: "20.x"

      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          java-version: 17
          java-package: jdk
          distribution: temurin
          cache: 'maven'

      - name: Configure git
        run: |
          git config committer.email "infra@finos.org"
          git config committer.name "FINOS Admin"
          git config author.email "${GITHUB_ACTOR}@users.noreply.github.com"
          git config author.name "${GITHUB_ACTOR}"

      - name: Make mvnw executable
        run: chmod +x mvnw

      - name: Prepare and perform maven release
        run: ./mvnw -B -ntp release:prepare release:perform -DreleaseVersion=${{ github.event.inputs.releaseVersion }} -DdevelopmentVersion=${{ github.event.inputs.developmentVersion }}

