name: Node CVE Scanning

on:
  push:
    paths:
      - '**/package.json'
      - '.github/workflows/cve-scanning-node.yml'
      - 'vuu-ui/allow-list.json'

jobs:
  scan-packages:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [16.x]
    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
      - run: yarn install --production --frozen-lockfile
        working-directory: vuu-ui
      - run: npx --yes auditjs ossi --whitelist allow-list.json
        working-directory: vuu-ui