name: Node CVE Scanning

on:
  workflow_dispatch:
  push:
    branches:
      - "main"
      - "release-*"
  pull_request:
    paths:
      - "**/package.json"
      - ".github/workflows/cve-scanning-node.yml"
      - "vuu-ui/allow-list.xml"

jobs:

  node-modules-scan:
    runs-on: ubuntu-latest

    env:
      OSS_INDEX_USERNAME: ${{ secrets.OSS_INDEX_USERNAME }}
      OSS_INDEX_API_KEY: ${{ secrets.OSS_INDEX_API_KEY }}

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Set up Node
        uses: actions/setup-node@v6
        with:
          node-version: 20.x

      - name: Build project with NPM
        run: npm install --omit=dev
        working-directory: vuu-ui

      - name: Depcheck
        if: ${{ env.OSS_INDEX_USERNAME != '' && env.OSS_INDEX_API_KEY != '' }}
        uses: dependency-check/Dependency-Check_Action@1e54355a8b4c8abaa8cc7d0b70aa655a3bb15a6c
        id: Depcheck
        with:
          project: 'vuu-ui'
          path: 'vuu-ui'
          format: 'HTML'
          out: 'reports'
          args: >
            --ossIndexUsername ${{ env.OSS_INDEX_USERNAME }}
            --ossIndexPassword ${{ env.OSS_INDEX_API_KEY }}
            --suppression allow-list.xml
            --nodeAuditSkipDevDependencies
            --nodePackageSkipDevDependencies
            --failOnCVSS 7
            --enableRetired

      - name: Upload Test results
        if: ${{ always() }}
        uses: actions/upload-artifact@v5
        with:
          name: Depcheck report
          path: ${{ github.workspace }}/reports
