name: Maven CVE Scanning

on:
  push:
    paths:
      - "**/pom.xml"
      - "allow-list.xml"
      - ".github/workflows/cve-scanning.yml"

jobs:
  depchecktest:
    runs-on: ubuntu-latest
    name: depecheck_test
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Build project with Maven
        run: mvn clean install
      - name: Depcheck
        uses: dependency-check/Dependency-Check_Action@78155aab85e9867e3c35f533e9ddad8ba7cdad7b # v2
        id: Depcheck
        with:
          project: "vuu"
          path: "./vuu"
          format: "HTML"
          out: "reports" # this is the default, no need to specify unless you wish to override it
          args: >
            --failOnCVSS 5
            --enableRetired
      - name: Upload Test results
        if: ${{ always() }}
        uses: actions/upload-artifact@v4
        with:
          name: Depcheck report
          path: ${{ github.workspace }}/reports
