name: Legal report with Node

on:
  push:
    paths:
      - "**/package.json"
      - ".github/workflows/legal-report-node.yml"

jobs:

  scan-packages:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set up Node
        uses: actions/setup-node@v3
        with:
          node-version: 20.x

      - name: Build project with NPM
        run: npm install --omit=dev
        working-directory: vuu-ui

      - run: npx node-license-validator . --allow-licenses MIT ISC 0BSD BSD BSD-3-Clause Apache-2.0
        working-directory: vuu-ui
