name: Legal report with Maven

on:
  push:
    paths:
      - '**/pom.xml'
      - '.github/workflows/legal-report.yml'

jobs:

  legal-report:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Set up JDK 1.17
      uses: actions/setup-java@v1
      with:
        java-version: 1.17
        cache: maven

    - name: Build project with Maven
      run: mvn clean install -DskipTests

    - name: License report
      run: mvn org.apache.maven.plugins:maven-site-plugin:3.21.0:site org.apache.maven.plugins:maven-project-info-reports-plugin:3.4.1:licenses -P legal-report

  legal-scanning:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        package-folder: [".", vuu-ui, toolbox, vuu]

    steps:
    - uses: actions/checkout@v3

    - name: Set up JDK 1.17
      uses: actions/setup-java@v4
      with:
        java-version: 17
        java-package: jdk
        distribution: temurin
        cache: 'maven'

    - name: Install XQ
      run: pip install xq

    - name: Build with Maven
      run: mvn clean install

    - name: License XML report
      run: mvn org.codehaus.mojo:license-maven-plugin:2.0.0:download-licenses

    - name: Validate XML report
      run: |
        LICENSE_REPORT=`xq "//dependency[licenses/license/name!='The Apache Software License, Version 2.0' and licenses/license/name!='BSD' and licenses/license/name!='BSD-style license' and licenses/license/name!='Apache License, Version 2.0']" ${{ matrix.package-folder }}/target/generated-resources/licenses.xml`
        LINES_FOUND=`echo $LICENSE_REPORT | wc -l`
        if [ $LINES_FOUND -gt 1 ]; then echo $LICENSE_REPORT ; exit -1; fi

    - name: Upload license reports
      uses: actions/upload-artifact@v4
      with:
        name: ${{ matrix.package-folder }}-license-reports
        path: '**/dependencies.html'

    - name: Upload license XML reports
      uses: actions/upload-artifact@v4
      with:
        name: ${{ matrix.package-folder }}-license-xml-report
        path: '**/target/generated-resources/licenses.xml'
