name: Publish to MVN Central

env:
  CI_DEPLOY_USERNAME: ${{ secrets.CI_DEPLOY_USERNAME }}
  CI_DEPLOY_PASSWORD: ${{ secrets.CI_DEPLOY_PASSWORD }}
  CI_GPG_PASSPHRASE: ${{ secrets.CI_GPG_PASSPHRASE }}
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

on:
  push:
    tags:
      - "vuu-parent-*.*.*"   # e.g. vuu-parent-0.9.109

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@v6

      - name: Install Node
        uses: actions/setup-node@v6
        with:
          node-version: "20.x"

      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          java-version: 17
          java-package: jdk
          distribution: temurin
          cache: 'maven'
          server-id: ossrh
          server-username: CI_DEPLOY_USERNAME
          server-password: CI_DEPLOY_PASSWORD
          gpg-private-key: ${{ secrets.CI_GPG_PRIVATE_KEY }}
          gpg-passphrase: CI_GPG_PASSPHRASE

      - name: Make mvnw executable
        run: chmod +x mvnw

      - name: Build and Publish with Maven
        run: ./mvnw -B -ntp clean install -DskipTests -P sign-it -Dsign=true org.sonatype.central:central-publishing-maven-plugin:publish

