name: Server CI Build

on:
  workflow_dispatch:
  push:
    branches:
      - "main"
      - "release-*"
  pull_request:
    paths-ignore:
      - "vuu-ui/**"

permissions:
  contents: read
  pull-requests: write  # required for PR annotations

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-node@v6
        with:
          node-version: "20.x"

      - name: Set up JDK 1.17
        uses: actions/setup-java@v5
        with:
          java-version: 17
          java-package: jdk
          distribution: temurin
          cache: 'maven'

      - name: Make mvnw executable
        run: chmod +x mvnw

      - name: Build with Maven
        run: ./mvnw -B -ntp verify

      - name: Publish Test Results
        uses: EnricoMi/publish-unit-test-result-action@v2
        if: always()
        with:
          files: |
            **/target/surefire-reports/*.xml
            **/target/failsafe-reports/*.xml