name: "Test"
on:
  workflow_dispatch:
  pull_request:

jobs:
  vitest:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "16"
      - name: Cache dependencies
        uses: actions/cache@v2
        with:
          path: ~/.npm
          key: npm-${{ hashFiles('package-lock.json') }}
          restore-keys: npm-
      - name: Install dependencies
        run: cd ./vuu-ui && npm install
      - run: cd ./vuu-ui && npm run test:vite

  cypress-e2e:
    # As a third party action, cypress-io is pinned to a full length commit SHA for security purposes.
    # This is also a requirement for the semgrep (static code analysis) scan to pass.
    # https://docs.github.com/en/actions/security-guides/security-hardening-for-github-actions#using-third-party-actions
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "16"
      - name: Cache dependencies
        uses: actions/cache@v2
        with:
          path: ~/.npm
          key: npm-${{ hashFiles('package-lock.json') }}
          restore-keys: npm-
      - name: Install dependencies
        run: cd ./vuu-ui && npm install
      - name: Run end-to-end tests in Chrome
        uses: cypress-io/github-action@bd9dda317ed2d4fbffc808ba6cdcd27823b2a13b
        with:
          install: false
          working-directory: ./vuu-ui
          browser: chrome
          build: npm run build
          start: npm run showcase
          wait-on: "http://localhost:5173"
      - name: Run end-to-end tests in Edge
        uses: cypress-io/github-action@bd9dda317ed2d4fbffc808ba6cdcd27823b2a13b
        with:
          install: false
          working-directory: ./vuu-ui
          browser: edge
          build: npm run build
          start: npm run showcase
          wait-on: "http://localhost:5173"

  # ensure the vuu example and showcase still build
  vuu-and-showcase-build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "16"
      - name: Install dependencies
        run: cd ./vuu-ui && npm install
      - name: Build Vuu Libraries
        run: cd ./vuu-ui && npm run build
      - name: Build showcase
        run: cd ./vuu-ui && npm run showcase:build
      - name: Build Vuu app
        run: cd ./vuu-ui && npm run build:app
