name: "Test UI"
on:
  workflow_dispatch:
  pull_request:

jobs:
  lint-and-typecheck:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Install Node & dependencies
        uses: ./.github/actions/setup-vuu-ui
      - run: cd ./vuu-ui && npm run lint
      - run: cd ./vuu-ui && npm run typecheck

  vitest:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Install Node & dependencies
        uses: ./.github/actions/setup-vuu-ui
      - run: cd ./vuu-ui && npm run test:vite

  cypress-e2e:
    # As a third party action, cypress-io is pinned to a full length commit SHA for security purposes.
    # This is also a requirement for the semgrep (static code analysis) scan to pass.
    # https://docs.github.com/en/actions/security-guides/security-hardening-for-github-actions#using-third-party-actions
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Install Node & dependencies
        uses: ./.github/actions/setup-vuu-ui
      - name: Run end-to-end tests in Chrome
        uses: cypress-io/github-action@bd9dda317ed2d4fbffc808ba6cdcd27823b2a13b
        with:
          install: false
          working-directory: ./vuu-ui
          browser: chrome
          build: npm run showcase:build
          start: npm run showcase:preview, npm run layout-server
          wait-on: http://localhost:4173, http://localhost:8081/api/swagger-ui/index.html
      - name: Run end-to-end tests in Edge
        uses: cypress-io/github-action@bd9dda317ed2d4fbffc808ba6cdcd27823b2a13b
        with:
          install: false
          working-directory: ./vuu-ui
          browser: edge
          build: npm run showcase:build
          start: npm run showcase:preview
          wait-on: http://localhost:4173, http://localhost:8081/api/swagger-ui/index.html

  # ensure the vuu example still builds
  vuu-app-build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Install Node & dependencies
        uses: ./.github/actions/setup-vuu-ui
      - name: Build Vuu Libraries
        run: cd ./vuu-ui && npm run build
      - name: Build Vuu app
        run: cd ./vuu-ui && npm run build:app
