name: Server CI Build

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-node@v6
        with:
          node-version: "20.x"

      - name: Set up JDK 1.17
        uses: actions/setup-java@v5
        with:
          java-version: 17
          java-package: jdk
          distribution: temurin
          cache: 'maven'

      - name: Make mvnw executable
        run: chmod +x mvnw

      - name: Build with Maven
        run: ./mvnw -B -ntp verify

      - name: Publish test results
        if: always()
        uses: actions/upload-test-results@v2
        with:
          files: |
            **/target/surefire-reports/*.xml
            **/target/failsafe-reports/*.xml
