.vuuFilterDropdown,
.vuuFilterSwitch {
    --saltToolbarField-marginTop: 0;

    height: 100%;
}

.vuuFilterDropdown.saltFormField-focused:before {
    top: 2px !important;
    bottom: 2px !important;
}