.vuuTableRow {
  background: var(--row-background, var(--table-background));
  border-bottom: 1px solid var(--row-borderColor, var(--table-background));
  box-sizing: border-box;
  color: var(--salt-content-secondary-foreground);
  contain: strict;
  contain-intrinsic-height: var(--row-height);
  content-visibility: auto;
  height: var(--row-height);
  line-height: var(--row-height);
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 100%;
}

.vuuTableRow-proxy {
  position: absolute !important;
  visibility: hidden;
}

.vuuTableRow-even {
  --row-background: var(--row-background-even);
}

.vuuTableRow-highlighted {
  background: var(--salt-selectable-background-hover);
}

.vuuTableRow-selected,
.vuuTableRow-selectedEnd {
  /* --row-borderColor: var(--salt-separable-secondary-borderColor); */
  background-color: var(--salt-selectable-background-selected);
}

.vuuTableRow-selectedEnd {
  z-index: 1;
}

.vuuTableRow-selectedStart {
  --vuu-selection-decorator-left-radius: 5px 0 0 0;
  --vuu-selection-decorator-right-radius: 0 5px 0 0;

  border-radius: 5px 5px 0 0;
}

.vuuTableRow-selectedEnd {
  --vuu-selection-decorator-left-radius: 0 0 0 5px;
  --vuu-selection-decorator-right-radius: 0 0 5px 0;
  border-radius: 0 0 5px 5px;
}

.vuuTableRow-selectedStart.vuuTableRow-selectedEnd {
  --vuu-selection-decorator-left-radius: 5px 0 0 5px;
  --vuu-selection-decorator-right-radius: 0 5px 5px 0;
  border-radius: 5px 5px 5px 5px;
}

.vuuTableRow-selectedStart:after {
  content: "";
  position: absolute;
  top: -1px;
  left: 4px;
  height: 1px;
  background: var(--vuuTableRow-selectionBlock-borderColor);
  width: calc(var(--content-width) - 8px);
  z-index: 1;
}

.vuuTableRow-selectedEnd {
  border-bottom-color: var(
    --vuuTableRow-selectionBlock-borderColor,
    var(--row-borderColor)
  );
}

.vuuTableRow-selectionDecorator {
  background: var(--table-background);
  display: inline-block;
  position: relative;
  height: var(--row-height);
  width: 4px;
  z-index: 2;
}

.vuuTableRow-selectionDecorator.vuuStickyLeft {
  left: 0;
  position: sticky;
}

.vuuTableRow-selectionDecorator.vuuStickyRight {
  right: 0;
  position: sticky;
}

.vuuTableRow-selectedStart .vuuTableRow-selectionDecorator:before,
.vuuTableRow-selectedEnd .vuuTableRow-selectionDecorator:before {
  content: "";
  inset: -1px 0 0 0;
  position: absolute;
  background: var(--table-background);
}

.vuuTableRow-selectionDecorator.vuuStickyLeft:before {
  border-radius: var(--vuu-selection-decorator-left-radius, 0);
}

.vuuTableRow-selectionDecorator.vuuStickyRight:before {
  border-radius: var(--vuu-selection-decorator-right-radius, 0);
}

.vuuTableRow-expanded {
  --toggle-icon-transform: rotate(90deg);
}

.vuuDraggable .vuuTableRow {
  --cell-borderColor: transparent;
  --vuu-selection-decorator-bg: transparent;
  transform: none !important;
  z-index: 1;
}
