.vuuTableRow {
  background: var(--row-background,#fff);
    border-bottom: 1px solid var(--row-borderColor);
    box-sizing: border-box;
    height: var(--row-height);
    line-height: calc(var(--row-height) - 1px);
    position: absolute;
    top:0;
    white-space: nowrap;
    }
    
.vuuTableRow-proxy {
  visibility: hidden;
}

.vuuTableRow-even {
  --row-background: var(--row-background-even);
}

.vuuTableRow-highlighted {
  background-color: var(--salt-selectable-background-hover);
}


.vuuTableRow-selected,
.vuuTableRow-selectedEnd {
  --row-borderColor: var(--salt-separable-secondary-borderColor);
  background-color: var(--salt-selectable-background-selected);
}

.vuuTableRow-selectedEnd {
  z-index: 1;
}

.vuuTable-zebra {
  .vuuTableRow-even.vuuTableRow-selected,
  .vuuTableRow-even.vuuTableRow-selectedEnd {
    /** thisis really where we want a darken function */
  background-color: var(--vuu-color-gray-07);

  }
}
  
    .vuuTableRow-selectedStart {
        --vuu-selection-decorator-left-radius: 5px 0 0 0;
        --vuu-selection-decorator-right-radius: 0 5px 0 0;
        border-radius: 5px 5px 0 0;
      }
    
      .vuuTableRow-selectedEnd {
        --vuu-selection-decorator-left-radius: 0 0 0 5px;
        --vuu-selection-decorator-right-radius: 0 0 5px 0;
        border-radius: 0 0 5px 5px;
      }
    
      .vuuTableRow-selectedStart.vuuTableRow-selectedEnd {
        --vuu-selection-decorator-left-radius: 5px 0 0 5px;
        --vuu-selection-decorator-right-radius: 0 5px 5px 0;
        border-radius: 5px 5px 5px 5px;
    
      }
    
    .vuuTableRow-selectedStart:after {
        content: '';
        position: absolute;
        top:0;
        left: 4px;
        height: 1px;
        background-color: var(--vuu-color-purple-10);
        width: calc(var(--content-width) - 8px);
        z-index: 1;
      }
    
    .vuuTableRow-selectedEnd {
        border-bottom-color: var(--vuu-color-purple-10);
      }
    
      .vuuTableRow-selectionDecorator {
        background-color: var(--vuu-selection-decorator-bg, white);
        display: inline-block;
        position: relative;
        height: var(--row-height);
        width: 4px;
        z-index: 2;
      }
    
      .vuuTableRow-selectionDecorator.vuuStickyLeft {
        left:0;
        position: sticky;
      }
    
      .vuuTableRow-selectionDecorator.vuuStickyRight {
        right:0;
        position: sticky;
      }
    
      .vuuTableRow-selected {
        --vuu-selection-decorator-bg: var(--vuu-color-purple-10);
    
      }
      
      .vuuTableRow-selectedStart {
        --vuu-selection-decorator-bg: white;
      }
      
      .vuuTableRow-selectedEnd {
        --vuu-selection-decorator-bg: white;
      }
    
    
      .vuuTableRow-selectedStart .vuuTableRow-selectionDecorator:before,
      .vuuTableRow-selectedEnd .vuuTableRow-selectionDecorator:before {
        content: '';
        inset: 0;
        position: absolute;
        background-color: var(--vuu-color-purple-10);
      }
    
    
      .vuuTableRow-selectionDecorator.vuuStickyLeft:before {
        border-radius: var(--vuu-selection-decorator-left-radius, 0);
      }
    
      .vuuTableRow-selectionDecorator.vuuStickyRight:before {
        border-radius: var(--vuu-selection-decorator-right-radius, 0);
      }

      .vuuTableRow-expanded {
        --toggle-icon-transform: rotate(90deg);
      }
    
      .vuuDraggable .vuuTableRow {
        --cell-borderColor: transparent;
        --vuu-selection-decorator-bg: transparent;
        transform: none!important;
        z-index: 1;
      }