.vuuTableRow {
  background: var(--row-background, var(--table-background));
  border-bottom: 1px solid var(--row-borderColor, var(--table-background));
  box-sizing: border-box;
  color: var(--salt-content-secondary-foreground);
  contain: layout;
  /* contain-intrinsic-height: var(--row-height);
  content-visibility: auto; */
  height: var(--row-height);
  line-height: var(--row-height);
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 100%;
}

.vuuTableRow-proxy {
  position: absolute !important;
  visibility: hidden;
}

.vuuTableRow-even {
  --row-background: var(--row-background-even);
}

.vuuTableRow-highlighted {
  background: var(--salt-selectable-background-hover);
}


.vuuTableRow[aria-selected="true"] {
  background-color: var(--VuuTableRow-selected-background, var(--salt-selectable-background-selected));
}

.vuuTableRow[aria-expanded="true"] {
  --toggle-icon-transform: rotate(90deg);
}

.vuuDraggable .vuuTableRow {
  --cell-borderColor: transparent;
  --vuu-selection-decorator-bg: transparent;
  transform: none !important;
  z-index: 1;
}
