.vuuTable {
  --vuu-table-cell-outlineWidth: 1px;
  --table-height: var(--measured-px-height);
  --table-width: var(--measured-px-width);
  --vuu-table-next-selection-bookend-width: 4px;
  --vuu-table-embedded-control-height: calc(var(--row-height) - 3px);
  --vuu-table-col-header-height: var(--vuuTableHeaderCell-height, 25px);
  --vuu-table-col-heading-height: 25px;
  --columnResizer-color: transparent;
  --row-height: var(
    --row-height-prop,
    var(--vuu-table-row-height, var(--salt-size-base))
  );

  --cell-borderColor: transparent;
  --row-borderColor: var(--row-background);
  --table-background: var(--salt-container-primary-background);

  background: var(--table-background);
  font-family: var(
    --vuuTable-fontFamily,
    var(--salt-typography-fontFamily, sans-serif)
  );
  font-size: var(--vuuTable-fontSize, var(--salt-text-fontSize, 12px));
  position: relative;
  user-select: none;
}

.vuuTable-zebra {
  --row-background-even: var(--salt-palette-neutral-secondary-background);
}

.vuuTable-colLines {
  --cell-borderColor: var(--salt-separable-tertiary-borderColor);
}

.vuuTable-rowLines {
  --row-borderColor: var(--salt-separable-tertiary-borderColor);
}

.vuuTable-scrollbarContainer {
  border-bottom: none !important;
  border-top: none !important;
  border-left: solid 1px var(--salt-container-primary-borderColor);
  /*  a top border */
  /** creates a border to top od scrollbar */
  /* box-shadow: 0px -1px 0px 0px var(--salt-container-primary-borderColor); */
  height: var(--viewport-body-height);
  left: 0px;
  overflow: auto;
  position: absolute;
  top: var(--total-header-height);
  width: var(--table-width);
}

.vuuTable-scrollbarContainer::-webkit-scrollbar {
  width: 10px;
}

.vuuTable-scrollbarContainer::-webkit-scrollbar:horizontal {
  height: 10px;
}

.vuuTable-scrollbarContainer::-webkit-scrollbar-track {
  background-color: transparent;
}
.vuuTable-scrollbarContainer::-webkit-scrollbar-thumb {
  background-clip: padding-box;
  border-radius: 10px;
  border: 2px solid rgba(0, 0, 0, 0);
  background-color: var(--vuu-color-gray-30);
}

.vuuTable-scrollbarContent {
  height: calc(var(--content-height) + var(--horizontal-scrollbar-height));
  position: absolute;
  width: var(--content-width);
}

.vuuTable-contentContainer {
  background: var(--table-background);
  height: calc(100% - var(--horizontal-scrollbar-height));
  position: relative;
  overflow: auto;
  overscroll-behavior: none;
  width: calc(var(--table-width) - var(--vertical-scrollbar-width));
}

.vuuTable-contentContainer::-webkit-scrollbar {
  display: none;
}

.vuuTable-table {
  position: absolute;
  top: 0;
  left: 0;
  table-layout: fixed;
  width: var(--content-width);
  margin: 0;
  border: none;
  border-collapse: separate;
  border-spacing: 0;
}

.vuuTable-body {
  height: var(--content-height);
  position: relative;
}

.vuuPinLeft,
.vuuPinRight {
  background-color: inherit;
  position: sticky;
  z-index: 1;
}

.vuuTable-col-headings {
  background-color: var(
    --vuuTableColHeadings-background,
    var(--table-background)
  );
  padding: 0 var(--vuu-table-next-selection-bookend-width, 0);
  position: sticky;
  top: 0;
  /* ensure header row sits atop everything else when scrolling down */
  z-index: 1;
}

.vuuTable-col-headings:hover {
  --columnResizer-height: var(--vuu-table-col-header-height);
  --columnResizer-color: var(--salt-separable-tertiary-borderColor);
}

.vuuTable-heading {
  height: var(--vuu-table-col-heading-height);
}

.vuuTable-col-headers {
  background-color: var(
    --vuuTableColHeadings-background,
    var(--vuuTableColHeadings-background)
  );
  border-bottom: solid 1px
    var(
      --vuuTableColHeaders-borderColor,
      var(--salt-separable-secondary-borderColor)
    );
  color: var(--salt-content-secondary-foreground);
  height: var(--vuu-table-col-header-height);
  white-space: nowrap;

  .vuuDraggable-spacer {
    border-bottom: solid 1px #ccc;
    height: var(--vuu-table-col-header-height);
  }
}

.sizer-cell {
  border: none !important;
  height: 0px;
}

.vuuDraggable-vuuTable {
  --cell-borderColor: transparent;
  --vuu-table-col-header-height: var(--vuuTableHeaderCell-height, 25px);
  --vuuTableHeaderCell-background: var(--salt-container-secondary-background);
}
.vuuDraggable-vuuTable {
  --row-height: 25px;
}
