.vuuTable {
    --cell-outline-width: 2px;
    user-select: none;
}

.vuuTable-table td {
    --saltEditableLabel-height: 17px;
    --saltInput-height: 17px;
    --saltInput-minHeight: 17px;

    border-right: 1px solid var(--vuuTableCell-border-rightColor);
    border-bottom: 1px solid var(--vuuTableCell-border-bottomColor);
    color: var(--salt-text-primary-foreground);
    cursor: default;
    height: var(--vuuTable-rowHeight);
    line-height: calc(var(--vuuTable-rowHeight) - 1px);
    overflow: hidden;
    padding: 0 5px;
}


.vuuTable th:focus,
.vuuTable td:focus {
    outline: var(--vuuTableCell-outline, dotted var(--salt-color-blue-400) var(--cell-outline-width));
    outline-offset: calc(var(--cell-outline-width) * -1);
    /** This is to achieve a white background to outline dashes */
    box-shadow: inset 0 0 0 var(--cell-outline-width) white;
    border-bottom: none;
}

.vuuTable th:focus .vuuTable-headerCell-inner{
    /** This is to achieve a white background to outline dashes */
    padding-bottom: var(--cell-outline-width);
}

.vuuTable th:not(.vuuTable-headerCell-resizing):focus .vuuTable-headerCell-inner{
    --columnResizer-color: transparent;
}


.vuuTable td:focus {
    /** This is to achieve a white background to outline dashes */
    border-right: none;
    padding-bottom: 1px;
}


td[data-editable="true"] {
    --salt-text-fontSize: 10px;
    --vuu-icon-size: 5px;
    position: relative;
}

td[data-editable="true"]:after {
    top: 0;
    content: "";
    background-color: var(--salt-text-secondary-foreground, black);
    left: 0;
    height: var(--vuu-icon-height, var(--vuu-icon-size, 12px));
    -webkit-mask: var(--svg-corner-triangle) center center/var(--vuu-icon-size) var(--vuu-icon-size);
    mask: var(--svg-corner-triangle) center center/var(--vuu-icon-size) var(--vuu-icon-size);
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    position: absolute;
    transform: rotate(180deg);
    width: var(--vuu-icon-width, var(--vuu-icon-size, 12px));
  }
  
td:focus[data-editable],
td:focus-within[data-editable],
td:has(.saltEditableLabel-editing) {
    outline: solid var(--salt-color-blue-400) 1px;
    background-color: white;
    outline-offset: -1px;
}

td:focus[data-editable="true"]:after,
td:has(.saltEditableLabel):after {
        /* background-color: black; */
    background-color: var(--salt-color-blue-400);
    left: 1px;
    top: 1px;
}
