  .vuuTableRow {
    background: transparent;
    /* background: var(--row-background); */
  }

  .vuuTableRow-even {
    --row-background: var(--row-background-even);
  }

  .vuuTableRow :is(.vuuPinFloating, .vuuPinLeft, .vuuPinRight) {
    background-color: var(--row-background);
  }
  
  .vuuTableRow-expanded {
    --row-toggle-icon-transform: rotate(90deg);
  }
  
  .vuuTableRow[aria-selected] {
    background-color: var(--vuuTableRow-selected-background, var(--salt-selectable-background-selected));
    --vuuTableCell-border-bottomColor: var(--salt-selectable-borderColor-selected);
  }

  /* .vuuTableRow:not([aria-selected]):has(+ [aria-selected]) {
    --vuuTableCell-border-bottomColor: var(--salt-selectable-borderColor-selected);
  } */

  .vuuTableRow-preSelected {
    --vuuTableCell-border-bottomColor: var(--salt-selectable-borderColor-selected);
  }