.vuuTableGroupCell {
    --spacer-width: 20px;
    --toggle-icon-transform: var(--row-toggle-icon-transform, none);
    --vuu-icon-width: 18px;
    display: flex;
    align-items: center;
}

.vuuTableGroupCell-spacer {
    height: 100%;
    position: relative;
    width: var(--spacer-width);
}

.vuuTableGroupCell-spacer:after {
    background: var(--salt-container-primary-borderColor);
    content: '';
    position: absolute;
    top:0;
    bottom: -1px;
    /* left: calc(var(--spacer-width / 2)); */
    left: 9px;
    width: 1px;
}

.vuuTableGroupCell-toggle {
    transition: transform 0.25s;
    transform: var(--toggle-icon-transform);
}


/* .vuuTableGroupCell-toggle[data-icon='triangle-right']{
    --vuu-icon-svg: var(--svg-plus-box);
}

.vuuTableRow-expanded .vuuTableGroupCell-toggle[data-icon='triangle-right']{
    --vuu-icon-svg: var(--svg-minus-box);
} */
