/* We support multi level headings up to a  maximum of 4 heading levels */
.vuuTable-heading:nth-child(2) {
  --heading-top: calc(var(--header-height));
}
.vuuTable-heading:nth-child(3) {
  --heading-top: calc(var(--header-height) * 2);
}
.vuuTable-heading:nth-child(3) {
  --heading-top: calc(var(--header-height) * 3);
}

.vuuTable-headingCell {
  background: var(--dataTable-background);
  border-color: var(--salt-separable-tertiary-borderColor);
  border-style: solid solid solid none;
  border-width: 1px;
  color: var(--salt-text-secondary-foreground);
  display: inline-block;
  height: var(--vuuTableHeaderHeight);
  padding: 0 !important;
}

.vuuTable-heading:has(+ .vuuTable-heading) > .vuuTable-headingCell {
  border-bottom-color: transparent;
}

[role="columnHeader"] {
  --vuuTableCell-border-bottomColor: var(--salt-separable-tertiary-borderColor);
  --cell-align: 'flex-start';
  display: inline-block;
  text-align: left;
    background: var(--dataTable-background);
    border-right: 1px solid var(--vuuTableCell-border-rightColor);
    border-bottom: 1px solid var(--vuuTableCell-border-bottomColor);
    color: var(--salt-text-secondary-foreground);
    cursor: default;
    height: var(--vuuTableHeaderHeight);
    padding: 0 !important;
    vertical-align: top;
  }

  .vuuTable-headerCell-right {
    --cell-align: flex-end;
  }
 
  .vuuTable-headerCell-inner {
    align-items: stretch;
    display: flex;
    height: 100%;
    padding: 0 0 0 3px;
  }

  .vuuTable-headerCell-inner:has(.vuuFilterIndicator){
    padding-left: 0;
  }

  .vuuTable-headerCell-label {
    align-items: center;
    justify-content: var(--cell-align);
    display: flex;
    flex: 1 1 auto;
  }

  .vuuTable-headerCell-resizing {
    --columnResizer-color: var(--salt-color-blue-500);
    --columnResizer-height: var(--table-height);
    --columnResizer-width: 2px;
  }

  [role='headerCell'].vuuPinLeft.vuuEndPin:after {
    box-shadow: 2px 0px 5px rgba(0,0,0,0.4);
    content: "";
    position: absolute;
    width: 1px;
    background-color: transparent;
    height: var(--table-height);
    top:0;
    right: 0px;
  }

  [role='headerCell'].vuuPinRight.vuuEndPin:after {
    box-shadow: -2px 0px 5px rgba(0,0,0,0.3);
    content: "";
    position: absolute;
    width: 1px;
    background-color: transparent;
    height: var(--table-height);
    top:0;
    left: 0px;
  }

  [role='headerCell']:is(.vuuPinLeft, .vuuPinRight, .vuuPinFloating) {
    top:0;
    z-index: 20;
  }
  
  .saltDraggable-vuuTable-headerCell {
    --dataTable-background: ivory;
    --vuuTableHeaderHeight: 25px;
  }