.vuuParsedInput:not(.uitkDropdown-popup) {
  --vuuView-flex-grow: 0;
  --vuuView-flex-shrink: 0;
  --parsedInput-fontSize: var(--uitk-text-fontSize, 24px);
  --parsedInput-height: var(--uitk-size-base, 36px);
  --padding-end: 0px;
  --padding-start: 6px;

  --vuuTokenMirror-fontSize: var(--parsedInput-fontSize);
  --vuuTokenMirror-height: 100%;
  --vuuTokenMirror-left: var(--padding-left);
  --vuuTokenMirror-lineHeight: var(--parsedInput-height);
  --vuuTokenMirror-position: absolute;
  --vuuTokenMirror-top: 0;
  --vuuTokenMirror-width: 100%;


  border-color: var(--vuuParsedInput-border-color, #ccc);
  border-style: var(--vuuParsedInput-border-style, solid);
  border-width: var(--vuuParsedInput-border-width, 1px);

  height: var(--parsedInput-height);
  padding: 0 var(--padding-end) 0 var(--padding-start);
}


