.vuuTokenMirror {
  color: transparent;
  display: flex;
  font-size: var(--vuuTokenMirror-fontSize, 24px);
  height: var(--vuuTokenMirror-height, auto);
  left: var(--vuuTokenMirror-left, auto);
  letter-spacing: normal;
  line-height: var(--vuuTokenMirror-lineHeight, 1.3);
  position: var(--vuuTokenMirror-position, relative);
  top: var(--vuuTokenMirror-top, auto);
  width: var(--vuuTokenMirror-width, auto);
}

.vuuTokenMirror-token {
  line-height: inherit;
  position: relative;
  white-space: pre;
}

.vuuTokenMirror-completion {
  color: #ccc;
  line-height: inherit;
}

.vuuTokenMirror-column:before {
  border-radius: 3px;
  bottom: 3px;
  content: '';
  position: absolute;
  top: 3px;
  left: -3px;
  right: -3px;
}

.vuuTokenMirror-column:before {
  background-color: blue;
  opacity: 0.3;
}

.vuuTokenMirror-name {
  color: black;
}

.vuuTokenMirror-name:before {
  background-color: red;
  bottom: 3px;
  content: '';
  height: 2px;
  position: absolute;
  left: -3px;
  right: -3px;
  z-index: -1;
}
